<template>
    <base-modal v-model="show" :loading="!sourceSchedule" :width="500">
        <template v-slot:title>
            {{ $t('schedule.duplicate-schedule') }}
        </template>

        <v-text-field
            v-model="title"
            :label="$t('schedule.title')"
            :error-messages="errors.title"
            autofocus
            :disabled="saving"
        />
        <v-row>
            <v-col cols="12" sm="6" xs="4">
                <date-field
                    v-model="start_at"
                    :label="$t('schedule.start-at')"
                    :error-messages="errors.start_at"
                    :disabled="saving"
                />
            </v-col>
            <v-col cols="12" sm="6" xs="4">
                <date-field
                    v-model="end_at"
                    :label="$t('schedule.end-at')"
                    :error-messages="errors.end_at"
                    :disabled="saving"
                />
            </v-col>
        </v-row>

        <template v-slot:actions>
            <v-spacer />
            <v-btn @click="show = false">{{ $t('global.cancel') }}</v-btn>
            <v-btn @click="submit" :disabled="saving">{{ $t('global.save') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            show: true,
            sourceSchedule: null,
            title: '',
            start_at: null,
            end_at: null,
            errors: {
                title: [],
                start_at: [],
                end_at: [],
            },
            saving: false,
        };
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                this.$router.push({name: 'admin-schedule', query: this.$route.query});
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.load();
        next();
    },
    methods: {
        load() {
            this.sourceSchedule = null;
            this.title = '';
            this.start_at = null;
            this.end_at = null;
            this.$request.get(`/api/shop-schedules/${this.$route.params.fromSchedule}`).then((response) => {
                this.sourceSchedule = response.data.data;
            });
        },
        submit() {
            this.saving = true;
            this.$request.post('/api/shop-schedules', {
                title: this.title,
                start_at: this.start_at,
                end_at: this.end_at,
                duplicate_schedule: this.sourceSchedule.id,
            }).then((response) => {
                this.show = false;
                this.$eventBus.emit('schedule-created', response.data.data);
            }).catch((error) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = !!error.response && !!error.response.data && !!error.response.data.errors ?
                        (error.response.data.errors[key] || []) :
                        [];
                });
                this.saving = false;
            });
        },
    },
}
</script>