<template>
    <base-page :title="$t(`schedule.${mode}-${overrideMode ? 'override-' : ''}title`)">
        <v-form v-model="valid" ref="form" @submit.prevent="submit">
            <v-card>
                <v-card-text v-if="mode === 'create' || !!schedule">
                    <v-tabs show-arrows v-model="activeTab">
                        <v-tab>{{ $t('schedule.general-infos') }}</v-tab>
                        <v-tab>{{ $t('schedule.slots') }}</v-tab>
                        <v-tab v-if="mode === 'update' && !overrideMode">{{ $t('schedule.exceptions') }}</v-tab>

                        <v-tab-item>
                            <v-card flat>
                                <v-card-text>
                                    <v-text-field
                                        v-model="schedule.title"
                                        :label="$t('schedule.title')"
                                        :error-messages="errors.title"
                                        autofocus
                                    />
                                    <v-row>
                                        <v-col cols="12" sm="6" xs="4">
                                            <date-field
                                                v-model="schedule.start_at"
                                                :label="$t('schedule.start-at')"
                                                :error-messages="errors.start_at"
                                                :disabled="startAtDisabled"
                                                :min="minDate"
                                                :max="maxDate"
                                                :picker-date.sync="startPickerDate"
                                            />
                                        </v-col>
                                        <v-col cols="12" sm="6" xs="4">
                                            <date-field
                                                v-model="schedule.end_at"
                                                :label="$t('schedule.end-at')"
                                                :error-messages="errors.end_at"
                                                :disabled="endAtDisabled"
                                                :min="minDate"
                                                :max="maxDate"
                                                :picker-date.sync="endPickerDate"
                                            />
                                        </v-col>
                                        <v-col cols="12" sm="6" xs="4">
                                            <v-text-field
                                                v-model="schedule.working_shift_frequency"
                                                :label="$t('schedule.working-shift-frequency')"
                                                :hint="$t('schedule.working-shift-frequency-hint')"
                                                persistent-hint
                                                :error-messages="errors.working_shift_frequency"
                                                :disabled="startAtDisabled"
                                            />
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" xs="4">
                                            <v-text-field
                                                v-model="schedule.min_workers_per_slot"
                                                :label="$t('schedule.min-workers-per-slot')"
                                                :error-messages="errors.min_workers_per_slot"
                                                :disabled="startAtDisabled"
                                            />
                                        </v-col>
                                        <v-col cols="12" sm="6" xs="4">
                                            <v-text-field
                                                v-model="schedule.max_workers_per_slot"
                                                :label="$t('schedule.max-workers-per-slot')"
                                                :error-messages="errors.max_workers_per_slot"
                                                :disabled="startAtDisabled"
                                            />
                                        </v-col>
                                        <v-col cols="12" sm="6" xs="4">
                                            <v-text-field
                                                v-model="schedule.ideal_workers_per_slot"
                                                :label="$t('schedule.ideal-workers-per-slot')"
                                                :error-messages="errors.ideal_workers_per_slot"
                                                :disabled="startAtDisabled"
                                            />
                                        </v-col>
                                        <v-col cols="12" sm="6" xs="4">
                                            <v-text-field
                                                v-model="schedule.flying_members_per_slot"
                                                :label="$t('schedule.flying-members-per-slot')"
                                                :error-messages="errors.flying_members_per_slot"
                                                :disabled="startAtDisabled"
                                            />
                                        </v-col>
                                        <v-col cols="12" sm="6" xs="4">
                                            <v-text-field
                                                v-model="schedule.max_referents_per_slot"
                                                :label="$t('schedule.max-referents-per-slot')"
                                                :error-messages="errors.max_referents_per_slot"
                                                :disabled="startAtDisabled"
                                            />
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>

                        <v-tab-item>
                            <v-card flat>
                                <v-card-text>
                                    <slots-editor v-model="slots" :readonly="startAtDisabled" />
                                </v-card-text>
                            </v-card>
                        </v-tab-item>

                        <v-tab-item v-if="mode === 'update' && !overrideMode">
                            <v-card flat>
                                <v-card-text>
                                    <schedule-list :parent="schedule" />
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs>
                </v-card-text>
                
                <v-card-actions v-if="mode === 'create' || !!schedule">
                    <v-spacer />
                    <v-btn @click="submit" color="primary" :disabled="saving" :loading="saving">{{ $t('global.save') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            mode: 'create',
            schedule: {
                title: '',
                start_at: null,
                end_at: null,
                slots: [],
                working_shift_frequency: null,
                min_workers_per_slot: null,
                max_workers_per_slot: null,
                ideal_workers_per_slot: null,
                flying_members_per_slot: null,
                max_referents_per_slot: null,
            },
            valid: true,
            saving: false,
            errors: {
                title: [],
                start_at: [],
                end_at: [],
                working_shift_frequency: [],
                min_workers_per_slot: [],
                max_workers_per_slot: [],
                ideal_workers_per_slot: [],
                flying_members_per_slot: [],
                max_referents_per_slot: [],
            },
            startAtDisabled: false,
            endAtDisabled: false,
            overrideMode: false,
            scheduleId: null,
            minDate: null,
            maxDate: null,
            startPickerDate: null,
            endPickerDate: null,
        };
    },
    computed: {
        slots: {
            get() {
                return this.schedule.slots || [];
            },
            set(value) {
                this.schedule.slots = value;
            },
        },
        activeTab: {
            get() {
                return parseInt(this.$route.query.tab, 10) || 0;
            },
            set(value) {
                if (value !== this.activeTab) {
                    this.$router.replace({query: {
                        ...this.$route.query,
                        tab: value.toString(),
                    }});
                }
            },
        },
    },
    watch: {
        startPickerDate() {
            if (!!this.schedule && !this.schedule.end_at) {
                this.endPickerDate = this.startPickerDate;
            }
        },
        endPickerDate() {
            if (!!this.schedule && !this.schedule.start_at) {
                this.startPickerDate = this.endPickerDate;
            }
        },
    },
    beforeRouteEnter(to, from, next) {
        next((vm) => {
            vm.prepareLoad(to, from);
        });
    },
    beforeRouteUpdate(to, from, next) {
        this.prepareLoad(to, from);
        next();
    },
    methods: {
        prepareLoad(to, from) {
            const oldScheduleId = this.scheduleId;
            this.mode = to.name === 'create-schedule' || to.name === 'create-schedule-override' ? 'create' : 'update';
            this.overrideMode = to.name === 'create-schedule-override' ||
                to.name === 'update-schedule-override';
            this.scheduleId = parseInt(this.overrideMode ? to.params.override : to.params.schedule, 10);
            if (to.name !== from.name || (this.mode === 'update' && this.scheduleId !== oldScheduleId)) {
                this.load();
            }
        },
        load() {
            this.resetErrors();
            if (this.mode === 'update') {
                this.schedule = null;
                this.$request.get(`/api/shop-schedules/${this.scheduleId}`, {
                    params: {
                        with_slots: 1,
                    },
                }).then((response) => {
                    this.schedule = response.data.data;
                    this.startAtDisabled = this.$moment(this.schedule.start_at)
                        .isSameOrBefore(this.$moment().startOf('day'));
                    this.endAtDisabled = this.$moment(this.schedule.end_at)
                        .isBefore(this.$moment().startOf('day'));
                });
            } else {
                this.$cache.getConfigItem('working_shift_frequency').then((working_shift_frequency) => {
                    this.startAtDisabled = false;
                    this.endAtDisabled = false;
                    this.schedule =  {
                        title: '',
                        start_at: null,
                        end_at: null,
                        slots: [],
                        working_shift_frequency,
                    };
                });
            }

            if (this.overrideMode) {
                this.$request.get(`/api/shop-schedules/${this.$route.params.schedule}`).then((response) => {
                    this.minDate = this.$moment(response.data.data.start_at).format();
                    this.maxDate = this.$moment(response.data.data.end_at).format();
                    this.startPickerDate = this.minDate;
                    this.endPickerDate = this.minDate;
                });
            } else {
                this.minDate = this.$moment().add(1, 'day').startOf('day').format();
                this.maxDate = null;
                this.startPickerDate = this.minDate;
                this.endPickerDate = this.minDate;
            }
        },
        submit() {
            if (this.$refs.form.validate()) {
                this.saving = true;
                let url, method;
                const overridePath = this.overrideMode ? `/${this.$route.params.schedule}/overrides` : '';
                if (this.mode === 'create') {
                    url = `/api/shop-schedules${overridePath}`;
                    method = 'post';
                } else {
                    url = `/api/shop-schedules${overridePath}/${this.scheduleId}`;
                    method = 'put';
                }
                const data = this._.omit(this.schedule, this.startAtDisabled ? ['slots'] : []);
                this.$request[method](url, data).then((response) => {
                    this.resetErrors();
                    this.saving = false;
                    this.$snackbar.show(this.$t('global.save-complete'));
                    if (this.mode === 'create') {
                        this.$eventBus.emit('schedule-created', response.data.data);
                        if (this.overrideMode) {
                            this.$router.push({
                                name: 'update-schedule-override',
                                params: {
                                    schedule: this.$route.params.schedule,
                                    override: response.data.data.id,
                                },
                            });
                        } else {
                            this.$router.push({
                                name: 'update-schedule',
                                params: {
                                    schedule: response.data.data.id,
                                },
                            });
                        }
                    } else {
                        this.$eventBus.emit('schedule-updated', response.data.data);
                        this.schedule = response.data.data;
                    }
                }).catch((error) => {
                    Object.keys(this.errors).forEach((key) => {
                        this.errors[key] = !!error.response && !!error.response.data && !!error.response.data.errors ?
                            (error.response.data.errors[key] || []) :
                            [];
                    });
                    this.saving = false;
                });
            }
        },
        getBreadcrumbs(route) {
            let overrideMode = route.name === 'create-schedule-override' ||
                route.name === 'update-schedule-override';
            let mode = route.name === 'create-schedule' || route.name === 'create-schedule-override' ? 'create' : 'update';
            let res = [
                {
                    to: {name: 'admin-schedule'},
                    text: this.$t('menus.admin.schedule'),
                },
                {
                    to: {name: overrideMode ? 'update-schedule' : route.name, params: {schedule: route.params.schedule}},
                    text: this.$t(`schedule.${overrideMode ? 'update' : mode}-title`),
                    disabled: !overrideMode,
                },
            ];
            if (overrideMode) {
                res.push({
                    to: route,
                    text: this.$t(`schedule.${mode}-override-title`),
                    disabled: !overrideMode,
                });
            }
            return res;
        },
        resetErrors() {
            Object.keys(this.errors).forEach((key) => {
                this.errors[key] = [];
            });
        },
    },
}
</script>