<template>
    <base-page :title="$t('menus.admin.schedule')" :loading="loading">
        <template v-slot:title-right>
            <v-switch
                v-model="showPassed"
                :label="$t('schedule.show-passed')"
            />
        </template>

        <schedule-list
            ref="scheduleList"
            :show-passed="showPassed"
            @update:loading="loading = $event"
            allow-duplicate
        />

        <router-view name="modal"></router-view>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
        };
    },
    computed: {
        showPassed: {
            get() {
                return this.$route.query.show_passed === '1';
            },
            set(value) {
                if (value !== this.showPassed) {
                    this.$router.push({query: {...this.$route.query, show_passed: value ? '1' : '0', 'page': '1'}});
                }
            },
        },
    },
    watch: {
        showPassed(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.load();
            }
        },
    },
    methods: {
        load() {
            this.$refs.scheduleList.load();
        },
    },
}
</script>