<template>
    <v-card :loading="loading">
        <v-toolbar flat dense>
            <v-toolbar-title>{{ $t('stats.attendance.title') }}</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
            <attendance-stats-chart v-if="!loading && data.length > 0" :data="data" />
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            data: [],
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get('/api/stats/attendance').then((response) => {
                this.data = response.data.map((s) => {
                    return {
                        month: s.month,
                        data: {
                            percentage: (100 * s.data.done / s.data.total).toFixed(1),
                        },
                    };
                });
                this.loading = false;
            });
        },
    },
}
</script>