<template>
    <v-card :loading="loading">
        <v-toolbar flat dense>
            <v-toolbar-title>{{ $t('stats.members-age.title') }}</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
            <v-list>
                <v-list-item>
                    <v-list-item-title>{{ $t('stats.members-age.average-age') }}</v-list-item-title>
                    <v-list-item-action>
                        <v-list-item-action-text>{{ averageAge }}</v-list-item-action-text>
                    </v-list-item-action>
                </v-list-item>
            </v-list>

            <members-age-stats-chart v-if="data.length > 0" :data="data" />
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            data: [],
            averageAge: '',
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get('/api/stats/members-age').then((response) => {
                this.data = response.data.distribution;
                this.averageAge = response.data.average_age.toFixed(1);
                this.loading = false;
            });
        },
    },
}
</script>