<template>
    <v-card :loading="loading">
        <v-toolbar flat dense>
            <v-toolbar-title>{{ $t('stats.members-gender.title') }}</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
            <members-gender-stats-chart v-if="data.length > 0" :data="data" />
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            data: [],
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get('/api/stats/members-gender').then((response) => {
                this.data = response.data;
                this.loading = false;
            });
        },
    },
}
</script>