<template>
    <v-card :loading="loading">
        <v-toolbar flat dense>
            <v-toolbar-title>{{ $t('stats.users.title') }}</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
            <v-list>
                <v-list-item>
                    <v-list-item-title>{{ $t('stats.users.nb-active') }}</v-list-item-title>
                    <v-list-item-action>
                        <v-list-item-action-text>{{ currentData.active_count }}</v-list-item-action-text>
                    </v-list-item-action>
                </v-list-item>
                <v-list-item>
                    <v-list-item-title>{{ $t('stats.users.nb-assigned') }}</v-list-item-title>
                    <v-list-item-action>
                        <v-list-item-action-text>{{ currentData.assigned_count }}</v-list-item-action-text>
                    </v-list-item-action>
                </v-list-item>
                <v-list-item>
                    <v-list-item-title>{{ $t('stats.users.nb-flying') }}</v-list-item-title>
                    <v-list-item-action>
                        <v-list-item-action-text>{{ currentData.flying_count }}</v-list-item-action-text>
                    </v-list-item-action>
                </v-list-item>
                <v-list-item v-for="status in Object.keys(currentData.by_status)" :key="status">
                    <v-list-item-title>{{ $t('stats.users.status') + ' "' + $t('users.status-' + status) + '"' }}</v-list-item-title>
                    <v-list-item-action>
                        <v-list-item-action-text>{{ currentData.by_status[status] }}</v-list-item-action-text>
                    </v-list-item-action>
                </v-list-item>
            </v-list>

            <div class="users-stats-chart-container">
                <h3>
                    <span>{{ $t('stats.users.stats-chart-title') }}</span>
                    <a @click="openChartDialog = true">
                        <v-icon>open_in_new</v-icon>
                    </a>
                </h3>
                <users-stats-chart v-if="history.length > 0" :stats="history" :height="300" />
            </div>
        </v-card-text>

        <v-dialog v-model="openChartDialog" :width="chartDialogWidth">
            <v-card>
                <v-card-title>{{ $t('stats.users.stats-chart-title') }}</v-card-title>
                <v-card-text>
                    <users-stats-chart v-if="showDialogChart && history.length > 0" :stats="history" :height="chartDialogHeight" />
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn @click="openChartDialog = false">{{ $t('global.close') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            currentData: {
                by_status: {},
            },
            history: [],
            showDialogChart: false,
        };
    },
    computed: {
        openChartDialog: {
            get() {
                return this.$route.query.openUsersChartDialog === '1';
            },
            set(value) {
                if (value !== this.openChartDialog) {
                    const query = this._.omit(this.$route.query, 'openUsersChartDialog');
                    if (value) {
                        query.openUsersChartDialog = '1';
                    }
                    this.$router.push({query});
                }
            },
        },
        chartDialogWidth() {
            return window.innerWidth * 0.9;
        },
        chartDialogHeight() {
            return window.innerHeight * 0.7;
        },
    },
    watch: {
        openChartDialog(value) {
            this.showDialogChart = false;
            if (value) {
                setTimeout(() => {
                    this.showDialogChart = true;
                }, 1);
            }
        },
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get('/api/stats/users').then((response) => {
                this.currentData = response.data[response.data.length - 1].data;
                this.history = response.data;
                this.loading = false;
                if (this.openChartDialog) {
                    setTimeout(() => {
                        this.showDialogChart = true;
                    }, 1);
                }
            });
        },
    },
}
</script>

<style lang="scss" scoped>
.users-stats-chart-container {
    h3 {
        display: flex;
        align-items: center;
        font-size: 1.15rem;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.0071428571em;
        color: #000;
        > span {
            flex-grow: 1;
        }
    }
}
</style>