<template>
    <base-modal v-model="show" :loading="assignmentSwitchOffer === null" :width="600">
        <template v-slot:title v-if="assignmentSwitchOffer !== null">
            {{ $t(`assignment-switch-offers.check-replies-modal-title`) }}
        </template>

        <template v-if="assignmentSwitchOffer !== null">
            <v-text-field
                :value="offerSlotLabel"
                :label="$t('assignment-switch-offers.assignment-to-switch')"
                disabled
            />
            
            <v-card flat>
                <v-card-title>
                    {{ $t(`assignment-switch-offers.received-replies`) }}
                </v-card-title>
                <v-card-text>
                    <v-simple-table>
                        <thead>
                            <tr>
                                <th class="text-left">{{ $t('assignment-switch-offers.reply-user-fullname') }}</th>
                                <th class="text-left">{{ $t('assignment-switch-offers.assignment-date-time') }}</th>
                                <th class="text-right">{{ $t('global.actions') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="reply in assignmentSwitchOffer.pending_replies" :key="reply.id">
                                <td>{{ reply.reply_user.fullname }}</td>
                                <td>{{ formatReplySlot(reply) }}</td>
                                <td class="text-right">
                                    <v-icon color="primary" @click="acceptReply(reply)" :disabled="saving">check</v-icon>
                                    <v-icon color="error" @click="rejectReply(reply)" :disabled="saving">close</v-icon>
                                </td>
                            </tr>
                        </tbody>
                    </v-simple-table>
                </v-card-text>
            </v-card>
        </template>

        <template v-slot:actions v-if="assignmentSwitchOffer !== null">
            <v-spacer />
            <v-btn @click="show = false" :disabled="saving">{{ $t('global.close') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            show: true,
            saving: false,
            assignmentSwitchOffer: null,
        };
    },
    computed: {
        offerSlotLabel() {
            if (!!this.assignmentSwitchOffer) {
                let res = this.$moment(
                    this.$moment(this.assignmentSwitchOffer.offer_date).format('YYYY-MM-DD') + ' ' +
                        this.assignmentSwitchOffer.slot.start_at
                ).format(this.$t('dates.moment.date-time'));
                return res[0].toUpperCase() + res.substring(1);
            } else {
                return '';
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.load();
        next();
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                this.$router.push({name: 'assignment-switch-offers', query: this.$route.query});
            }
        },
    },
    methods: {
        formatReplySlot(reply) {
            if (reply.reply_flying) {
                return this.$t('assignment-switch-offers.reply-flying');
            } else {
                let res = this.$moment(this.$moment(reply.reply_date).format('YYYY-MM-DD') + ' ' + reply.slot.start_at)
                    .format(this.$t('dates.moment.date-time'));
                return res[0].toUpperCase() + res.substring(1);
            }
        },
        load() {
            this.$request.get(`/api/assignment-switch-offers/${this.$route.params.assignmentSwitchOffer}`, {
                params: {
                    with_slot: 1,
                    with_offer_user: 1,
                    with_pending_replies: 1,
                },
            }).then((response) => {
                this.assignmentSwitchOffer = response.data.data;
            });
        },
        acceptReply(reply) {
            this.$confirm(this.$t('assignment-switch-offers.confirm-accept-reply')).then((confirm) => {
                if (confirm) {
                    this.saving = true;
                    this.$request.post(`/api/assignment-switch-offers/${this.assignmentSwitchOffer.id}/accept-reply`, {
                        reply: reply.id,
                    }).then((response) => {
                        this.$eventBus.emit('assignmentSwitchOffer-deleted', response.data.data);
                        this.saving = false;
                        this.show = false;
                    }).catch((error) => {
                        this.saving = false;
                    });
                }
            });
        },
        rejectReply(reply) {
            this.$confirm(this.$t('assignment-switch-offers.confirm-reject-reply')).then((confirm) => {
                if (confirm) {
                    this.saving = true;
                    this.$request.post(`/api/assignment-switch-offers/${this.assignmentSwitchOffer.id}/reject-reply`, {
                        reply: reply.id,
                    }).then((response) => {
                        this.$eventBus.emit('assignmentSwitchOffer-updated', response.data.data);
                        this.load();
                        this.saving = false;
                    }).catch((error) => {
                        this.saving = false;
                    });
                }
            });
        },
    },
}
</script>