<template>
    <base-modal v-model="show" :loading="assignmentSwitchOffer === null" :width="500">
        <template v-slot:title v-if="assignmentSwitchOffer !== null">
            {{ $t(`assignment-switch-offers.${mode}-modal-title`) }}
        </template>

        <v-form v-model="valid" v-if="assignmentSwitchOffer !== null" @submit.prevent="submit">
            <v-select
                :items="userAssignments"
                v-model="assignmentSwitchOffer.offer_actual_assignment_id"
                item-value="id"
                :item-text="formatAssignmentTime"
                :label="$t('assignment-switch-offers.assignment-to-switch')"
                :error-messages="errors.offer_actual_assignment_id"
                :disabled="mode === 'update'"
            />
            <slot-dates-selector
                :items="replacementSlots"
                v-model="assignmentSwitchOffer.possible_replacements"
                :label="$t('assignment-switch-offers.possible-replacements')"
                :error-messages="errors.possible_replacements"
            />
            <resource-select
                resource="users"
                v-model="assignmentSwitchOffer.target_user"
                item-value="id"
                item-text="fullname"
                :label="$t('assignment-switch-offers.target-user')"
                :error-messages="errors.target_user_id"
                :hint="$t('assignment-switch-offers.target-user-hint')"
                persistent-hint
                :disabled="mode === 'update'"
            />
            <v-textarea
                v-model="assignmentSwitchOffer.comment"
                :label="$t('assignment-switch-offers.comment')"
                :error-messages="errors.comment"
            />
        </v-form>

        <template v-slot:actions v-if="assignmentSwitchOffer !== null">
            <v-spacer />
            <v-btn @click="show = false" :disabled="saving">{{ $t('global.cancel') }}</v-btn>
            <v-btn @click="submit" color="primary" :disabled="saving" :loading="saving">{{ $t('global.save') }}</v-btn>
        </template>

        <v-dialog :value="!!existingOffers.length > 0" @input="existingOffers = []" :width="600">
            <v-card>
                <v-card-title>
                    {{ $t('assignment-switch-offers.existing-offers') }}
                </v-card-title>
                <v-card-text>
                    <p>{{ $t('assignment-switch-offers.existing-offers-info') }}</p>
                    <v-data-table
                        :items="existingOffers"
                        :headers="existingOffersHeaders"
                        :disable-pagination="true"
                        :disable-sort="true"
                        :hide-default-footer="true"
                        :mobile-breakpoint="1"
                    >
                        <template v-slot:item.actions="{ item }">
                            <v-icon @click="$router.push({name: 'reply-assignmentSwitchOffer', params: {assignmentSwitchOffer: item.id}, query: {reply_assignment_id: assignmentSwitchOffer.offer_actual_assignment_id}})">reply</v-icon>
                        </template>
                    </v-data-table>
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn @click="submit($event, true)" color="primary" :disabled="saving" :loading="saving">{{ $t('assignment-switch-offers.force-submit') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            mode: null,
            userAssignments: [],
            replacementSlots: [],
            assignmentSwitchOffer: null,
            show: true,
            valid: true,
            saving: false,
            rules: {
                offer_actual_assignment_id: [],
                possible_replacements: [],
                comment: [],
            },
            errors: {
                offer_actual_assignment_id: [],
                possible_replacements: [],
                comment: [],
                target_user_id: [],
            },
            existingOffers: [],
            existingOffersHeaders: [
                {
                    text: this.$t('assignment-switch-offers.offer-user-fullname'),
                    value: 'offer_user_fullname',
                },
                {
                    text: this.$t('assignment-switch-offers.assignment-date-time'),
                    value: 'offer_date',
                },
                {
                    text: this.$t('assignment-switch-offers.target-user-fullname'),
                    value: 'target_user_fullname',
                },
                {
                    text: this.$t('global.actions'),
                    value: 'actions',
                },
            ],
        };
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.load();
        next();
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                this.$router.push({name: 'assignment-switch-offers', query: this._.omit(this.$route.query, ['actual_assignment_id'])});
            }
        },
    },
    methods: {
        formatAssignmentTime(assignment) {
            let res = this.$moment(this.$moment(assignment.date).format('YYYY-MM-DD') + ' ' + assignment.slot.start_at)
                .format(this.$t('dates.moment.date-time'));
            return res[0].toUpperCase() + res.substring(1);
        },
        load() {
            this.$request.get(`/api/users/${this.$store.state.user.id}/actual-assignments`, {
                params: {
                    future: 1,
                    before: this.$moment().add(12, 'months').format('YYYY-MM-DD'),
                    with_slot: 1,
                    no_flying: 1,
                },
            }).then((response) => {
                this.userAssignments = response.data.data;

                this.$request.get('/api/shop-schedules', {
                    params: {
                        root_only: 1,
                        hide_passed: 1,
                        with_slot_dates: 1,
                    },
                }).then((response) => {
                    this.replacementSlots = [];
                    response.data.data.forEach((schedule) => {
                        this.replacementSlots = [
                            ...this.replacementSlots,
                            ...schedule.slots.map((slot) => {
                                return {
                                    id: slot.id,
                                    label: this.$t(`global.weekday-${slot.weekday}`) + ' ' +
                                        slot.start_at.substring(0, 5) +
                                        (response.data.data.length > 1 ? ' (' + schedule.title + ')' : ''),
                                    dates: slot.dates.filter((d) => this.$moment(d).isAfter(this.$moment().startOf('day'))),
                                };
                            }),
                        ];
                    });

                    if (this.mode === 'create') {
                        this.assignmentSwitchOffer = {
                            offer_actual_assignment_id: parseInt(this.$route.query.actual_assignment_id) || null,
                            possible_replacements: {},
                            comment: '',
                        };
                    } else {
                        this.$request.get(`/api/assignment-switch-offers/${this.$route.params.assignmentSwitchOffer}?with_actual_assignment=1`).then((response) => {
                            const possibleReplacements = {};
                            response.data.data.possible_replacements.forEach((replacement) => {
                                possibleReplacements[replacement.id] = {dates: replacement.pivot.dates.split(',').filter((d) => !!d)};
                            });
                            this.assignmentSwitchOffer = {
                                ...response.data.data,
                                possible_replacements: possibleReplacements,
                                offer_actual_assignment_id: response.data.data.actual_assignment.id,
                            };
                        });
                    }
                });
            });
        },
        submit(event, ignoreExistingOffers) {
            this.saving = true;
            this.existingOffers = [];
            let url, method;
            if (this.mode === 'update') {
                url = `/api/assignment-switch-offers/${this.assignmentSwitchOffer.id}`;
                method = 'put';
            } else {
                url = `/api/assignment-switch-offers`;
                method = 'post';
            }
            const data = {
                ...this._.omit(this.assignmentSwitchOffer, 'target_user'),
                target_user_id: !!this.assignmentSwitchOffer.target_user ? this.assignmentSwitchOffer.target_user.id : null,
            };
            if (!!ignoreExistingOffers) {
                data.ignore_existing_offers = 1;
            };
            this.$request[method](url, data).then((response) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = [];
                });
                this.saving = false;
                if (!!response.data.existing_offers) {
                    this.existingOffers = response.data.existing_offers.map((offer) => {
                        const offerDate = this.$moment(this.$moment(offer.offer_date).format('YYYY-MM-DD') + ' ' + offer.slot.start_at)
                            .format(this.$t('dates.moment.date-time'));
                        return {
                            ...offer,
                            offer_user_fullname: offer.offer_user.fullname,
                            target_user_fullname: !!offer.target_user ? offer.target_user.fullname : this.$t('assignment-switch-offers.anyone'),
                            offer_date: offerDate[0].toUpperCase() + offerDate.substring(1),
                        };
                    });
                } else {
                    this.show = false;
                    if (this.mode === 'update') {
                        this.$eventBus.emit('assignmentSwitchOffer-updated', response.data.data);
                    } else {
                        this.$eventBus.emit('assignmentSwitchOffer-created', response.data.data);
                    }
                }
            }).catch((error) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = !!error.response && !!error.response.data && !!error.response.data.errors ?
                        (error.response.data.errors[key] || []) :
                        [];
                });
                this.saving = false;
            });
        },
    },
}
</script>