<template>
    <base-page :title="$t('menus.main.assignment-switch-offers')" :loading="loading">
        <my-switch-offers-card
            class="mb-3"
            @update:loading="mineLoading = $event"
        />

        <available-switch-offers-card
            @update:loading="availableLoading = $event"
        />

        <router-view name="modal"></router-view>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            mineLoading: true,
            availableLoading: true,
        };
    },
    computed: {
        loading() {
            return this.mineLoading || this.availableLoading;
        },
    },
}
</script>