<template>
    <base-modal v-model="show" :loading="assignmentSwitchOffer === null" :width="600">
        <template v-slot:title v-if="assignmentSwitchOffer !== null">
            {{ $t(`assignment-switch-offers.reply-modal-title`) }}
        </template>

        <v-form :valid="valid" v-if="assignmentSwitchOffer !== null">
            <v-text-field
                :value="assignmentSwitchOffer.offer_user.fullname"
                :label="$t('assignment-switch-offers.offer-by')"
                disabled
            />
            <v-text-field
                :value="offerSlotLabel"
                :label="$t('assignment-switch-offers.assignment-to-switch')"
                disabled
            />
            <v-textarea
                v-if="!!assignmentSwitchOffer.comment"
                :value="assignmentSwitchOffer.comment"
                :label="$t('assignment-switch-offers.comment')"
                disabled
            />

            <v-select
                v-if="!$store.state.user.flying_team"
                :items="assignmentSwitchOffer.switchable_assignments"
                v-model="reply.reply_actual_assignment_id"
                item-value="id"
                :item-text="formatAssignmentTime"
                :label="$t('assignment-switch-offers.assignment-to-switch')"
                :error-messages="errors.reply_actual_assignment_id"
            />
            <v-select
                v-else
                :items="[{id: null, text: $t('assignment-switch-offers.reply-flying')}]"
                :value="null"
                item-value="id"
                :label="$t('assignment-switch-offers.assignment-to-switch')"
                :error-messages="errors.reply_actual_assignment_id"
                disabled
            />
        </v-form>

        <template v-slot:actions v-if="assignmentSwitchOffer !== null">
            <v-spacer />
            <v-btn @click="show = false" :disabled="saving">{{ $t('global.cancel') }}</v-btn>
            <v-btn @click="submit" color="primary" :disabled="saving" :loading="saving">{{ $t('global.reply') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            show: true,
            valid: true,
            saving: false,
            assignmentSwitchOffer: null,
            reply: {
                reply_actual_assignment_id: parseInt(this.$route.query.reply_assignment_id) || null,
            },
            errors: {
                reply_actual_assignment_id: [],
            },
        };
    },
    computed: {
        offerSlotLabel() {
            if (!!this.assignmentSwitchOffer) {
                let res = this.$moment(
                    this.$moment(this.assignmentSwitchOffer.offer_date).format('YYYY-MM-DD') + ' ' +
                        this.assignmentSwitchOffer.slot.start_at
                ).format(this.$t('dates.moment.date-time'));
                return res[0].toUpperCase() + res.substring(1);
            } else {
                return '';
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.reply.reply_actual_assignment_id = parseInt(this.$route.query.reply_assignment_id) || null;
        this.load();
        next();
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                this.$router.push({name: 'assignment-switch-offers', query: this._.omit(this.$route.query, 'reply_assignment_id')});
            }
        },
    },
    methods: {
        formatAssignmentTime(assignment) {
            let res = this.$moment(this.$moment(assignment.date).format('YYYY-MM-DD') + ' ' + assignment.slot.start_at)
                .format(this.$t('dates.moment.date-time'));
            return res[0].toUpperCase() + res.substring(1);
        },
        load() {
            this.$request.get(`/api/assignment-switch-offers/${this.$route.params.assignmentSwitchOffer}`, {
                params: {
                    with_slot: 1,
                    with_offer_user: 1,
                    with_switchable_assignments: 1,
                },
            }).then((response) => {
                this.assignmentSwitchOffer = response.data.data;
            });
        },
        submit() {
            this.saving = true;
            let url = `/api/assignment-switch-offers/${this.assignmentSwitchOffer.id}/reply`;
            let method = 'post';
            this.$request[method](url, this.reply).then((response) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = [];
                });
                this.saving = false;
                this.show = false;
                this.$eventBus.emit('assignmentSwitchOffer-updated', response.data.data);
            }).catch((error) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = !!error.response && !!error.response.data && !!error.response.data.errors ?
                        (error.response.data.errors[key] || []) :
                        [];
                });
                this.saving = false;
            });
        },
    },
}
</script>