<template>
    <resource-page
        :title="$t('menus.admin.users')"
        resource-name="user"
        :columns="columns"
        paginated
        :can-add="false"
        :can-delete="false"
        ref="resourcePage"
        :additional-params="{ search, with_roles: 1, with_current_assignments: 1, referent, exemption, role: filterRole, slots: filterSlots, flying_team: flyingTeam, status: filterStatus, without_assignment: withoutAssignment ? '1' : '0', flying_without_assignment: flyingWithoutAssignment ? '1' : '0' }"
        :actions="[
            {
                icon: 'visibility',
                callback: (user) => $router.push({name: 'show-user', query: $route.query, params: {user: user.id}}),
            },
            {
                icon: 'sticky_note_2',
                callback: (user) => $router.push({name: 'user-note', query: $route.query, params: {user: user.id}}),
            },
        ]"
        :more-actions="[
            {
                callback: impersonate,
                text: $t('users.impersonate'),
                isCallable: () => canImpersonate,
            },
            {
                callback: adminLeaves,
                text: $t('users.admin-leaves'),
                isCallable: () => $hasRole('admin-leaves'),
            },
        ]"
        selectable
        :selection-actions="[
            {
                label: $t('users.send-message'),
                callback: sendMessageToSelection,
            },
            {
                label: $t('global.export'),
                callback: exportSelection,
            },
        ]"
        allow-display-all
    >
        <template slot="title-right">
            <v-text-field
                v-model="search"
                append-icon="search"
                :label="$t('global.search')"
                single-line
                hide-details
                clearable
                autocomplete="off"
            />
            <v-menu :close-on-content-click="false" v-model="showFilterMenu">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on">
                        {{ $t('global.filters') }}
                        <v-icon>arrow_drop_down</v-icon>
                    </v-btn>
                    <v-btn @click="exportNotes">
                        {{ $t('users.export-notes') }}
                    </v-btn>
                </template>

                <v-card>
                    <v-card-title>{{ $t('global.filters') }}</v-card-title>
                    <v-card-text>
                        <v-select
                            :items="statuses"
                            clearable
                            :label="$t('users.status')"
                            v-model="filterStatus"
                            multiple
                            small-chips
                            deletable-chips
                        />
                        <v-autocomplete
                            :items="slots"
                            item-text="label"
                            item-value="id"
                            v-model="filterSlots"
                            :label="$t('users.assigned-slot')"
                            clearable
                            multiple
                            small-chips
                            deletable-chips
                        ></v-autocomplete>
                        <v-select
                            :items="[
                                {
                                    text: $t('global.yes'),
                                    value: 1,
                                },
                                {
                                    text: $t('global.no'),
                                    value: 0,
                                },
                            ]"
                            clearable
                            :label="$t('users.flying-team')"
                            v-model="flyingTeam"
                            @change="showFilterMenu = false"
                        />
                        <v-select
                            :items="[
                                {
                                    text: $t('global.yes'),
                                    value: 1,
                                },
                                {
                                    text: $t('global.no'),
                                    value: 0,
                                },
                            ]"
                            clearable
                            :label="$t('users.referent')"
                            v-model="referent"
                            @change="showFilterMenu = false"
                        />
                        <v-autocomplete
                            :items="roles"
                            item-text="label"
                            item-value="id"
                            v-model="filterRole"
                            :label="$t('users.role')"
                            clearable
                            @change="showFilterMenu = false"
                        ></v-autocomplete>
                        <v-select
                            :items="[
                                {
                                    text: $t('global.yes'),
                                    value: 1,
                                },
                                {
                                    text: $t('global.no'),
                                    value: 0,
                                },
                            ]"
                            clearable
                            :label="$t('users.exemption')"
                            v-model="exemption"
                            @change="showFilterMenu = false"
                        />
                        <v-switch
                            :label="$t('users.without-assignment')"
                            v-model="withoutAssignment"
                            @change="showFilterMenu = false"
                        />
                        <v-switch
                            :label="$t('users.flying-without-assignments')"
                            v-model="flyingWithoutAssignment"
                            @change="showFilterMenu = false"
                        />
                    </v-card-text>
                </v-card>
            </v-menu>
        </template>
    </resource-page>
</template>

<script>
import _ from 'lodash';

export default {
    data() {
        return {
            columns: [
                {
                    text: this.$t('users.username'),
                    sortable: true,
                    value: 'username',
                },
                {
                    text: this.$t('users.full-name'),
                    sortable: true,
                    value: 'fullname',
                },
                {
                    text: this.$t('users.phone'),
                    value: 'phone',
                },
                {
                    text: this.$t('users.member-status'),
                    getValue: (user) => this.$t('users.status-' + user.status),
                },
                {
                    type: 'html',
                    text: this.$t('users.assigned-slot'),
                    getValue: (user) => {
                        let res = user.current_assignments.map((a) => {
                            return String.fromCharCode(65 + a.week_index) + ' - ' +
                                this.$t(`global.weekday-${a.slot.weekday}`) +
                                ' ' + a.slot.start_at.substring(0, 5);
                        });
                        if (user.flying_team) {
                            res.push(this.$t('users.flying-team'));
                        }
                        return res.join('<br>');
                    },
                },
                {
                    text: this.$t('users.referent'),
                    value: 'referent',
                    getValue: (user) => !!user.referent ? this.$t('global.yes') : this.$t('global.no'),
                },
                {
                    text: this.$t('users.roles'),
                    value: 'roles',
                    getValue: (user) => user.roles.map((r) => this.roleMap[r].label).join(', '),
                },
                {
                    text: this.$t('users.subscription-date'),
                    value: 'subscription_date',
                    getValue: (user) => !!user.subscription_date ? this.$moment(user.subscription_date).format(this.$t('dates.moment.short-date-format')) : '',
                    sortable: true,
                },
            ],
            slots: [],
            roles: [],
            showFilterMenu: false,
            statuses: ['up-to-date', 'alert', 'suspended', 'blocked', 'inactive', 'leave-no-shopping', 'unsubscribed'].map((s) => ({
                value: s,
                text: this.$t('users.status-' + s),
            })),
            roleMap: {},
        };
    },
    computed: {
        search: {
            get() {
                return this.$route.query.search || '';
            },
            set: _.debounce(function (value) {
                let finalValue = value || '';
                if (finalValue !== this.search) {
                    this.$router.push({query: {...this.$route.query, search: finalValue, page: '1'}});
                }
            }, 300),
        },
        filterStatus: {
            get() {
                let res = this.$route.query.filter_status || [];
                if (typeof res === 'string') {
                    res = [res];
                }
                return res;
            },
            set: _.debounce(function (value) {
                this.$router.push({query: {...this.$route.query, filter_status: value || null, page: '1'}});
            }, 300),
        },
        referent: {
            get() {
                return (typeof this.$route.query.referent == 'string' && this.$route.query.referent.length > 0) ? parseInt(this.$route.query.referent) : null;
            },
            set: _.debounce(function (value) {
                if (value !== this.referent) {
                    let finalValue = typeof value == 'number' ? value.toString() : null;
                    this.$router.push({query: {...this.$route.query, referent: finalValue, page: '1'}});
                }
            }, 300),
        },
        exemption: {
            get() {
                return (typeof this.$route.query.exemption == 'string' && this.$route.query.exemption.length > 0) ? parseInt(this.$route.query.exemption) : null;
            },
            set: _.debounce(function (value) {
                if (value !== this.exemption) {
                    let finalValue = typeof value == 'number' ? value.toString() : null;
                    this.$router.push({query: {...this.$route.query, exemption: finalValue, page: '1'}});
                }
            }, 300),
        },
        withoutAssignment: {
            get() {
                return this.$route.query.without_assignment === '1';
            },
            set: _.debounce(function (value) {
                if (value !== this.withoutAssignment) {
                    let finalValue = value ? '1' : null;
                    this.$router.push({query: {...this.$route.query, without_assignment: finalValue, page: '1'}});
                }
            }, 300),
        },
        flyingWithoutAssignment: {
            get() {
                return this.$route.query.flying_without_assignment === '1';
            },
            set: _.debounce(function (value) {
                if (value !== this.flyingWithoutAssignment) {
                    let finalValue = value ? '1' : null;
                    this.$router.push({query: {...this.$route.query, flying_without_assignment: finalValue, page: '1'}});
                }
            }, 300),
        },
        flyingTeam: {
            get() {
                return (typeof this.$route.query.flying_team == 'string' && this.$route.query.flying_team.length > 0) ? parseInt(this.$route.query.flying_team) : null;
            },
            set: _.debounce(function (value) {
                if (value !== this.flyingTeam) {
                    let finalValue = typeof value == 'number' ? value.toString() : null;
                    this.$router.push({query: {...this.$route.query, flying_team: finalValue, page: '1'}});
                }
            }, 300),
        },
        filterRole: {
            get() {
                return parseInt(this.$route.query.role) || null;
            },
            set: _.debounce(function (value) {
                let finalValue = value || null;
                if (finalValue !== this.filterRole) {
                    this.$router.push({query: {...this.$route.query, role: !!finalValue ? finalValue.toString() : null, page: '1'}});
                }
            }, 300),
        },
        filterSlots: {
            get() {
                let res = this.$route.query.slots || [];
                if (typeof res === 'string') {
                    res = [res];
                }
                return res;
            },
            set: _.debounce(function (value) {
                this.$router.push({query: {...this.$route.query, slots: value || null, page: '1'}});
            }, 300),
        },
        canImpersonate() {
            return this.$store.state.user.can_impersonate;
        },
    },
    async created() {
        this.roles = await this.$cache.getRoles();
        this.roleMap = {};
        this.roles.forEach((role) => {
            this.roleMap[role.id] = role;
        });
        this.$request.get('/api/shop-schedules?root_only=1&hide_passed=1&with_slots=1').then((response) => {
            const schedule = response.data.data.filter((s) => {
                return this.$moment(s.start_at).isBefore(this.$moment()) &&
                    this.$moment(s.end_at).isAfter(this.$moment());
            })[0];
            if (!!schedule) {
                this.slots = schedule.slots.map((s) => {
                    return [0, 1, 2, 3].map((weekIndex) => {
                        return {
                            ...s,
                            week_index: weekIndex,
                            label: String.fromCharCode(65 + weekIndex) + ' - ' + this.$t(`global.weekday-${s.weekday}`) + ' ' + s.start_at.substring(0, 5),
                            id: s.id + '_' + weekIndex,
                        };
                    });
                }).reduce((a, b) => [...a, ...b], []);
            }
        });
    },
    watch: {
        search(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
        referent(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
        exemption(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
        flyingTeam(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
        filterRole(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
        filterSlots(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
        filterStatus(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
        withoutAssignment(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
        flyingWithoutAssignment(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
    },
    methods: {
        impersonate(user) {
            this.$impersonate(user);
        },
        adminLeaves(user) {
            this.$router.push({name: 'leaves', query: {user: user.id}});
        },
        sendMessageToSelection(selection) {
            this.$request.get('/api/mattermost/get-conversation-url', {
                params: {
                    usernames: selection.map((i) => i.username),
                },
            }).then((response) => {
                window.open(response.data, '_blank');
            });
        },
        exportSelection(selection) {
            window.location = '/api/users/export?' + selection.map((s) => 'users[]=' + s.id).join('&');
        },
        exportNotes() {
            window.location = '/api/users/export?users_with_note=1';
        },
    },
}
</script>