<template>
    <base-modal v-model="show" :loading="loading || actualAssignmentsLoading || assignmentSwitchesLoading || assignmentSwitchOffersWithoutReplyLoading || leavesLoading" :width="900">
        <template v-slot:title v-if="!!user">
            {{ user.fullname }}
        </template>
        <v-tabs v-model="tab">
            <v-tab>{{ $t('users.general-informations') }}</v-tab>
            <v-tab>{{ $t('users.slots') }}</v-tab>
            <v-tab>{{ $t('users.switches') }}</v-tab>
            <v-tab>{{ $t('users.switch-offers-without-reply') }}</v-tab>
            <v-tab>{{ $t('users.leaves') }}</v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <v-data-table v-if="!!user" :disable-pagination="true" :disable-sort="true" :hide-default-footer="true" :mobile-breakpoint="1">
                            <template v-slot:body>
                                <tr class="user-details-table-row">
                                    <td>{{ $t('users.flying-team') }}</td>
                                    <td>{{ user.flying_team ? $t('global.yes') : $t('global.no') }}</td>
                                </tr>
                                <tr class="user-details-table-row">
                                    <td v-if="assignedSlots.length > 0">
                                        {{ assignedSlots.length == 1 ? $t('home.assigned-slot') : $t('home.assigned-slots') }}
                                    </td>
                                    <td v-if="assignedSlots.length == 1">
                                        {{ $t('home.assigned-slot') }} : {{ $t(`global.weekday-${assignedSlots[0].slot.weekday}`) }} {{ assignedSlots[0].slot.start_at.substring(0, 5) }} &gt; {{ assignedSlots[0].slot.end_at.substring(0, 5) }} {{ $t('slot-assignment.week') + ' ' + String.fromCharCode(65 + assignedSlots[0].week_index) }}
                                    </td>
                                    <td v-if="assignedSlots.length > 1">
                                        <ul>
                                            <li v-for="assignment in assignedSlots" :key="assignment.id">
                                                {{ $t(`global.weekday-${assignment.slot.weekday}`) }} {{ assignment.slot.start_at.substring(0, 5) }} &gt; {{ assignment.slot.end_at.substring(0, 5) }} {{ $t('slot-assignment.week') + ' ' + String.fromCharCode(65 + assignment.week_index) }}
                                            </li>
                                        </ul>
                                    </td>
                                    <td v-if="!loading && assignedSlots.length == 0" colspan="2">
                                        {{ $t('home.no-assigned-slot') }}
                                    </td>
                                </tr>
                                <tr class="user-details-table-row">
                                    <td>{{ $t('users.next-assignment') }}</td>
                                    <td v-if="!!nextAssignment">
                                        {{ $moment($moment(nextAssignment.date).format('YYYY-MM-DD') + ' ' + nextAssignment.slot.start_at).format($t('dates.moment.date-time')) }}
                                    </td>
                                    <td v-else>
                                        {{ $t('users.no-next-assignment') }}
                                    </td>
                                </tr>
                                <tr class="user-details-table-row">
                                    <td>{{ $t('users.referent') }}</td>
                                    <td>{{ user.referent ? $t('global.yes') : $t('global.no') }}</td>
                                </tr>
                                <tr class="user-details-table-row">
                                    <td>{{ $t('users.status') }}</td>
                                    <td>{{ $t('users.status-' + user.status) }}</td>
                                </tr>
                                <tr class="user-details-table-row">
                                    <td>{{ $t('users.roles') }}</td>
                                    <td>
                                        {{ user.roles.map((r) => roleMap[r]).join(', ') }}
                                    </td>
                                </tr>
                                <tr class="user-details-table-row">
                                    <td>{{ $t('users.email') }}</td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-tab-item>

            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <resource-table
                            resource-name="actualAssignments"
                            uri-key="actual-assignments"
                            :root="`/users/${$route.params.user}/`"
                            :columns="actualAssignmentsColumns"
                            :can-add="false"
                            :can-edit="false"
                            :can-delete="false"
                            :additional-params="{
                                with_slot: 1,
                                past: 1,
                            }"
                            paginated
                            default-sort-desc
                            sort-by-param="sort_by_slots"
                            sort-desc-param="sort_desc_slots"
                            @update:loading="actualAssignmentsLoading = $event"
                        />
                    </v-card-text>
                </v-card>
            </v-tab-item>

            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <resource-table
                            resource-name="assignmentSwitches"
                            uri-key="assignment-switches"
                            :root="`/users/${$route.params.user}/`"
                            :columns="assignmentSwitchesColumns"
                            :can-add="false"
                            :can-edit="false"
                            :can-delete="false"
                            :additional-params="{
                                with_assignment: 1,
                                with_replacement_user: 1,
                            }"
                            paginated
                            default-sort-desc
                            sort-by-param="sort_by_switches"
                            sort-desc-param="sort_desc_switches"
                            :actions="[
                                {
                                    icon: 'cancel',
                                    callback: cancelSwitch,
                                    isCallable: (assignmentSwitch) => $moment($moment(assignmentSwitch.date).format('YYYY-MM-DD') + ' ' + assignmentSwitch.assignment.slot.start_at).isAfter($moment()),
                                },
                            ]"
                            ref="switchesTable"
                            @update:loading="assignmentSwitchesLoading = $event"
                        />
                    </v-card-text>
                </v-card>
            </v-tab-item>

            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <resource-table
                            resource-name="assignmentSwitchOffers"
                            uri-key="assignment-switch-offers"
                            :columns="assignmentSwitchOffersWithoutReplyColumns"
                            :can-add="false"
                            :can-edit="false"
                            :can-delete="false"
                            :additional-params="{
                                offer_user_id: $route.params.user,
                                with_slot: 1,
                                without_accepted_reply: 1,
                            }"
                            paginated
                            default-sort-desc
                            sort-by-param="sort_by_switch_offers_without_reply"
                            sort-desc-param="sort_desc_switch_offers_without_reply"
                            ref="switchOffersWithoutReplyTable"
                            @update:loading="assignmentSwitchOffersWithoutReplyLoading = $event"
                        />
                    </v-card-text>
                </v-card>
            </v-tab-item>

            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <resource-table
                            resource-name="leave"
                            :root="`/users/${$route.params.user}/`"
                            :columns="leavesColumns"
                            :can-add="false"
                            :can-edit="false"
                            :can-delete="false"
                            default-sort-desc
                            ref="leavesTable"
                            @update:loading="leavesLoading = $event"
                        />
                    </v-card-text>
                </v-card>
            </v-tab-item>
        </v-tabs-items>

        <template v-slot:actions>
            <v-spacer />
            <v-btn @click="show = false">{{ $t('global.close') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            show: true,
            loading: true,
            user: null,
            assignedSlots: [],
            nextAssignment: null,
            roleMap: {},
            actualAssignments: [],
            actualAssignmentsColumns: [
                {
                    text: this.$t('schedule.date'),
                    value: 'date',
                    getValue: (assignment) => {
                        const res = this.$moment(assignment.date).format(this.$t('dates.moment.full-date'));
                        return res[0].toUpperCase() + res.substring(1);
                    },
                },
                {
                    text: this.$t('schedule.start-time'),
                    value: 'start_at',
                    getValue: (assignment) => assignment.slot.start_at.substring(0, 5),
                },
                {
                    text: this.$t('schedule.end-time'),
                    value: 'end_at',
                    getValue: (assignment) => assignment.slot.end_at.substring(0, 5),
                },
                {
                    text: this.$t('schedule.attended'),
                    type: 'switch',
                    getValue: (assignment) => !!assignment.done,
                    setValue: (assignment, value) => {
                        assignment.done = value;
                        if (!assignment.done && !assignment.compensations_needed) {
                            assignment.compensations_needed = 2;
                        }
                        if (assignment.done) {
                            assignment.compensations_needed = 0;
                        }
                        this.$request.put(`/api/actual-assignments/${assignment.id}`, {
                            done: !!assignment.done,
                            compensations_needed: assignment.compensations_needed,
                        });
                    },
                },
                {
                    text: this.$t('schedule.compensations-needed'),
                    type: 'number-input',
                    getValue: (assignment) => assignment.compensations_needed,
                    setValue: (assignment, value) => {
                        assignment.compensations_needed = value;
                        this.$request.put(`/api/actual-assignments/${assignment.id}`, {
                            done: !!assignment.done,
                            compensations_needed: assignment.compensations_needed,
                        });
                    },
                    getDisabled: (assignment) => assignment.done,
                },
                {
                    text: this.$t('schedule.compensation-delay'),
                    type: 'number-input',
                    getValue: (assignment) => assignment.compensation_delay,
                    setValue: (assignment, value) => {
                        this.$request.put(`/api/actual-assignments/${assignment.id}`, {
                            compensation_delay: value,
                        });
                    },
                    getDisabled: (assignment) => assignment.done,
                },
            ],
            assignmentSwitchesColumns: [
                {
                    text: this.$t('schedule.slot'),
                    getValue: (assignmentSwitch) => this.$moment(this.$moment(assignmentSwitch.date).format('YYYY-MM-DD') + ' ' + assignmentSwitch.assignment.slot.start_at).format(this.$t('dates.moment.date-time')),
                },
                {
                    text: this.$t('schedule.initial-user'),
                    getValue: (assignmentSwitch) => assignmentSwitch.assignment.user.fullname,
                },
                {
                    text: this.$t('schedule.replacement-user'),
                    getValue: (assignmentSwitch) => assignmentSwitch.replacement_user.fullname,
                },
            ],
            assignmentSwitchOffersWithoutReplyColumns: [
                {
                    text: this.$t('schedule.slot'),
                    getValue: (assignmentSwitchOffer) => this.$moment(this.$moment(assignmentSwitchOffer.offer_date).format('YYYY-MM-DD') + ' ' + assignmentSwitchOffer.slot.start_at).format(this.$t('dates.moment.date-time')),
                },
                {
                    text: this.$t('schedule.switch-offer-creation-date'),
                    getValue: (assignmentSwitchOffer) => this.$moment(assignmentSwitchOffer.created_at).format(this.$t('dates.moment.date-time')),
                },
            ],
            leavesColumns: [
                {
                    text: this.$t('leaves.leave-type'),
                    getValue: (leave) => leave.leave_type.label,
                },
                {
                    text: this.$t('leaves.start-at'),
                    sortable: true,
                    value: 'start_at',
                    getValue: (leave) => this.$moment(leave.start_at).format(this.$t('dates.moment.short-date-format')),
                },
                {
                    text: this.$t('leaves.end-at'),
                    sortable: true,
                    value: 'end_at',
                    getValue: (leave) => this.$moment(leave.end_at).format(this.$t('dates.moment.short-date-format')),
                },
            ],
            actualAssignmentsLoading: false,
            leavesLoading: false,
            assignmentSwitchesLoading: false,
            assignmentSwitchOffersWithoutReplyLoading: false,
        };
    },
    computed: {
        tab: {
            get() {
                return parseInt(this.$route.query.tab) || 0;
            },
            set(value) {
                this.$router.push({query: {...this.$route.query, tab: value}});
            },
        },
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                if (this.$route.name.substring(0, 9) === 'schedule-') {
                    this.$router.push({name: 'schedule', query: this._.omit(this.$route.query, ['tab'])});
                } else {
                    this.$router.push({name: 'admin-users', query: this._.omit(this.$route.query, ['tab'])});
                }
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.load();
        next();
    },
    methods: {
        load() {
            this.loading = true;
            this.roleMap = {};
            this.$cache.getRoles().then((roles) => {
                roles.forEach((role) => {
                    this.roleMap[role.id] = role.label;
                });
                this.$request.get(`/api/users/${this.$route.params.user}?with_roles=1`).then((response) => {
                    this.user = response.data.data;
                    this.$request.get(`/api/shop-schedules/get-user-assignments?user=${this.user.id}`).then((response) => {
                        this.assignedSlots = response.data.assignments;
                        this.nextAssignment = response.data.next_assignment;
                        this.loading = false;
                    });
                });
            });
        },
        cancelSwitch(assignmentSwitch) {
            this.$confirm(this.$t('schedule.confirm-cancel-switch')).then((response) => {
                if (response) {
                    this.$request.delete(`/api/assignment-switches/${assignmentSwitch.id}`).then(() => {
                        this.$refs.switchesTable.load();
                        this.load();
                    });
                }
            });
        },
    },
}
</script>

<style lang="scss" scoped>
tr.user-details-table-row:nth-of-type(odd) {
   background-color: rgba(0, 0, 0, .05);
}
</style>