<template>
    <base-modal v-model="show" :loading="!user" :width="500">
        <template v-slot:title v-if="!!user">
            {{ (($route.name === 'update-user' || $route.name === 'schedule-update-user') ? $t('users.update-modal-title', {username: user.fullname}) : $t('users.note-modal-title', {username: user.fullname})) }}
        </template>

        <v-form v-model="valid" v-if="!!user" @submit.prevent="submit">
            <template v-if="$route.name === 'update-user' || $route.name === 'schedule-update-user'">
                <v-select
                    v-model="user.roles"
                    :items="roles"
                    :label="$t('users.roles')"
                    item-value="id"
                    item-text="label"
                    multiple
                    :error-messages="errors.roles"
                />
                <v-select
                    v-model="user.trainings"
                    :items="trainings"
                    :label="$t('users.trainings-received')"
                    item-value="id"
                    item-text="label"
                    multiple
                    :error-messages="errors.trainings"
                />
                <date-field
                    v-model="user.start_date"
                    :label="$t('users.start-date')"
                    :error-messages="errors.start_date"
                    clearable
                />
                <date-field
                    v-model="user.end_date"
                    :label="$t('users.end-date')"
                    :error-messages="errors.end_date"
                    clearable
                />
                <weekday-picker
                    v-model="rescueTeamDays"
                    :label="$t('users.rescue-days')"
                    multiple
                    day-part
                    :error-messages="errors.rescue_team_days"
                />
                <v-switch
                    v-model="user.referent"
                    :label="$t('users.referent')"
                    :error-messages="errors.referent"
                />
                <v-switch
                    v-model="user.flying_team"
                    :label="$t('users.flying-team')"
                    :error-messages="errors.flying_team"
                />
                <v-switch
                    v-model="user.accounting_team"
                    :label="$t('users.accounting-team')"
                    :error-messages="errors.accounting_team"
                />
                <v-switch
                    v-model="user.service_account"
                    :label="$t('users.service-account')"
                    :error-messages="errors.service_account"
                />
            </template>

            <template v-if="$route.name === 'user-note'">
                <v-textarea
                    v-model="user.note"
                    :label="$t('users.note')"
                    :error-messages="errors.note"
                />
            </template>
        </v-form>

        <template v-slot:actions v-if="!!user">
            <v-spacer />
            <v-btn @click="show = false" :disabled="saving">{{ $t('global.cancel') }}</v-btn>
            <v-btn @click="submit" color="primary" :disabled="saving" :loading="saving">{{ $t('global.save') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
import HandlesRescueTeamDays from '../../mixins/HandlesRescueTeamDays.vue';

export default {
    mixins: [HandlesRescueTeamDays],
    data() {
        return {
            show: true,
            user: null,
            valid: true,
            roles: [],
            trainings: [],
            saving: false,
            start_date: null,
            end_date: null,
            errors: {
                roles: [],
                trainings: [],
                start_date: [],
                end_date: [],
                referent: [],
                flying_team: [],
                rescue_team_days: [],
                accounting_team: [],
                service_account: [],
                note: [],
            },
        };
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                if (this.$route.name.substring(0, 9) === 'schedule-') {
                    this.$router.push({name: 'schedule', query: this.$route.query});
                } else {
                    this.$router.push({name: 'admin-users', query: this.$route.query});
                }
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.load();
        next();
    },
    methods: {
        load() {
            this.user = null;
            this.$cache.getRoles().then((roles) => {
                this.roles = roles;
                this.$cache.getTrainings().then((trainings) => {
                    this.trainings = trainings;
                    this.$request.get(`/api/users/${this.$route.params.user}`, {
                        params: {
                            with_roles: 1,
                            with_trainings: 1,
                        },
                    }).then((response) => {
                        this.user = response.data.data;
                    });
                });
            });
        },
        submit() {
            this.saving = true;
            this.$request.put(`/api/users/${this.user.id}`, this.user).then((response) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = [];
                });
                this.saving = false;
                this.show = false;
                this.$eventBus.emit('user-updated', response.data.data);
            }).catch((error) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = !!error.response && !!error.response.data && !!error.response.data.errors ?
                        (error.response.data.errors[key] || []) :
                        [];
                });
                this.saving = false;
            });
        },
    },
}
</script>