<template>
    <v-app>
        <template v-if="authLoaded">
            <v-app-bar app dark color="primary" v-if="$vuetify.breakpoint.mdAndDown">
                <v-app-bar-nav-icon @click="showNavigationDrawer = !showNavigationDrawer" />
                <v-toolbar-title color="white">{{ $t('global.shop-name') }} - {{ $t('global.app-name') }}</v-toolbar-title>
            </v-app-bar>

            <app-navigation-drawer v-model="showNavigationDrawer" />

            <v-main :class="{'has-breadcrumbs': hasBreadcrumbs}">
                <app-breadcrumbs />
                <router-view></router-view>
            </v-main>

            <v-dialog v-model="showUnauthenticatedModal" persistent :width="500">
                <v-card>
                    <v-card-title>{{ $t('global.unauthenticated-modal.title') }}</v-card-title>
                    <v-card-text v-html="$t('global.unauthenticated-modal.content')" />
                    <v-card-actions>
                        <v-spacer />
                        <v-btn color="primary" @click="reloadPage">{{ $t('global.reload') }}</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-snackbar
                v-model="showSnackbar"
                ref="snackbar"
                absolute
                :timeout="snackbarTimeout"
                :color="snackbarType === 'error' ? 'error' : 'primary'"
                @click="showSnackbar = false"
                :style="{cursor: 'pointer'}"
            >
                {{ snackbarText }}
            </v-snackbar>

            <confirmation-dialog ref="confirmationDialog" />

            <technical-view />
        </template>
    </v-app>
</template>

<script>
import { mapState } from 'vuex';

export default {
    data() {
        return {
            showUnauthenticatedModal: false,
            showNavigationDrawer: null,
            showSnackbar: false,
            snackbarText: '',
            snackbarTimeout: 3000,
            snackbarType: 'info',
            hasBreadcrumbs: false,
        };
    },
    computed: {
        ...mapState(['authLoaded']),
    },
    created() {
        this.$eventBus.registerCallback('http-error', (status) => {
            if (status === 403 || status === 404) {
                this.$router.replace(`/error/${status}`);
            }
        });
        this.$eventBus.registerCallback('unauthenticated', () => {
            this.showUnauthenticatedModal = true;
        });

        Vue.prototype.$snackbar = {
            show: function(text, type = 'info', timeout = 3000) {
                if (type === 'error') {
                    this.snackbarTimeout = 0;
                } else {
                    this.snackbarTimeout = timeout || 3000;
                }
                this.snackbarText = text;
                this.showSnackbar = true;
                this.snackbarType = type || 'info';
            }.bind(this),
        };

        Vue.prototype.$confirm = (msg) => {
            return this.$refs.confirmationDialog.run(msg);
        };

        Vue.prototype.$hasRole = (role) => {
            return this.$store.getters.userRoles.indexOf(role) !== -1 ||
                (role !== 'dev' && this.$store.getters.userRoles.indexOf('admin') !== -1);
        }

        this.$breadcrumbs.onUpdate((breadcrumbs) => {
            this.hasBreadcrumbs = breadcrumbs.length > 0;
        });

        this.$store.dispatch('getUser');
    },
    methods: {
        reloadPage() {
            window.location.reload();
        },
    },
}
</script>