<template>
    <resource-page
        :title="$t('menus.admin.sent-emails')"
        resource-name="sentEmail"
        uri-key="sent-emails"
        :columns="columns"
        :can-delete="false"
        :can-edit="false"
        :can-add="false"
        paginated
        :additional-params="{ search }"
        ref="resourcePage"
        :actions="[
            {
                type: 'button',
                callback: viewEmail,
                text: $t('sent-emails.view'),
            },
        ]"
        default-sort-by="created_at"
        default-sort-desc
    >
        <template slot="title-right">
            <v-text-field
                v-model="search"
                append-icon="search"
                :label="$t('global.search')"
                single-line
                hide-details
                clearable
                autocomplete="off"
            />
        </template>
    </resource-page>
</template>

<script>
import _ from 'lodash';

export default {
    data() {
        return {
            columns: [
                {
                    text: this.$t('sent-emails.recipient'),
                    value: 'recipient',
                },
                {
                    text: this.$t('sent-emails.subject'),
                    value: 'subject',
                },
                {
                    text: this.$t('sent-emails.opens'),
                    value: 'opens',
                },
                {
                    text: this.$t('sent-emails.clicks'),
                    value: 'clicks',
                },
                {
                    text: this.$t('sent-emails.sent-at'),
                    value: 'created_at',
                    getValue: (sentEmail) => this.$moment(sentEmail.created_at).format(this.$t('dates.moment.date-time')),
                },
            ],
        };
    },
    computed: {
        search: {
            get() {
                return this.$route.query.search || '';
            },
            set: _.debounce(function (value) {
                let finalValue = value || '';
                if (finalValue !== this.search) {
                    this.$router.push({query: {...this.$route.query, search: finalValue, page: '1'}});
                }
            }, 300),
        },
    },
    watch: {
        search(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
    },
    methods: {
        viewEmail(sentEmail) {
            this.$router.push({name: 'show-sentEmail', query: this.$route.query, params: {sentEmail: sentEmail.id}})
        },
    },
}
</script>