<template>
    <base-modal v-model="show" :loading="!sentEmail" :width="1000">
        <template v-slot:title>
            {{ $t('sent-emails.show-modal-title') }}
        </template>

        <v-list>
            <v-list-item v-if="!!sentEmail">
                <v-list-item-title>
                    {{ $t('sent-emails.recipient') }}
                </v-list-item-title>
                <v-list-item-subtitle>
                    {{ sentEmail.recipient }}
                </v-list-item-subtitle>
            </v-list-item>
            <v-list-item v-if="!!sentEmail">
                <v-list-item-title>
                    {{ $t('sent-emails.subject') }}
                </v-list-item-title>
                <v-list-item-subtitle>
                    {{ sentEmail.subject }}
                </v-list-item-subtitle>
            </v-list-item>
            <v-list-item v-if="!!sentEmail">
                <v-list-item-title>
                    {{ $t('sent-emails.sent-at') }}
                </v-list-item-title>
                <v-list-item-subtitle>
                    {{ $moment(sentEmail.created_at).format($t('dates.moment.date-time')) }}
                </v-list-item-subtitle>
            </v-list-item>
            <v-list-item>
                <v-list-item-title v-if="!!sentEmail">
                    {{ $t('sent-emails.content') }}
                </v-list-item-title>
                <v-list-item-subtitle>
                    <iframe ref="contentIframe" frameborder="0"></iframe>
                </v-list-item-subtitle>
            </v-list-item>
        </v-list>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            show: true,
            sentEmail: null,
        };
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                this.$router.push({name: 'sent-emails', query: this.$route.query});
            }
        },
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.sentEmail = null;
            this.$request.get(`/api/sent-emails/${this.$route.params.sentEmail}`).then((response) => {
                this.sentEmail = response.data.data;
                this.loadContent();
            });
        },
        loadContent() {
            var ifrm = this.$refs.contentIframe;
            ifrm = ifrm.contentWindow || ifrm.contentDocument.document || ifrm.contentDocument;
            ifrm.document.open();
            ifrm.document.write(this.sentEmail.content);
            ifrm.document.close();
        },
    },
}
</script>

<style lang="scss" scoped>
iframe {
    width: 100%;
    height: 500px;
}
.v-list-item__title {
    flex-grow: 0;
    flex-basis: 200px;
}
</style>