// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    overflow-y: hidden !important;
}

.v-main {
    > .v-main__wrap {
        height: 100vh;
        flex-direction: column;
        display: flex;
        > .base-page {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            > .base-page-content-wrapper {
                overflow-y: auto;
            }
        }
        @media (max-width: 1263px) {
            height: calc(100vh - 56px);
        }
    }
}

.v-breadcrumbs {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    > li > a {
        font-size: 12px;
    }
}

.config-group {
    .v-input {
        margin-bottom: 10px;
    }
}

.v-messages {
    font-style: italic;
    font-size: 11px !important;
    color: rgba(0, 0, 0, 0.35) !important;
}

.theme--light.v-data-table.disable-hover tbody tr:hover:not(.v-data-table__expanded__content) {
    background: none;
}

.home-page {
    .home-box {
        h2 {
            font-size: 1.25rem;
        }
        h3 {
            font-size: 1.1rem;
        }
        .v-list-item .v-list-item__action-text {
            font-size: 1rem;
            color: white;
        }
    }
}

.resource-table-action-button {
    margin: 0 5px;
}

.title-right {
    display: flex;
    align-items: center;
    @media (min-width: 960px) {
        > * {
            flex-shrink: 1;
        }
        > *:not(:last-child) {
            margin-right: 10px;
        }
    }
    @media (max-width: 959px) {
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 100%;
        width: 100%;
        > * {
            flex-grow: 1;
            flex-basis: 100%;
            width: 100%;
        }
        > *:not(:first-child) {
            margin-top: 10px;
        }
    }
}

.v-card.technical-view {
    height: 90vh;
    display: flex;
    flex-direction: column;
    > .v-card__text {
        overflow-y: auto;
        flex-grow: 1;
    }
}