<template>
    <base-modal v-model="show" :loading="!leaveType" :width="500">
        <template v-slot:title v-if="mode === 'create' || !!leaveType">
            {{ $t(`leave-types.${mode}-modal-title`) }}
        </template>

        <v-form v-model="valid" v-if="mode === 'create' || !!leaveType" @submit.prevent="submit">
            <v-text-field
                v-model="leaveType.label"
                :label="$t('leave-types.label')"
                :error-messages="errors.label"
                autofocus
            />
            <v-text-field
                v-model="leaveType.min_duration"
                :label="$t('leave-types.min-duration')"
                :hint="$t('leave-types.min-duration-hint')"
                persistent-hint
                :error-messages="errors.min_duration"
                autofocus
            />
            <v-text-field
                v-model="leaveType.min_notice"
                :label="$t('leave-types.min-notice')"
                :hint="$t('leave-types.min-notice-hint')"
                persistent-hint
                :error-messages="errors.min_notice"
                autofocus
            />
            <v-switch
                v-model="leaveType.shopping_allowed"
                :label="$t('leave-types.shopping-allowed')"
                :error-messages="errors.shopping_allowed"
            />
            <v-switch
                v-model="leaveType.requires_admin"
                :label="$t('leave-types.requires-admin')"
                :error-messages="errors.requires_admin"
            />
        </v-form>

        <template v-slot:actions v-if="mode === 'create' || !!leaveType">
            <v-spacer />
            <v-btn @click="show = false" :disabled="saving">{{ $t('global.cancel') }}</v-btn>
            <v-btn @click="submit" color="primary" :disabled="saving" :loading="saving">{{ $t('global.save') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            mode: null,
            show: true,
            leaveType: {},
            valid: true,
            saving: false,
            errors: {
                label: [],
                shopping_allowed: [],
                min_duration: [],
                min_notice: [],
                requires_admin: [],
            },
        };
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                this.$router.push({name: 'admin-leave-types', query: this.$route.query});
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.load();
        next();
    },
    methods: {
        load() {
            if (this.mode === 'update') {
                this.leaveType = null;
                this.$request.get(`/api/leave-types/${this.$route.params.leaveType}`).then((response) => {
                    this.leaveType = response.data.data;
                });
            } else {
                this.leaveType = {};
            }
        },
        submit() {
            this.saving = true;
            let url, method;
            if (this.mode === 'update') {
                url = `/api/leave-types/${this.leaveType.id}`;
                method = 'put';
            } else {
                url = `/api/leave-types`;
                method = 'post';
            }
            this.$request[method](url, this.leaveType).then((response) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = [];
                });
                this.saving = false;
                this.show = false;
                this.$cache.forget('leaveTypes');
                if (this.mode === 'update') {
                    this.$eventBus.emit('leaveType-updated', response.data.data);
                } else {
                    this.$eventBus.emit('leaveType-created', response.data.data);
                }
            }).catch((error) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = !!error.response && !!error.response.data && !!error.response.data.errors ?
                        (error.response.data.errors[key] || []) :
                        [];
                });
                this.saving = false;
            });
        },
    },
}
</script>