<template>
    <resource-page
        :title="$t('menus.config.leave-types')"
        resource-name="leaveType"
        uri-key="leave-types"
        :columns="columns"
    />
</template>

<script>
export default {
    data() {
        return {
            columns: [
                {
                    text: this.$t('leave-types.label'),
                    value: 'label',
                },
                {
                    text: this.$t('leave-types.shopping-allowed'),
                    value: 'shopping_allowed',
                    getValue: (item) => item.shopping_allowed ? this.$t('global.yes') : this.$t('global.no'),
                },
                {
                    text: this.$t('leave-types.min-duration'),
                    value: 'min_duration',
                },
                {
                    text: this.$t('leave-types.min-notice'),
                    value: 'min_notice',
                },
                {
                    text: this.$t('leave-types.requires-admin'),
                    value: 'requires_admin',
                    getValue: (item) => item.requires_admin ? this.$t('global.yes') : this.$t('global.no'),
                },
            ],
        };
    },
}
</script>