<template>
    <resource-page
        :title="$t('menus.admin.key-codes')"
        resource-name="dayKeyCode"
        uri-key="day-key-codes"
        :columns="columns"
        :can-delete="false"
        :can-edit="false"
        :can-add="false"
        paginated
    >
    </resource-page>
</template>

<script>
export default {
    data() {
        return {
            columns: [
                {
                    text: this.$t('key-codes.date'),
                    getValue: (keyCode) => this.$moment(keyCode.date).format(this.$t('dates.moment.full-date')),
                },
                {
                    text: this.$t('key-codes.opening-code'),
                    getValue: (keyCode) => keyCode.opening_code,
                },
                {
                    text: this.$t('key-codes.closing-code'),
                    getValue: (keyCode) => keyCode.closing_code,
                },
            ],
        };
    },
}
</script>