<template>
    <base-modal v-model="show" :loading="!assignment" :width="500">
        <template v-slot:title>
            {{ $t('my-schedule.team') }}
        </template>

        <v-data-table
            :headers="headers"
            :items="team"
            :disable-pagination="true"
            :disable-sort="true"
            :hide-default-footer="true"
            :mobile-breakpoint="1"
        >
            <template v-slot:body="{ items }">
                <tbody>
                    <tr v-for="item in items" :key="item.id">
                        <td>
                            {{ item.fullname + (item.referent ? ' (' + $t('users.referent') + ')' : '') }}
                        </td>
                        <td>
                            <v-icon
                                v-if="!!$sendUserMessage"
                                @click="$sendUserMessage(item)"
                                :title="$t('global.send-message')"
                            >
                                message
                            </v-icon>
                        </td>
                        <td>
                            {{ item.phone }}
                        </td>
                        <td v-if="isReferent && isToday">
                            <v-switch
                                :input-value="assignment.parallel_assignments.filter((a) => a.user_id === item.id)[0].done"
                                @change="toggleAssignmentDone(item)"
                            />
                        </td>
                    </tr>
                </tbody>
            </template>
        </v-data-table>

        <template v-slot:actions>
            <v-spacer />
            <v-btn @click="show = false">{{ $t('global.close') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            show: true,
            assignment: null,
        };
    },
    computed: {
        team() {
            if (!!this.assignment) {
                return [
                    ...this.assignment.referents.map((u) => ({...u, referent: true})),
                    ...this.assignment.non_referents.map((u) => ({...u, referent: false})),
                ];
            } else {
                return [];
            }
        },
        isReferent() {
            return !!this.assignment && this.assignment.referents.map((u) => u.id).indexOf(this.$store.state.user.id) !== -1;
        },
        isToday() {
            return !!this.assignment && this.$moment(this.assignment.start_at).isSame(this.$moment(), 'day');
        },
        headers() {
            const res = [
                {
                    text: this.$t('users.full-name'),
                },
                {
                    text: '',
                },
                {
                    text: this.$t('users.phone'),
                },
            ];
            if (this.isReferent && this.isToday) {
                res.push({
                    text: this.$t('schedule.attended'),
                });
            }
            return res;
        },
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                this.$router.push({name: 'my-schedule', query: this.$route.query});
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.load();
        next();
    },
    methods: {
        load() {
            this.assignment = null;
            this.$request.get(`/api/actual-assignments/${this.$route.params.assignment}`).then((response) => {
                this.assignment = response.data.data;
            });
        },
        toggleAssignmentDone(user) {
            const actualAssignment = this.assignment.parallel_assignments.filter((a) => a.user_id === user.id)[0];
            actualAssignment.done = !actualAssignment.done;
            this.$request.put(`/api/actual-assignments/${actualAssignment.id}`, {
                done: !!actualAssignment.done,
            });
        },
    },
}
</script>