<template>
    <base-page :title="$t('menus.admin.attendance-monitoring')">
        <template v-slot:title-right>
            <date-field
                v-model="start"
                :label="$t('schedule.start-date')"
                hide-details
            />
            <date-field
                v-model="end"
                :label="$t('schedule.end-date')"
                hide-details
            />
            <resource-select
                v-model="selectedUser"
                resource="users"
                item-text="fullname"
                item-value="id"
                :label="$t('user-statuses.selected-user')"
                hide-details
            />
        </template>

        <v-data-table
            :items="!!selectedUser ? slots.filter((s) => s.assignments.filter((a) => a.user_id === selectedUser.id).length > 0) : slots"
            :headers="headers"
            :loading="loading"
            :disable-pagination="true"
            :disable-sort="true"
            :hide-default-footer="true"
            :mobile-breakpoint="1"
        >
            <template v-slot:item.actions="{ item }">
                <v-icon @click="displayed_slot_id = item.shop_schedule_slot_id + '_' + item.start" class="resource-table-action-icon">visibility</v-icon>
            </template>
        </v-data-table>

        <v-dialog :value="!!displayedSlot" @input="displayed_slot_id = null" :width="800">
            <v-card v-if="!!displayedSlot">
                <v-card-title>{{ displayedSlot.formatted_date }}</v-card-title>
                <v-card-text>
                    <v-data-table
                        :items="displayedSlot.assignments"
                        :headers="modalHeaders"
                        :disable-pagination="true"
                        :disable-sort="true"
                        :hide-default-footer="true"
                        :mobile-breakpoint="1"
                    >
                        <template v-slot:item.user="{ item }">
                            {{ item.user.fullname }}
                        </template>
                        <template v-slot:item.attended="{ item }">
                            <v-switch
                                :input-value="item.done"
                                @change="toggleAssignmentDone(item)"
                            />
                        </template>
                        <template v-slot:item.compensations_needed="{ item }">
                            <v-text-field
                                type="number"
                                :value="item.compensations_needed"
                                @input="updateAssignmentCompensationsNeeded(item, $event)"
                                :disabled="item.done"
                            />
                        </template>
                        <template v-slot:item.compensation_delay="{ item }">
                            <v-text-field
                                type="number"
                                :value="item.compensation_delay"
                                @input="updateAssignmentCompensationDelay(item, $event)"
                                :disabled="item.done"
                            />
                        </template>
                    </v-data-table>
                </v-card-text>

                <v-card-actions>
                    <v-spacer />
                    <v-btn @click="displayed_slot_id = null">{{ $t('global.close') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            slots: [],
            headers: [
                {
                    text: this.$t('schedule.date'),
                    value: 'formatted_date',
                },
                {
                    text: this.$t('schedule.nb-assignments'),
                    value: 'nb_assignments',
                    align: 'right',
                },
                {
                    text: this.$t('schedule.nb-assignments-done'),
                    value: 'nb_assignments_done',
                    align: 'right',
                },
                {
                    text: this.$t('schedule.nb-assignments-not-done'),
                    value: 'nb_assignments_not_done',
                    align: 'right',
                },
                {
                    text: this.$t('global.actions'),
                    value: 'actions',
                    align: 'right',
                },
            ],
            modalHeaders: [
                {
                    text: this.$t('schedule.user'),
                    value: 'user',
                },
                {
                    text: this.$t('schedule.attended'),
                    value: 'attended',
                },
                {
                    text: this.$t('schedule.compensations-needed'),
                    value: 'compensations_needed',
                },
                {
                    text: this.$t('schedule.compensation-delay'),
                    value: 'compensation_delay',
                },
            ],
            selectedUser: null,
        };
    },
    computed: {
        displayed_slot_id: {
            get() {
                return this.$route.query.displayed_slot_id;
            },
            set(value) {
                this.$router.push({query: {...this.$route.query, displayed_slot_id: value}});
            },
        },
        displayedSlot() {
            if (!!this.displayed_slot_id) {
                const parts = this.displayed_slot_id.split('_');
                return this.slots.filter((s) => s.shop_schedule_slot_id === parseInt(parts[0]) && s.start === parts[1])[0];
            } else {
                return null;
            }
        },
        start: {
            get() {
                return this.$route.query.start || this.$moment().subtract(1, 'months').format('YYYY-MM-DD');
            },
            set(value) {
                if (value !== this.start) {
                    this.$router.push({query: {...this.$route.query, start: value}});
                }
            },
        },
        end: {
            get() {
                return this.$route.query.end || this.$moment().subtract(1, 'days').format('YYYY-MM-DD');
            },
            set(value) {
                if (value !== this.end) {
                    this.$router.push({query: {...this.$route.query, end: value}});
                }
            },
        },
    },
    mounted() {
        this.load();
    },
    watch: {
        start() {
            this.load();
        },
        end() {
            this.load();
        },
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get('/api/shop-schedules/compute', {
                params: {
                    start: this.start,
                    end: this.end,
                },
            }).then((response) => {
                this.slots = response.data.sort((a, b) => {
                    if (a['start'] > b['start']) {
                        return -1;
                    } else {
                        return 1
                    }
                }).map((a) => {
                    return {
                        ...a,
                        formatted_date: this.$moment(a.start).format(this.$t('dates.moment.date-time')),
                        nb_assignments: a.assignments.length,
                        nb_assignments_done: a.assignments.filter((a) => a.done === true).length,
                        nb_assignments_not_done: a.assignments.filter((a) => a.done === false).length,
                    };
                });
                this.loading = false;
            });
        },
        toggleAssignmentDone(assignment) {
            assignment.done = !assignment.done;
            if (!assignment.done && !assignment.compensations_needed) {
                assignment.compensations_needed = 2;
            }
            if (assignment.done) {
                assignment.compensations_needed = 0;
            }
            this.$request.put(`/api/actual-assignments/${assignment.id}`, {
                done: !!assignment.done,
                compensations_needed: assignment.compensations_needed,
            });
        },
        updateAssignmentCompensationsNeeded(assignment, compensationsNeeded) {
            assignment.compensations_needed = compensationsNeeded;
            this.$request.put(`/api/actual-assignments/${assignment.id}`, {
                done: !!assignment.done,
                compensations_needed: assignment.compensations_needed,
            });
        },
        updateAssignmentCompensationDelay(assignment, compensationDelay) {
            this.$request.put(`/api/actual-assignments/${assignment.id}`, {
                compensation_delay: compensationDelay,
            });
        },
    },
}
</script>