<template>
    <base-page title="" :loading="loading">
        <member-status-card
            v-if="!loading"
            :user="user"
            :starting-assignment="startingAssignment"
            @startAssignment="startAssignment($event)"
            autostart-assignment
        />
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            user: {},
            boxColumns: {
                cols: 12,
                sm: 6,
                xl: 4,
            },
            startingAssignment: false,
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.$request.get(`/api/badging/user/${this.$route.query.login}`).then((response) => {
                this.user = response.data.data;
                this.startingAssignment = false;
                this.loading = false;
            });
        },
        startAssignment(assignmentId) {
            this.startingAssignment = true;
            this.$request.post(`/api/badging/start-assignment/${this.user.next_assigment.id}`)
                .then((response) => {
                    this.$snackbar.show(this.$t('users.assignment-started'));
                    this.load();
                })
                .catch((error) => {
                    this.$snackbar.show(this.$t('users.failed-starting-assignment'), 'error');
                    this.load();
                });
        },
    },
}
</script>