<template>
    <base-page :title="title" :loading="loading">
        <v-form ref="form" @submit.prevent="submit" v-model="valid">
            <config-group v-if="!loading && !!configGroup" :group="configGroup" ref="configGroup">
                <template slot="actions">
                    <v-spacer />
                    <v-btn color="primary" @click="submit" :disabled="!valid || saving" :loading="saving">{{ $t('global.save') }}</v-btn>
                </template>
            </config-group>
        </v-form>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            configGroup: {},
            loading: false,
            saving: false,
            valid: true,
        };
    },
    computed: {
        configGroupId() {
            return this.$route.params.configGroup;
        },
        title() {
            return this.configGroup.label || '';
        },
    },
    watch: {
        configGroupId(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.load();
            }
        },
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.configGroup = {};
            this.$request.get(`/api/config-groups/${this.configGroupId}`).then((response) => {
                this.configGroup = response.data.data;
                this.loading = false;
                this.$refs.form.validate();
            });
        },
        submit() {
            if (this.$refs.form.validate()) {
                this.saving = true;
                this.$request.put(
                    `/api/config-groups/${this.configGroupId}/set-values`,
                    this.$refs.configGroup.getValues()
                ).then((response) => {
                    this.saving = false;
                    this.$snackbar.show(this.$t('global.save-complete'));
                    this.$cache.forget('config');
                });
            }
        },
    },
}
</script>