<template>
    <base-page :title="$t('menus.admin.emergency-team-planning')" :loading="loading">
        <v-data-table
            :headers="headers"
            :items="items"
            :disable-pagination="true"
            :disable-sort="true"
            :hide-default-footer="true"
            :mobile-breakpoint="1"
        >
            <template v-slot:body="{ items }">
                <tbody>
                    <tr v-for="item in items" :key="item.weekday">
                        <td>{{ $t('global.weekday-' + item.weekday) }}</td>
                        <td>
                            <v-list>
                                <v-list-item v-for="user in getUsers(item.weekday, 'am')" :key="user.id + '_' + item.weekday +  '_am_'">
                                    <v-list-item-content>{{ user.fullname }}</v-list-item-content>
                                    <v-list-item-icon @click="removeUser(item.weekday, 'am', user)">
                                        <v-icon>delete</v-icon>
                                    </v-list-item-icon>
                                </v-list-item>
                            </v-list>
                            <resource-select
                                resource="users"
                                @input="addUser(item.weekday, 'am', $event)"
                                item-text="fullname"
                                item-value="id"
                                :label="$t('emergency-team-planning.add-user')"
                                v-model="searchSelection[item.weekday + 'am']"
                                hide-details
                            />
                        </td>
                        <td>
                            <v-list>
                                <v-list-item v-for="user in getUsers(item.weekday, 'pm')" :key="user.id + '_' + item.weekday +  '_pm_'">
                                    <v-list-item-content>{{ user.fullname }}</v-list-item-content>
                                    <v-list-item-icon @click="removeUser(item.weekday, 'pm', user)">
                                        <v-icon>delete</v-icon>
                                    </v-list-item-icon>
                                </v-list-item>
                            </v-list>
                            <resource-select
                                resource="users"
                                @input="addUser(item.weekday, 'pm', $event)"
                                item-text="fullname"
                                item-value="id"
                                :label="$t('emergency-team-planning.add-user')"
                                v-model="searchSelection[item.weekday + 'pm']"
                                hide-details
                            />
                        </td>
                        <td>
                            <v-list>
                                <v-list-item v-for="user in getUsers(item.weekday, 'ev')" :key="user.id + '_' + item.weekday +  '_ev_'">
                                    <v-list-item-content>{{ user.fullname }}</v-list-item-content>
                                    <v-list-item-icon @click="removeUser(item.weekday, 'ev', user)">
                                        <v-icon>delete</v-icon>
                                    </v-list-item-icon>
                                </v-list-item>
                            </v-list>
                            <resource-select
                                resource="users"
                                @input="addUser(item.weekday, 'ev', $event)"
                                item-text="fullname"
                                item-value="id"
                                :label="$t('emergency-team-planning.add-user')"
                                v-model="searchSelection[item.weekday + 'ev']"
                                hide-details
                            />
                        </td>
                    </tr>
                </tbody>
            </template>
        </v-data-table>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            headers: [
                {
                    text: '',
                },
                {
                    text: this.$t('global.morning'),
                },
                {
                    text: this.$t('global.afternoon'),
                },
                {
                    text: this.$t('global.evening'),
                },
            ],
            items: [
                {
                    weekday: 1,
                },
                {
                    weekday: 2,
                },
                {
                    weekday: 3,
                },
                {
                    weekday: 4,
                },
                {
                    weekday: 5,
                },
                {
                    weekday: 6,
                },
                {
                    weekday: 0,
                },
            ],
            loading: true,
            users: [],
            searchSelection: {
                '1am': null,
                '1pm': null,
                '1ev': null,
                '2am': null,
                '2pm': null,
                '2ev': null,
                '3am': null,
                '3pm': null,
                '3ev': null,
                '4am': null,
                '4pm': null,
                '4ev': null,
                '5am': null,
                '5pm': null,
                '5ev': null,
                '6am': null,
                '6pm': null,
                '6ev': null,
                '0am': null,
                '0pm': null,
                '0ev': null,
            },
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            return this.$request.get('/api/users?emergency_team=1&paginate=0').then((response) => {
                this.users = response.data.data;
                this.loading = false;
            });
        },
        getUsers(weekday, halfday)
        {
            return this.users.filter((u) => u.emergency_team_days.indexOf(weekday + halfday) !== -1);
        },
        addUser(weekday, halfday, user) {
            if (!!user) {
                this.loading = true;
                user.emergency_team_days.push(weekday + halfday);
                this.$request.put(`/api/users/${user.id}`, {
                    emergency_team_days: user.emergency_team_days,
                }).then(() => {
                    this.load().then(() => {
                        this.searchSelection[weekday + halfday] = null;
                    })
                });
            }
        },
        removeUser(weekday, halfday, user)
        {
            user.emergency_team_days = user.emergency_team_days.filter((d) => d !== weekday + halfday);
            this.$request.put(`/api/users/${user.id}`, {
                emergency_team_days: user.emergency_team_days,
            });
        },
    },
}
</script>