<template>
    <resource-page
        :title="$t('menus.main.emergency-numbers')"
        resource-name="user"
        :columns="columns"
        :can-add="false"
        :can-edit="false"
        :can-delete="false"
        ref="resourcePage"
        :additional-params="{ current_emergency_team: 1 }"
    />
</template>

<script>
export default {
    data() {
        return {
            columns: [
                {
                    text: this.$t('users.full-name'),
                    sortable: false,
                    value: 'fullname',
                },
                {
                    text: this.$t('users.phone'),
                    sortable: false,
                    value: 'phone',
                },
            ],
        };
    },
}
</script>