<template>
    <base-page :title="$t('menus.admin.ending-leaves')">
        <resource-table
            resource-name="leave"
            :columns="columns"
            :can-add="false"
            :can-edit="false"
            :can-delete="false"
            @update:loading="loading = $event"
            paginated
            :additional-params="{ending: 1, with_user: 1}"
            ref="resourceTable"
            default-sort-by="end_at"
        />
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            columns: [
                {
                    text: this.$t('leaves.user'),
                    getValue: (leave) => leave.user.fullname,
                },
                {
                    text: this.$t('leaves.leave-type'),
                    getValue: (leave) => leave.leave_type.label,
                },
                {
                    text: this.$t('leaves.start-at'),
                    sortable: true,
                    value: 'start_at',
                    getValue: (leave) => this.$moment(leave.start_at).format(this.$t('dates.moment.short-date-format')),
                },
                {
                    text: this.$t('leaves.end-at'),
                    sortable: true,
                    value: 'end_at',
                    getValue: (leave) => this.$moment(leave.end_at).format(this.$t('dates.moment.short-date-format')),
                },
            ],
        };
    },
}
</script>