<template>
    <base-page :title="$t('global.error')">
        <div v-html="$t('global.error-details.' + error)" />
    </base-page>
</template>

<script>
export default {
    computed: {
        error() {
            return this.$route.params.error;
        },
    },
}
</script>