<template>
    <base-page class="home-page">
        <v-alert type="warning" v-if="$store.state.user.flying_team">
            {{ $t('home.flying-team-switch-info') }}
        </v-alert>

        <v-row>
            <v-col v-bind="boxColumns">
                <my-assignments-box />
            </v-col>
            <v-col v-bind="boxColumns">
                <my-status-box />
            </v-col>
            <v-col v-bind="{cols: 12}">
                <assignment-switches-box />
            </v-col>
        </v-row>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            boxColumns: {
                cols: 12,
                sm: 6,
                xl: 4,
            },
            show: true,
        };
    },
}
</script>