<template>
    <resource-page
        :title="$t('menus.admin.incomplete-switches')"
        resource-name="assignmentSwitchOffer"
        uri-key="assignment-switch-offers"
        :columns="columns"
        :additional-params="{
            with_slot: 1,
            with_offer_user: 1,
            active: 1,
            paginate: 0,
        }"
        :can-add="false"
        :can-edit="false"
        :can-delete="false"
        :no-data-text="$t('assignment-switch-offers.no-available-offers')"
    />
</template>

<script>
import SwitchOffersCardMixin from '../components/SwitchOffers/SwitchOffersCardMixin.vue';
export default {
    mixins: [SwitchOffersCardMixin],
}
</script>