<template>
    <base-page :title="$t('menus.main.my-schedule')">
        <template v-slot:title-right>
            <a class="calendar-link" :href="$store.state.user.calendar_url">{{ $t('users.add-calendar-to-phone') }}</a>
        </template>

        <v-tabs v-model="tab">
            <v-tab>{{ $t('my-schedule.future-assignments') }}</v-tab>
            <v-tab>{{ $t('my-schedule.past-assignments') }}</v-tab>

            <v-tab-item>
                <resource-table
                    resource-name="actualAssignment"
                    uri-key="actual-assignments"
                    :root="`/users/${$store.state.user.id}/`"
                    :columns="columns.filter((c) => c.value != 'attended')"
                    :can-add="false"
                    :can-edit="false"
                    :can-delete="false"
                    ref="resourcePage"
                    :additional-params="{
                        with_slot: 1,
                        with_parallel_assignments: 1,
                        future: 1,
                    }"
                    :actions="[
                        {
                            type: 'button',
                            text: $t('my-schedule.view-team'),
                            callback: viewTeam,
                        },
                        {
                            type: 'button',
                            text: $t('assignment-switch-offers.switch-slot'),
                            callback: switchAssignment,
                            isCallable: (a) => !!a.assignment_id,
                        },
                        {
                            type: 'button',
                            text: $t('slot-assignment.unassign-myself-from-slot'),
                            callback: unassign,
                            isCallable: (a) => !a.assignment_id,
                        },
                    ]"
                >
                </resource-table>
                <owed-assignments-card class="mb-3" flat />
            </v-tab-item>
            <v-tab-item>
                <resource-table
                    resource-name="actualAssignment"
                    uri-key="actual-assignments"
                    :root="`/users/${$store.state.user.id}/`"
                    :columns="columns"
                    :can-add="false"
                    :can-edit="false"
                    :can-delete="false"
                    ref="resourcePage"
                    :additional-params="{
                        with_slot: 1,
                        with_parallel_assignments: 1,
                        past: 1,
                    }"
                    :actions="[
                        {
                            type: 'button',
                            text: $t('my-schedule.view-team'),
                            callback: viewTeam,
                        },
                    ]"
                    default-sort-desc
                    default-sort-by="date"
                >
                </resource-table>
            </v-tab-item>
        </v-tabs>

        <router-view name="modal"></router-view>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            columns: [
                {
                    text: this.$t('schedule.date'),
                    value: 'date',
                    getValue: (assignment) => {
                        const res = this.$moment(assignment.date).format(this.$t('dates.moment.full-date'));
                        return res[0].toUpperCase() + res.substring(1);
                    },
                },
                {
                    text: this.$t('schedule.start-time'),
                    value: 'start_at',
                    getValue: (assignment) => assignment.slot.start_at.substring(0, 5),
                },
                {
                    text: this.$t('schedule.end-time'),
                    value: 'end_at',
                    getValue: (assignment) => assignment.slot.end_at.substring(0, 5),
                },
                {
                    type: 'message-referents',
                    text: this.$t('users.referents'),
                    getReferents: (a) => a.referents,
                },
                {
                    text: this.$t('my-schedule.attended'),
                    value: 'attended',
                    getValue: (assignment) => assignment.done ? this.$t('global.yes') : this.$t('global.no'),
                },
            ],
            tab: 0,
        };
    },
    methods: {
        switchAssignment(assignment) {
            this.$router.push({
                name: 'create-assignmentSwitchOffer',
                query: {
                    actual_assignment_id: assignment.id,
                },
            });
        },
        unassign(assignment) {
            this.$confirm(this.$t('slot-assignment.confirm-unassign-from-slot')).then((response) => {
                if (response) {
                    this.$request.post(`/api/shop-schedule-slots/${assignment.shop_schedule_slot_id}/unassign-flying`, {
                        date: assignment.date,
                        user_id: this.$store.state.user.id,
                    }).then((response) => {
                        this.$refs.resourcePage.load();
                    });
                }
            });
        },
        viewTeam(assignment) {
            this.$router.push({
                name: 'view-assignment-team',
                params: {assignment: assignment.id},
            });
        },
    },
}
</script>

<style lang="scss" scoped>
.calendar-link {
    font-size: x-small;
}
</style>