<template>
    <base-page :title="$t('menus.main.my-team-attendance')" :loading="loading">
        <v-card v-for="assignment in assignments" :key="assignment.id">
            <v-card-title>
                {{ $moment($moment(assignment.date).format('YYYY-MM-DD') + ' ' + assignment.slot.start_at).format($t('dates.moment.date-time')) }}
            </v-card-title>
            <v-card-text>
                <v-data-table
                    :headers="headers"
                    :items="assignment.parallel_assignments"
                    :disable-pagination="true"
                    :disable-sort="true"
                    :hide-default-footer="true"
                    :mobile-breakpoint="1"
                >
                    <template v-slot:body="{ items }">
                        <tbody>
                            <tr v-for="item in items" :key="item.id">
                                <td>
                                    {{ item.user.fullname + (item.referent ? ' (' + $t('users.referent') + ')' : '') }}
                                </td>
                                <td>
                                    <v-icon
                                        v-if="!!$sendUserMessage"
                                        @click="$sendUserMessage(item.user)"
                                        :title="$t('global.send-message')"
                                    >
                                        message
                                    </v-icon>
                                </td>
                                <td>
                                    {{ item.user.phone }}
                                </td>
                                <td>
                                    <v-switch
                                        :input-value="assignment.parallel_assignments.filter((a) => a.user_id === item.user_id)[0].done"
                                        @change="toggleAssignmentDone(item)"
                                    />
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            assignments: [],
            headers: [
                {
                    text: this.$t('users.full-name'),
                },
                {
                    text: '',
                },
                {
                    text: this.$t('users.phone'),
                },
                {
                    text: this.$t('schedule.attended'),
                },
            ],
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get(`/api/users/${this.$store.state.user.id}/actual-assignments?current=1&referent=1&with_parallel_assignments=1&with_slot=1`).then((response) => {
                this.assignments = response.data.data;
                this.loading = false;
            });
        },
        toggleAssignmentDone(actualAssignment) {
            actualAssignment.done = !actualAssignment.done;
            this.$request.put(`/api/actual-assignments/${actualAssignment.id}`, {
                done: !!actualAssignment.done,
            });
        },
    },
}
</script>