<template>
    <base-page :title="$t('menus.main.profile')" :loading="loading">
        <v-form ref="form" @submit.prevent="submit" v-model="valid">
            <v-card v-if="!loading">
                <v-card-text>
                    <v-row>
                        <v-col :cols="12" :sm="6" :xl="4">
                            <weekday-picker
                                v-model="rescueTeamDays"
                                :label="$t('users.rescue-days')"
                                multiple
                                day-part
                                :hint="$t('users.rescue-days-hint')"
                                persistent-hint
                            />
                        </v-col>
                        <v-col :cols="12" :sm="6" :xl="4">
                            <v-switch v-model="user.shift_email_reminders" :label="$t('users.receive-shift-email-reminders')" />
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col :cols="12" :sm="6" :xl="4">
                            <v-switch v-model="user.allow_phone_number_sharing" :label="$t('users.allow-phone-number-sharing')" />
                        </v-col>
                    </v-row>
                </v-card-text>

                <v-card-actions>
                    <v-spacer />
                    <v-btn color="primary" @click="submit" :disabled="!valid || saving" :loading="saving">{{ $t('global.save') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </base-page>
</template>

<script>
import HandlesRescueTeamDays from '../mixins/HandlesRescueTeamDays.vue';

export default {
    mixins: [HandlesRescueTeamDays],
    data() {
        return {
            valid: true,
            loading: true,
            saving: false,
            user: {},
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get(`/api/users/${this.$store.state.user.id}`).then((response) => {
                this.user = this._.pick(response.data.data, ['rescue_team_days', 'shift_email_reminders', 'allow_phone_number_sharing']);
                this.loading = false;
                this.$refs.form.validate();
            });
        },
        submit() {
            if (this.$refs.form.validate()) {
                this.saving = true;
                this.$request.put(`/api/users/${this.$store.state.user.id}`, this.user).then((response) => {
                    this.saving = false;
                    this.$snackbar.show(this.$t('global.save-complete'));
                });
            }
        },
    },
}
</script>