<template>
    <base-page class="rescue-team-page" :title="$t('menus.main.rescue-team')" :loading="loading">
        <template slot="title-right" v-if="!!$store.state.user.next_assignment && $store.state.user.next_assignment.referent && $moment($store.state.user.next_assignment.start_at).isBefore($moment().add(1, 'day'))">
            <v-select
                :items="[
                    {value: 'now', text: $t('rescue-team.now')},
                    {value: 'next-assignment', text: $t('rescue-team.next-assignment')},
                ]"
                v-model="period"
                :label="$t('rescue-team.period')"
            />
        </template>

        <v-card v-if="!!suggestedUser" class="rescue-user">
            <v-card-title>{{ $t('rescue-team.suggested-user') }}</v-card-title>
            <v-card-text>
                <v-list>
                    <v-list-item>
                        <v-list-item-title>{{ $t('users.full-name') }}</v-list-item-title>
                        <v-list-item-subtitle>{{ suggestedUser.firstname + ' ' + suggestedUser.lastname }}</v-list-item-subtitle>
                    </v-list-item>
                    <v-list-item v-if="!!suggestedUser.phone">
                        <v-list-item-title>{{ $t('users.phone') }}</v-list-item-title>
                        <v-list-item-subtitle>{{ suggestedUser.phone }}</v-list-item-subtitle>
                    </v-list-item>
                    <v-list-item v-if="!!mattermostMessageUrl">
                        <v-list-item-title>{{ $t('rescue-team.mattermost-message') }}</v-list-item-title>
                        <v-list-item-subtitle>
                            <a :href="mattermostMessageUrl" target="_blank">{{ mattermostMessageUrl }}</a>
                        </v-list-item-subtitle>
                    </v-list-item>
                </v-list>
            </v-card-text>
            <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="getNext" :disabled="loading">{{ $t('rescue-team.get-another-user') }}</v-btn>
            </v-card-actions>
        </v-card>

        <v-alert v-if="!loading && !suggestedUser" color="error">
            {{ $t('rescue-team.no-user-available') }}
        </v-alert>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            suggestedUser: null,
            loading: true,
            period: 'now',
        };
    },
    computed: {
        mattermostMessageUrl() {
            if (!!window.mattermostMessageUrl && !!this.suggestedUser) {
                return window.mattermostMessageUrl.replace('{username}', this.suggestedUser.username);
            } else {
                return null;
            }
        },
    },
    watch: {
        period(value, oldValue) {
            if (value !== oldValue) {
                this.loadRescueUser();
            }
        },
    },
    mounted() {
        this.loadRescueUser();
    },
    methods: {
        loadRescueUser() {
            this.loading = true;
            this.$request.get('/api/rescue-assignments/get-next-user?period=' + this.period).then((response) => {
                if (!!response.data) {
                    this.suggestedUser = response.data.data;
                } else {
                    this.suggestedUser = null;
                }
                this.loading = false;
            });
        },
        getNext() {
            this.$request.post('/api/rescue-assignments/set-unavailable', {user_id: this.suggestedUser.id, period: this.period})
                .then((response) => {
                    this.loadRescueUser();
                });
        },
    },
}
</script>

<style lang="scss" scoped>
.rescue-user {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
</style>