<template>
    <base-page :title="$t('menus.main.schedule')" :loading="loading">
        <template slot="title-right" v-if="$hasRole('admin-users')">
            <v-menu>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" :disabled="selection.length == 0">
                        {{ $t('global.selection-actions') + (selection.length > 0 ? ' (' + selection.length + ')' : '') }}
                        <v-icon>arrow_drop_down</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item @click="sendMessageToSelection">
                        <v-list-item-title>{{ $t('users.send-message') }}</v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="selection.length == 1" @click="$impersonate(selection[0])">
                        <v-list-item-title>{{ $t('users.impersonate') }}</v-list-item-title>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-list>
                    <v-list-item @click="selection = []">
                        <v-list-item-title>{{ $t('global.clear-selection') }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </template>

        <v-row class="fill-height">
            <v-col>
                <v-sheet height="64">
                    <v-toolbar flat color="white">
                        <v-btn outlined class="mr-4" @click="setToday">
                            {{ $t('dates.today') }}
                        </v-btn>
                        <v-btn fab text small @click="prev">
                            <v-icon small>chevron_left</v-icon>
                        </v-btn>
                        <v-btn fab text small @click="next">
                            <v-icon small>chevron_right</v-icon>
                        </v-btn>
                        <v-toolbar-title>{{ title }}</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-menu bottom right>
                            <template v-slot:activator="{ on }">
                                <v-btn
                                    outlined
                                    v-on="on"
                                >
                                    <span>{{ typeToLabel[type] }}</span>
                                    <v-icon right>arrow_drop_down</v-icon>
                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-item @click="type = 'day'">
                                    <v-list-item-title>{{ $t('dates.day') }}</v-list-item-title>
                                </v-list-item>
                                <v-list-item @click="type = 'week'">
                                    <v-list-item-title>{{ $t('dates.week') }}</v-list-item-title>
                                </v-list-item>
                                <v-list-item @click="type = 'month'">
                                    <v-list-item-title>{{ $t('dates.month') }}</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </v-toolbar>
                </v-sheet>
                <v-sheet :height="type === 'month' ? 1300 : ($vuetify.breakpoint.lgAndUp ? 'calc(100vh - 168px)' : 'calc(100vh - 224px)')">
                    <v-calendar
                        ref="calendar"
                        v-model="focus"
                        color="primary"
                        :events="events"
                        :event-color="getEventColor"
                        :event-margin-bottom="3"
                        :now="today"
                        :type="type"
                        :weekdays="[1, 2, 3, 4, 5, 6, 0]"
                        :interval-format="formatInterval"
                        :locale="locale"
                        @click:event="showEvent"
                        @click:more="viewDay"
                        @click:date="viewDay"
                        @change="updateRange"
                    >
                        <template v-slot:event="{ event, eventParsed }">
                            <div class="d-flex align-center">
                                <b v-html="eventParsed.start.time + ' &gt; ' + eventParsed.end.time"></b>
                                <span v-if="event.comment" style="text-overflow: ellipsis; overflow-x: hidden;"> {{ event.comment }}</span>
                                <v-spacer />
                                <v-icon small v-if="event.assignments.map((a) => a.user.id).indexOf($store.state.user.id) !== -1">person</v-icon>
                            </div>
                        </template>
                        <template v-slot:day="{ date, weekday }">
                            <div v-if="weekday == 1" class="week_index_indicator">
                                {{ getWeekIndex(date) }}
                            </div>
                        </template>
                        <template v-slot:day-header="{ date }">
                            <div class="week_index_indicator">
                                {{ getWeekIndex(date) }}
                            </div>
                        </template>
                    </v-calendar>
                    <v-menu
                        v-model="selectedOpen"
                        :close-on-content-click="false"
                        :activator="selectedElement"
                        offset-x
                    >
                        <div>
                            <slot-card
                                :schedule-slot="selectedEvent"
                                @trigger-reload="reloadAll"
                                @close="selectedOpen = false"
                                :loading="loading"
                                :loading-compensations="loadingCompensations"
                                :has-compensations="hasCompensations || hasOwedAssignments"
                                :on-toggle-select="$hasRole('admin-users') ? toggleSelect : null"
                                :selection="selection"
                            />
                        </div>
                    </v-menu>
                </v-sheet>
            </v-col>
        </v-row>

        <router-view name="modal"></router-view>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            today: this.$moment().format('YYYY-MM-DD'),
            typeToLabel: {
                month: this.$t('dates.month'),
                week: this.$t('dates.week'),
                day: this.$t('dates.day'),
            },
            start: null,
            end: null,
            selectedEvent: {},
            selectedElement: null,
            selectedOpen: false,
            events: [],
            title: '',
            loading: false,
            loadingCompensations: false,
            hasCompensations: false,
            hasOwedAssignments: false,
            removeUserUser: null,
            selection: [],
            workingShiftFrequency: null,
        };
    },
    computed: {
        locale() {
            return window.locale;
        },
        monthFormatter() {
            return this.$refs.calendar.getFormatter({
                timeZone: window.timezone,
                month: 'long',
            });
        },
        focus: {
            get() {
                return this.$route.query.date || this.today;
            },
            set(value) {
                if (value !== this.focus) {
                    this.$router.push({query: {...this.$route.query, date: value}});
                }
            },
        },
        type: {
            get() {
                return this.$route.query.type || 'month';
            },
            set(value) {
                if (value !== this.type) {
                    this.$router.push({query: {...this.$route.query, type: value}});
                }
            },
        },
    },
    mounted() {
        this.$refs.calendar.checkChange();
        this.loadCompensations();
    },
    methods: {
        loadCompensations() {
            this.loadingCompensations = true;
            this.$request.get('/api/shop-schedules/get-user-compensations').then((response) => {
                this.hasCompensations = response.data.compensations.filter((c) => c.compensations.unscheduled > 0).length > 0;
                if (this.hasCompensations) {
                    this.loadingCompensations = false;
                } else {
                    this.$request.get(`/api/users/${this.$store.state.user.id}/owed-assignments`).then((response) => {
                        this.hasOwedAssignments = response.data.data.length > 0;
                        this.loadingCompensations = false;
                    });
                }
            });
        },
        viewDay({ date }) {
            this.focus = date;
            this.type = 'day';
        },
        getEventColor(event) {
            let baseColor;
            if (event.assignments.length < event.min_workers_per_slot) {
                baseColor = this.$vuetify.theme.parsedTheme.error.base;
            } else {
                if (event.shop_open) {
                    if (event.assignments.length >= event.ideal_workers_per_slot) {
                        baseColor = this.$vuetify.theme.parsedTheme.success.base;
                    } else {
                        baseColor = this.$vuetify.theme.parsedTheme.success.lighten3;
                    }
                } else {
                    if (event.accounting) {
                        baseColor = '#FFC107';
                    } else {
                        baseColor = this.$vuetify.theme.parsedTheme.accent.base;
                    }
                }
            }
            return baseColor;
        },
        setToday() {
            this.focus = this.today;
        },
        prev() {
            this.$refs.calendar.prev();
        },
        next() {
            this.$refs.calendar.next();
        },
        showEvent({ nativeEvent, event }) {
            const open = () => {
                this.selectedEvent = event;
                this.selectedElement = nativeEvent.target;
                setTimeout(() => this.selectedOpen = true, 10);
            };
            if (this.selectedOpen) {
                this.selectedOpen = false;
                setTimeout(open, 10);
            } else {
                open();
            }
            nativeEvent.stopPropagation();
        },
        updateRange({ start, end }) {
            if (!this.start || !this.end || start.date !== this.start.date || end.date !== this.end.date) {
                this.start = start;
                this.end = end;
                this.updateTitle();
                this.loadEvents();
            }
        },
        updateTitle() {
            const { start, end } = this;
            if (!start || !end) {
                return '';
            }
            const startMonth = this.monthFormatter(start);
            const endMonth = this.monthFormatter(end);
            const startYear = start.year;
            const endYear = end.year;
            const startDay = start.day;
            const endDay = end.day;
            switch (this.type) {
                case 'month':
                    this.title = `${startMonth} ${startYear}`;
                    break;
                case 'week':
                    if (startMonth === endMonth) {
                        this.title = `${startDay} - ${endDay} ${startMonth} ${startYear}`;
                    } else if (startYear === endYear) {
                        this.title = `${startDay} ${startMonth} - ${endDay} ${endMonth} ${startYear}`;
                    } else {
                        this.title = `${startDay} ${startMonth} ${startYear} - ${endDay} ${endMonth} ${endYear}`;
                    }
                    break;
                case 'day':
                    this.title = `${startDay} ${startMonth} ${startYear}`;
                    break;
                default:
                    this.title = '';
                    break;
            }
        },
        loadEvents() {
            let { start, end } = this;
            if (!start || !end) {
                this.events = [];
                return;
            }
            if (this.type === 'month') {
                start = this.$moment(start.date).startOf('isoWeek').format('YYYY-MM-DD');
                end = this.$moment(end.date).endOf('isoWeek').format('YYYY-MM-DD');
            } else {
                start = start.date;
                end = end.date;
            }
            this.loading = true;
            this.$cache.getConfigItem('working_shift_frequency').then((workingShiftFrequency) => {
                this.workingShiftFrequency = workingShiftFrequency;
                this.$request.get('/api/shop-schedules/compute', {
                    params: {
                        start,
                        end,
                    },
                }).then((response) => {
                    this.events = response.data.map((e) => {
                        return {
                            ...e,
                            referents: e.assignments.filter((a) => a.referent),
                            others: e.assignments.filter((a) => !a.referent),
                            flyingTeamCount: e.assignments.filter((a) => a.user.flying_team).length,
                            name: this.$moment(e.start).format(this.$t('dates.moment.time')) + " &gt; " +
                                this.$moment(e.end).format(this.$t('dates.moment.time')),
                        };
                    }).filter((e) => {
                        return !e.accounting || this.$store.state.user.accounting_team || this.$hasRole('admin');
                    });
                    this.loading = false;
                    if (!!this.selectedEvent) {
                        this.selectedEvent = this.events.filter((e) => {
                            return e.shop_schedule_slot_id === this.selectedEvent.shop_schedule_slot_id &&
                                e.start === this.selectedEvent.start;
                        })[0] || {};
                    }
                });
            });
        },
        formatInterval(interval) {
            return this.$t('dates.calendar.interval-format', {hour: interval.hour})
        },
        reloadAll() {
            this.loadEvents();
            this.loadCompensations();
        },
        sendMessageToSelection() {
            this.$request.get('/api/mattermost/get-conversation-url', {
                params: {
                    usernames: this.selection.map((i) => i.username),
                },
            }).then((response) => {
                window.open(response.data, '_blank');
            });
        },
        toggleSelect(user) {
            if (this.selection.map((i) => i.id).indexOf(user.id) === -1) {
                this.selection = [...this.selection, user];
            } else {
                this.selection = this.selection.filter((i) => i.id !== user.id);
            }
        },
        getWeekIndex(date) {
            return this.$t('dates.week') + ' ' +
                String.fromCharCode(65 + (this.$moment(date).diff(this.$moment('1970-01-01').startOf('week'), 'weeks') % this.workingShiftFrequency));
        },
    },
}
</script>

<style lang="scss" scoped>
.v-calendar {
    .v-icon {
        color: white;
    }
}
.week_index_indicator {
    font-size: 12px;
    text-align: center;
}
</style>