<template>
    <base-page :title="$t('menus.admin.slot-assignment')" :loading="loading">
        <template slot="title-right" v-if="schedules.length > 0">
            <v-text-field
                v-model="search"
                :label="$t('global.search')"
                clearable
            />
            <v-select
                :label="$t('slot-assignment.selected-schedule')"
                :items="schedules"
                v-model="selectedScheduleId"
                item-value="id"
                item-text="title"
            />
        </template>

        <schedule-slot-assignment
            v-if="!!selectedSchedule"
            :schedule="selectedSchedule"
            main
            :search="search"
        />
        <schedule-slot-assignment
            v-for="override in selectedScheduleOverrides"
            :key="override.id"
            :schedule="override"
            :search="search"
        />
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            schedules: [],
            selectedSchedule: null,
            selectedScheduleOverrides: [],
        };
    },
    computed: {
        selectedScheduleId: {
            get() {
                if (this.schedules.length > 0) {
                    if (!!this.$route.query.schedule) {
                        return parseInt(this.$route.query.schedule, 10);
                    } else {
                        const currentSchedule = this.schedules.filter((s) => {
                            return this.$moment(s.start_at).isBefore(this.$moment()) &&
                                this.$moment(s.end_at).isAfter(this.$moment());
                        })[0];
                        return !!currentSchedule ? currentSchedule.id : this.schedules[0].id;
                    }
                } else {
                    return null;
                }
            },
            set(value) {
                if (value !== this.selectedScheduleId) {
                    this.$router.replace({query: {...this.$route.query, schedule: value === null ? null : value.toString()}});
                }
            },
        },
        search: {
            get() {
                return this.$route.query.search || '';
            },
            set(value) {
                this.setSearch(value);
            },
        },
    },
    watch: {
        selectedScheduleId(value) {
            this.selectedSchedule = null;
            this.selectedScheduleOverrides = [];
            if (!!value) {
                this.loadSelectedSchedule();
            } else {
                this.selectedSchedule = null;
                this.selectedScheduleOverrides = [];
            }
        },
    },
    created() {
        this.setSearch = this._.debounce((value) => {
            const query = this._.omit(this.$route.query, 'search');
            if (!!value) {
                query.search = value;
            }
            this.$router.replace({query});
        }, 300);
    },
    mounted() {
        this.loadSchedules();
    },
    methods: {
        loadSchedules() {
            this.loading = true;
            this.$request.get('/api/shop-schedules', {
                params: {
                    root_only: 1,
                    paginate: 0,
                },
            }).then((response) => {
                this.schedules = response.data.data;
                this.loading = false;
            });
        },
        loadSelectedSchedule() {
            this.loading = true;
            this.$request.get(`/api/shop-schedules/${this.selectedScheduleId}`, {
                params: {
                    with_children: 1,
                    with_slots: 1,
                    hide_passed: 1,
                    with_assignments: 1,
                },
            }).then((response) => {
                this.selectedSchedule = response.data.data;
                let overrides = [];
                this.selectedSchedule.overrides.forEach((override) => {
                    overrides = [
                        ...overrides,
                        override,
                        ...override.overrides,
                    ];
                });
                this.selectedScheduleOverrides = overrides;
                this.loading = false;
            });
        },
    },
}
</script>