<template>
    <base-page :title="$t('menus.admin.slots-without-referent')">
        <template v-slot:title-right>
            <date-field
                v-model="start"
                :label="$t('schedule.start-date')"
                hide-details
            />
            <date-field
                v-model="end"
                :label="$t('schedule.end-date')"
                hide-details
            />
        </template>

        <v-data-table
            :items="slots"
            :headers="headers"
            :loading="loading"
            :disable-pagination="true"
            :disable-sort="true"
            :hide-default-footer="true"
            :mobile-breakpoint="1"
        >
            <template v-slot:item.actions="{ item }">
                <v-menu offset-y :close-on-content-click="false" :value="!!selectedEvent && (selectedEvent.shop_schedule_slot_id === item.shop_schedule_slot_id && selectedEvent.start === item.start)" @input="selectedEvent = null">
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon v-bind="attrs" @click="selectedEvent = item" class="resource-table-action-icon">visibility</v-icon>
                    </template>
                    
                    <div>
                        <slot-card
                            :schedule-slot="item"
                            @trigger-reload="load"
                            @close="selectedEvent = null"
                            display-switch-offers
                        />
                    </div>
                </v-menu>
            </template>
        </v-data-table>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            slots: [],
            headers: [
                {
                    text: this.$t('schedule.date'),
                    value: 'formatted_date',
                },
                {
                    text: this.$t('global.actions'),
                    value: 'actions',
                },
            ],
            selectedEvent: null,
        };
    },
    computed: {
        start: {
            get() {
                return this.$route.query.start || this.$moment().format('YYYY-MM-DD');
            },
            set(value) {
                if (value !== this.start) {
                    this.$router.push({query: {...this.$route.query, start: value}});
                }
            },
        },
        end: {
            get() {
                return this.$route.query.end || this.$moment().add(1, 'months').format('YYYY-MM-DD');
            },
            set(value) {
                if (value !== this.end) {
                    this.$router.push({query: {...this.$route.query, end: value}});
                }
            },
        },
    },
    mounted() {
        this.load();
    },
    watch: {
        start() {
            this.load();
        },
        end() {
            this.load();
        },
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get('/api/shop-schedules/compute', {
                params: {
                    start: this.start,
                    end: this.end,
                    with_switch_offers: 1,
                },
            }).then((response) => {
                this.slots = response.data.filter((s) => {
                    return !s.accounting && s.assignments.filter((a) => a.referent).length == 0;
                }).sort((a, b) => {
                    if (a['start'] > b['start']) {
                        return 1;
                    } else {
                        return -1
                    }
                }).map((e) => {
                    return {
                        ...e,
                        formatted_date: this.$moment(e.start).format(this.$t('dates.moment.date-time')),
                        referents: e.assignments.filter((a) => a.referent),
                        others: e.assignments.filter((a) => !a.referent),
                        flyingTeamCount: e.assignments.filter((a) => a.user.flying_team).length,
                        name: this.$moment(e.start).format(this.$t('dates.moment.full-date')) + ' '  +
                            this.$moment(e.start).format(this.$t('dates.moment.time')) + " &gt; " +
                            this.$moment(e.end).format(this.$t('dates.moment.time')),
                    };
                });
                this.loading = false;
            });
        },
    },
}
</script>