<template>
    <base-page :title="$t('menus.admin.stats')">
        <v-row>
            <v-col v-bind="boxColumns">
                <users-stats-box />
            </v-col>
            <v-col v-bind="boxColumns">
                <members-age-stats-box />
                <members-gender-stats-box style="margin-top: 20px" />
            </v-col>
            <v-col v-bind="boxColumns" v-if="$vuetify.breakpoint.xlOnly">
                <attendance-stats-box />
                <assignment-switches-stats-box style="margin-top: 20px" />
            </v-col>
            <v-col v-bind="boxColumns" v-if="$vuetify.breakpoint.lgAndDown">
                <attendance-stats-box />
            </v-col>
            <v-col v-bind="boxColumns" v-if="$vuetify.breakpoint.lgAndDown">
                <assignment-switches-stats-box />
            </v-col>
        </v-row>
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            boxColumns: {
                cols: 12,
                sm: 6,
                xl: 4,
            },
        };
    },
}
</script>