<template>
    <base-page :title="$t('menus.admin.technical-tools')">
        <v-row>
            <v-col>
                <v-btn @click="exportDatabase">{{ $t('global.export-database') }}</v-btn>
            </v-col>
        </v-row>
    </base-page>
</template>

<script>
export default {
    methods: {
        exportDatabase() {
            window.location = '/api/export-database';
        },
    },
}
</script>