<template>
    <base-page :title="$t('menus.main.user-statuses')" :loading="loading">
        <template slot="title-right">
            <resource-select
                :value="selectedUser"
                @input="updateSelectedUser"
                resource="users"
                item-text="fullname"
                item-value="id"
                :label="$t('user-statuses.selected-user')"
                hide-details
                autofocus
            />
        </template>

        <member-status-card
            v-if="!!selectedUser"
            :user="selectedUser"
            :starting-assignment="startingAssignment"
            @startAssignment="startAssignment($event)"
        />
    </base-page>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            selectedUser: null,
            startingAssignment: false,
        };
    },
    created() {
        if (this.$route.query.user) {
            this.loadUser(this.$route.query.user);
        }
    },
    beforeRouteUpdate(to, from, next) {
        if (to.query.user) {
            this.loadUser(to.query.user);
        } else {
            this.selectedUser = null;
        }
        next();
    },
    methods: {
        loadUser(userId) {
            this.loading = true;
            return this.$request.get(`/api/badging/user/${userId}`).then((response) => {
                this.selectedUser = response.data.data;
                this.loading = false;
            });
        },
        updateSelectedUser(value) {
            if (!this._.isEqual(value, this.selectedUser)) {
                if (value) {
                    this.$router.push({query: {...this.$route.query, user: value.id}});
                } else {
                    this.$router.push({query: {...this.$route.query, user: null}});
                }
            }
        },
        startAssignment(assignmentId) {
            this.startingAssignment = true;
            this.$request.post(`/api/badging/start-assignment/${this.selectedUser.next_assigment.id}`)
                .then((response) => {
                    this.$snackbar.show(this.$t('users.assignment-started'));
                    this.loadUser(this.selectedUser.id).then(() => {
                        this.startingAssignment = false;
                    });
                })
                .catch((error) => {
                    this.$snackbar.show(this.$t('users.failed-starting-assignment'), 'error');
                    this.loadUser(this.selectedUser.id).then(() => {
                        this.startingAssignment = false;
                    });
                });
        },
    },
}
</script>