<template>
    <v-breadcrumbs v-if="breadcrumbs.length > 0" :items="breadcrumbs" />
</template>

<script>
export default {
    data() {
        return {
            breadcrumbs: [],
        };
    },
    created() {
        this.$breadcrumbs.onUpdate((breadcrumbs) => {
            this.breadcrumbs = breadcrumbs;
        });
    },
}
</script>