<template>
    <v-navigation-drawer
        app
        :mobile-breakpoint="$vuetify.breakpoint.thresholds.md"
        :permanent="$vuetify.breakpoint.lgAndUp"
        dark
        color="primary"
        :value="value"
        @input="$emit('input', $event)"
    >
        <v-list-item>
            <v-list-item-icon class="shop-icon">
                <img src="/favicon.png">
            </v-list-item-icon>
            <v-list-item-content>
                <v-list-item-title class="title">{{ $t('global.shop-name') }}</v-list-item-title>
                <v-list-item-subtitle>{{ $t('global.app-name') }}</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider />

        <v-list dense nav>
            <v-list-item
                v-for="(item, index) in mainMenu"
                :key="index"
                link
                :to="item.external ? null : item.url"
                :href="item.external ? item.url : null"
                :target="item.external ? '_blank' : null"
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.label }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-icon v-if="item.external">
                    <v-icon>launch</v-icon>
                </v-list-item-icon>
            </v-list-item>
        </v-list>

        <v-divider v-if="adminMenu.length > 0" />

        <v-list dense nav v-if="adminMenu.length > 0">
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>
                        <h3>{{ $t('global.administration') }}</h3>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item
                v-for="(item, index) in adminMenu"
                :key="index"
                link
                :to="item.external ? null : item.url"
                :href="item.external ? item.url : null"
                :target="item.external ? '_blank' : null"
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.label }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-icon v-if="item.external">
                    <v-icon>launch</v-icon>
                </v-list-item-icon>
            </v-list-item>
        </v-list>

        <v-divider v-if="configMenu.length > 0" />

        <v-list dense nav v-if="configMenu.length > 0">
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>
                        <h3>{{ $t('global.config') }}</h3>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item
                v-for="(item, index) in configMenu"
                :key="index"
                link
                :to="item.external ? null : item.url"
                :href="item.external ? item.url : null"
                :target="item.external ? '_blank' : null"
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.label }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-icon v-if="item.external">
                    <v-icon>launch</v-icon>
                </v-list-item-icon>
            </v-list-item>
        </v-list>

        <v-divider v-if="techMenu.length > 0" />

        <v-list dense nav v-if="techMenu.length > 0">
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>
                        <h3>{{ $t('global.tech-menu-title') }}</h3>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item
                v-for="(item, index) in techMenu"
                :key="index"
                link
                :to="item.external ? null : item.url"
                :href="item.external ? item.url : null"
                :target="item.external ? '_blank' : null"
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.label }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-icon v-if="item.external">
                    <v-icon>launch</v-icon>
                </v-list-item-icon>
            </v-list-item>
        </v-list>

        <template v-if="$hasRole('dev')">
            <v-divider />

            <v-list dense nav>
                <v-list-item>
                    <v-list-item-content>
                        <v-switch :input-value="$store.state.debug" @change="$store.dispatch('setDebug', $event)" :label="$t('global.debug')" />
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </template>

        <template v-if="isImpersonating">
            <v-divider />

            <v-list dense nav>
                <v-list-item @click="stopImpersonating">
                    <v-list-item-content>
                        <v-list-item-title>{{ $t('users.stop-impersonating') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </template>
    </v-navigation-drawer>
</template>

<script>
import { mapState } from 'vuex';

export default {
    props: {
        value: {
            required: false,
        },
    },
    data() {
        return {
            mainMenu: [],
            adminMenu: [],
            configMenu: [],
            techMenu: [],
        };
    },
    computed: {
        ...mapState(['user']),
        isImpersonating() {
            return this.$store.state.user.is_impersonating;
        },
    },
    watch: {
        user(newValue, oldValue) {
            if (!!newValue && (!oldValue || oldValue.id !== newValue.id)) {
                this.loadMenus();
            }
        },
    },
    mounted() {
        this.loadMenus();
        setInterval(() => {
            this.loadMenus();
        }, 10 * 60 * 1000);
    },
    methods: {
        loadMenus() {
            this.$request.get('/api/menus/all').then((response) => {
                this.mainMenu = response.data.main;
                this.adminMenu = response.data.admin;
                this.configMenu = response.data.config;
                this.techMenu = response.data.tech;
            });
        },
        stopImpersonating() {
            this.$stopImpersonating();
        },
    },
}
</script>

<style lang="scss" scoped>
    .v-list-item__icon.shop-icon {
        margin: 0;
        img {
            width: 64px;
            height: 64px;
        }
        &:first-child {
            margin-right: 0;
        }
    }
</style>