<template>
    <v-card class="base-page" flat>
        <v-progress-linear indeterminate :active="loading" absolute />
        <v-card-title v-if="!!title" class="base-page-title">
            {{ title }}
            <v-spacer />
            <div v-if="!!$slots['title-right']" class="title-right">
                <slot name="title-right" />
            </div>
        </v-card-title>
        <v-card-text class="base-page-content-wrapper">
            <slot />
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    props: {
        title: String,
        loading: {
            type: Boolean,
            default: false,
        },
        flat: {
            type: Boolean,
            default: false,
        },
    },
}
</script>