<template>
    <v-dialog :value="value" @input="$emit('input', $event)" :width="width">
        <v-card :loading="loading" :class="cardClass">
            <v-card-title v-if="!!$slots.title">
                <slot name="title" />
            </v-card-title>
            <v-card-text>
                <slot />
            </v-card-text>
            <v-card-actions v-if="!!$slots.actions">
                <slot name="actions" />
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: {
        value: Boolean,
        width: Number|String,
        loading: Boolean,
        cardClass: {},
    },
}
</script>