<template>
    <v-dialog v-model="show" :width="500">
        <v-card>
            <v-card-title>{{ $t('global.confirmation') }}</v-card-title>
            <v-card-text v-html="msg" />
            <v-card-actions>
                <v-spacer />
                <v-btn @click="response(false)">{{ $t('global.no') }}</v-btn>
                <v-btn @click="response(true)" color="primary">{{ $t('global.yes') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data() {
        return {
            show: false,
            msg: '',
            result: false,
        };
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                if (this.result === null) {
                    this.result = false;
                }
            }
        },
    },
    methods: {
        response(value) {
            this.result = value;
            this.show = false;
        },
        promiseResolver(resolve, reject) {
            if (this.result === null) {
                setTimeout(() => {
                    this.promiseResolver(resolve, reject);
                }, 100);
            } else {
                resolve(this.result);
            }
        },
        run(msg) {
            this.msg = msg;
            this.result = null;
            this.promise = new Promise(this.promiseResolver);
            this.show = true;
            return this.promise;
        },
    },
}
</script>