<template>
    <v-card :flat="depth !== 1" class="config-group">
        <v-card-title v-if="depth > 0">{{ group.label }}</v-card-title>
        <v-card-text>
            <config-group v-for="child in group.children" :key="child.id" :group="child" :depth="depth + 1" ref="children" />

            <v-container>
                <v-row>
                    <v-col v-for="item in group.items" :key="item.id" v-bind="getColumns(item)">
                        <component
                            :is="getComponent(item)"
                            v-model="item.value"
                            :label="item.label"
                            :hint="item.description"
                            persistent-hint
                            v-bind="getComponentProps(item)"
                        />
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>

        <v-card-actions v-if="!!$slots.actions">
            <slot name="actions" />
        </v-card-actions>
    </v-card>
</template>

<script>
import { VTextField } from 'vuetify/lib';

export default {
    components: {
        VTextField,
    },
    props: {
        group: {
            type: Object,
            required: true,
        },
        depth: {
            type: Number,
            default: 0,
        },
    },
    methods: {
        getComponent(item) {
            switch (item.type) {
                default:
                    return 'v-text-field';
            }
        },
        getComponentProps(item) {
            const props = {
                rules: [],
                required: item.required,
            };
            if (item.required) {
                props.rules.push((v) => !!v || this.$t('validation.field-required'));
            }
            switch (item.type) {
                case 'integer':
                    props.rules.push((v) => v === null || v === '' || /^[0-9]+$/.test(v) || this.$t('validation.integer-field'));
                    break;
            }
            return props;
        },
        getValues() {
            let res = {};
            this.group.items.forEach((item) => {
                switch (item.type) {
                    case 'integer':
                        res[item.key] = !!item.value ? parseInt(item.value, 10) : null;
                        break;
                    default:
                        res[item.key] = item.value;
                        break;
                }
            });
            if (!!this.$refs.children) {
                this.$refs.children.forEach((child) => {
                    res = {
                        ...res,
                        ...child.getValues(),
                    };
                });
            }
            return res;
        },
        getColumns(item) {
            switch (item.type) {
                default:
                    return {
                        cols: 12,
                        sm: 6,
                        xl: 4,
                    };
            }
        },
    },
}
</script>