<template>
    <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        min-width="290px"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                v-model="formattedValue"
                :label="label"
                prepend-icon="event"
                v-on="on"
                :error-messages="displayErrors"
                :disabled="disabled"
                autocomplete="off"
                :hide-details="hideDetails"
            />
        </template>
        <v-date-picker
            :value="value"
            @input="$emit('input', $event)"
            no-title
            scrollable
            reactive
            :first-day-of-week="1"
            :min="min"
            :max="max"
            :picker-date="pickerDate"
            @update:picker-date="$emit('update:picker-date', $event)"
        />
    </v-menu>
</template>

<script>
import BindsAttrs from 'vuetify/lib/mixins/binds-attrs';
import Validatable from 'vuetify/lib/mixins/validatable';

export default {
    mixins: [BindsAttrs, Validatable],
    props: {
        label: {
            type: String,
            required: true,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        min: String,
        max: String,
        pickerDate: String,
        hideDetails: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            menu: false,
            formattedValue: '',
            inputError: null,
        };
    },
    computed: {
        displayErrors() {
            if (!!this.inputError) {
                return [this.inputError];
            } else {
                return this.validationTarget;
            }
        }
    },
    watch: {
        value(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.menu = false;
                this.formatValue();
            }
        },
        formattedValue(newValue, oldValue) {
            if (newValue !== oldValue) {
                if (!!newValue) {
                    const moment = this.$moment(newValue, this.$t('dates.moment.short-date-format'), true);
                    if (moment.isValid()) {
                        this.inputError = null;
                        this.$emit('input', moment.format('YYYY-MM-DD'));
                    } else {
                        this.inputError = this.$t('dates.invalid-date');
                    }
                } else {
                    this.inputError = null;
                    this.$emit('input', null);
                }
            }
        },
    },
    mounted() {
        this.formatValue();
    },
    methods: {
        formatValue() {
            if (this.value) {
                this.formattedValue = this.$moment(this.value).format(this.$t('dates.moment.short-date-format'));
            } else {
                this.formattedValue = '';
            }
        },
    },
}
</script>