<template>
    <v-card class="mx-auto member-status-card">
        <v-img :src="`/api/users/${user.id}/photo`" :width="200" :height="200" class="mx-auto" />

        <v-card-title>
            {{ user.firstname + ' ' + user.lastname }}
        </v-card-title>

        <v-card-text>
            <v-list>
                <v-list-item>
                    <v-list-item-title>{{ $t('users.member-status') }}</v-list-item-title>

                    <v-list-item-subtitle>
                        <v-icon :color="status.color">{{ status.icon }}</v-icon>
                        {{ status.text }}
                    </v-list-item-subtitle>
                </v-list-item>
                <v-list-item>
                    <v-list-item-title>{{ $t('users.allowed-to-shop') }}</v-list-item-title>

                    <v-list-item-subtitle>
                        {{ status.allowedToShop ? $t('global.yes') : $t('global.no') }}
                    </v-list-item-subtitle>
                </v-list-item>
                <v-list-item>
                    <v-list-item-title>{{ $t('users.next-assignment') }}</v-list-item-title>

                    <v-list-item-subtitle>
                        {{ nextAssigmentDate }}
                    </v-list-item-subtitle>
                </v-list-item>
            </v-list>
        </v-card-text>

        <v-card-actions v-if="nextAssigmentStartable">
            <v-spacer />
            <v-btn @click="startNextAssigment" color="primary" :disabled="startingAssignment" :loading="startingAssignment">
                <v-icon>play_arrow</v-icon>
                {{ $t('users.begin-shift') }}
            </v-btn>
            <v-spacer />
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: {
        user: {
            type: Object,
            required: true,
        },
        startingAssignment: {
            type: Boolean,
            default: false,
        },
        autostartAssignment: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
        };
    },
    computed: {
        status() {
            switch (this.user.status) {
                case 'up-to-date':
                    return {
                        icon: 'check',
                        color: 'success',
                        text: this.$t('users.status-up-to-date'),
                        allowedToShop: true,
                    };
                case 'alert':
                    return {
                        icon: 'warning',
                        color: 'warning',
                        text: this.$t('users.status-alert'),
                        allowedToShop: true,
                    };
                case 'suspended':
                    return {
                        icon: 'close',
                        color: 'error',
                        text: this.$t('users.status-suspended'),
                        allowedToShop: false,
                    };
                case 'blocked':
                    return {
                        icon: 'close',
                        color: 'error',
                        text: this.$t('users.status-blocked'),
                        allowedToShop: false,
                    };
                case 'inactive':
                    return {
                        icon: 'close',
                        color: 'error',
                        text: this.$t('users.status-inactive'),
                        allowedToShop: false,
                    };
                case 'leave-no-shopping':
                    return {
                        icon: 'close',
                        color: 'error',
                        text: this.$t('users.status-leave-no-shopping'),
                        allowedToShop: false,
                    };
                case 'unsubscribed':
                    return {
                        icon: 'close',
                        color: 'error',
                        text: this.$t('users.status-unsubscribed'),
                        allowedToShop: false,
                    };
            }
        },
        nextAssigmentDate() {
            if (!!this.user.next_assigment) {
                const res = this.$moment(this.user.next_assigment.start_at).format(this.$t('dates.moment.date-time'));
                return res[0].toUpperCase() + res.substring(1);
            } else {
                return this.$t('users.no-next-assignment');
            }
        },
        nextAssigmentStartable() {
            if (!!this.user.next_assigment) {
                return this.user.next_assigment.startable;
            } else {
                return false;
            }
        },
    },
    mounted() {
        if (this.autostartAssignment && this.nextAssigmentStartable) {
            this.startNextAssigment();
        }
    },
    methods: {
        startNextAssigment() {
            this.$emit('startAssignment', this.user.next_assigment.id);
        },
    },
}
</script>

<style lang="scss" scoped>
.member-status-card {
    max-width: 516px;
}
</style>