<template>
    <div class="modal-resource-select">
        <span :style="{'font-weight': matchesBoldCondition ? 'bold' : 'normal'}">{{ text }}</span>
        <v-icon small @click="edit">edit</v-icon>

        <v-dialog v-model="showEditModal" width="500">
            <v-card flat>
                <v-card-title v-if="!!modalTitle">{{ modalTitle }}</v-card-title>
                <v-card-text>
                    <resource-select
                        v-model="modalValue"
                        :label="label"
                        :resource="resource"
                        :item-text="itemText"
                        :item-value="itemValue"
                        :search-field="searchField"
                        :additional-search-params="additionalSearchParams"
                        :root="root"
                        hide-details
                    />
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn @click="showEditModal = false">{{ $t('global.cancel') }}</v-btn>
                    <v-btn @click="save" color="primary">{{ $t('global.save') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        label: {
            type: String,
        },
        modalTitle: {
            type: String,
        },
        resource: {
            type: String,
            required: true,
        },
        itemText: {
            type: String,
            required: true,
        },
        itemValue: {
            type: String,
            required: true,
        },
        searchField: {
            type: String,
            default: 'search',
        },
        additionalSearchParams: {
            type: Object,
            default: () => ({}),
        },
        root: {
            type: String,
            default: '/',
        },
        boldMatch: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            showEditModal: false,
            modalValue: null,
        };
    },
    computed: {
        text() {
            return !!this.value ? this.value[this.itemText] : '';
        },
        matchesBoldCondition() {
            const words = this.boldMatch.split(' ').filter((w) => !!w).map((w) => w.toLowerCase());
            if (words.length > 0) {
                for (let i = 0; i < words.length; i++) {
                    if (this.text.toLowerCase().indexOf(words[i]) === -1) {
                        return false;
                    }
                }
                return true;
            } else {
                return false;
            }
        },
    },
    methods: {
        edit() {
            this.modalValue = this.value;
            this.showEditModal = true;
        },
        save() {
            this.$emit('input', this.modalValue);
            this.showEditModal = false;
        },
    },
}
</script>

<style lang="scss" scoped>
.modal-resource-select {
    display: flex;
    align-items: center;
    > span {
        flex-grow: 1;
    }
}
</style>