<template>
    <base-page :title="title" :loading="loading">
        <template v-if="!!$slots['title-right'] || selectionActions.length > 0" slot="title-right">
            <slot name="title-right" />
            <v-menu v-if="selectionActions.length > 0">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" :disabled="localSelection.length == 0">
                        {{ $t('global.selection-actions') + (localSelection.length > 0 ? ' (' + localSelection.length + ')' : '') }}
                        <v-icon>arrow_drop_down</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item v-for="(action, index) in selectionActions" :key="index" @click="action.callback(localSelection)">
                        <v-list-item-title>{{ action.label }}</v-list-item-title>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-list>
                    <v-list-item @click="localSelection = []">
                        <v-list-item-title>{{ $t('global.clear-selection') }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </template>

        <resource-table
            :resource-name="resourceName"
            :plural-resource-name="pluralResourceName"
            :uri-key="uriKey"
            :columns="columns"
            :can-add="canAdd"
            :can-edit="canEdit"
            :can-delete="canDelete"
            :add-callback="addCallback"
            :edit-callback="editCallback"
            :delete-callback="deleteCallback"
            :is-editable="isEditable"
            :is-deletable="isDeletable"
            @update:loading="loading = $event"
            :paginated="paginated"
            :additional-params="additionalParams"
            ref="resourceTable"
            :root="root"
            :default-sort-by="defaultSortBy"
            :default-sort-desc="defaultSortDesc"
            :actions="actions"
            :more-actions="moreActions"
            :no-data-text="noDataText"
            :selectable="selectable"
            :selection="localSelection"
            @update:selection="localSelection = $event"
            :allow-display-all="allowDisplayAll"
        />
        
        <router-view name="modal"></router-view>
    </base-page>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true,
        },
        resourceName: {
            type: String,
            required: true,
        },
        pluralResourceName: {
            type: String,
        },
        uriKey: {
            type: String,
        },
        columns: {
            type: Array,
            default: () => [],
        },
        canAdd: {
            type: Boolean,
            default: true,
        },
        canEdit: {
            type: Boolean,
            default: true,
        },
        canDelete: {
            type: Boolean,
            default: true,
        },
        addCallback: {
            type: Function,
        },
        editCallback: {
            type: Function,
        },
        deleteCallback: {
            type: Function,
        },
        isEditable: {
            type: Function,
        },
        isDeletable: {
            type: Function,
        },
        paginated: {
            type: Boolean,
            default: false,
        },
        defaultSortBy: {
            type: String,
        },
        defaultSortDesc: {
            type: Boolean,
            default: false,
        },
        additionalParams: {
            type: Object,
            default: () => ({}),
        },
        root: {
            type: String,
            default: '/',
        },
        actions: {
            type: Array,
            default: () => [],
        },
        moreActions: {
            type: Array,
            default: () => [],
        },
        noDataText: {
            type: String,
        },
        selection: {
            type: Array,
            default: () => [],
        },
        selectionActions: {
            type: Array,
            default: () => [],
        },
        selectable: {
            type: Boolean,
            default: false,
        },
        allowDisplayAll: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            loading: true,
            localSelection: this.selection,
        };
    },
    watch: {
        selection(value) {
            this.localSelection = value;
        },
        localSelection(value) {
            this.$emit('update:selection', value);
        },
    },
    methods: {
        load() {
            this.$refs.resourceTable.load();
        },
    },
}
</script>