<template>
    <v-autocomplete
        v-model="select"
        :loading="loading"
        :items="items"
        :search-input.sync="search"
        hide-no-data
        :hide-details="hideDetails"
        :label="label"
        :hint="hint"
        :persistent-hint="persistentHint"
        :item-text="itemText"
        :item-value="itemValue"
        autocomplete="off"
        clearable
        :error-messages="errorMessages"
        :readonly="readonly"
        :disabled="disabled"
        :autofocus="autofocus"
        no-filter
    ></v-autocomplete>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        label: {
            type: String,
        },
        resource: {
            type: String,
            required: true,
        },
        itemText: {
            type: String,
            required: true,
        },
        itemValue: {
            type: String,
            required: true,
        },
        searchField: {
            type: String,
            default: 'search',
        },
        additionalSearchParams: {
            type: Object,
            default: () => ({}),
        },
        root: {
            type: String,
            default: '/',
        },
        hideDetails: {
            type: Boolean,
            default: false,
        },
        hint: {
            type: String,
        },
        persistentHint: {
            type: Boolean,
            default: false,
        },
        errorMessages: {
            type: Array,
            default: () => [],
        },
        readonly: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        autofocus: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            loading: false,
            items: [],
            search: '',
            select: null,
            selectLabel: '',
            itemMap: {},
        };
    },
    watch: {
        search(value) {
            this.performSearch(value);
        },
        value(value) {
            this.processValue();
        },
        select(value) {
            if (!!value) {
                this.selectLabel = this.itemMap[value][this.itemText];
                this.$emit('input', this.itemMap[value]);
            } else {
                this.$emit('input', null);
            }
        },
    },
    mounted() {
        this.performSearch = this._.debounce(this.doPerformSearch, 300);
        this.processValue();
    },
    methods: {
        doPerformSearch(search) {
            if (!!search) {
                if (search !== this.selectLabel) {
                    this.loading = true;
                    this.$request.get(`/api${this.root}${this.resource}`, {
                        params: {
                            [this.searchField]: search,
                            ...this.additionalSearchParams,
                        },
                    }).then((response) => {
                        this.items = response.data.data;
                        this.loading = false;
                        this.items.forEach((item) => {
                            this.itemMap[item[this.itemValue]] = item;
                        });
                    });
                }
            } else {
                this.items = [];
            }
        },
        processValue() {
            if (!!this.value) {
                this.items = [this.value];
                this.itemMap[this.value[this.itemValue]] = this.value;
                this.select = this.value[this.itemValue];
                this.selectLabel = this.value[this.itemText];
            } else {
                this.select = null;
            }
        },
    },
}
</script>