<template>
    <v-data-table
        :headers="headers"
        :items="resources"
        :options.sync="options"
        :server-items-length="totalItems"
        :footer-props="{
            'items-per-page-options': allowDisplayAll ? [10, 25, 50, 100, -1] : [10, 25, 50, 100],
        }"
        :multi-sort="false"
        :disable-pagination="!paginated"
        :disable-sort="!paginated"
        :hide-default-footer="!paginated"
        :no-data-text="noDataText"
        :mobile-breakpoint="1"
    >
        <template v-slot:top v-if="canAdd">
            <v-toolbar flat>
                <v-spacer />
                <v-btn color="primary" dark @click="addItem">{{ $t('global.add') }}</v-btn>
            </v-toolbar>
        </template>

        <template v-slot:header.selection="{ header }">
            <div class="d-flex align-center">
                <v-checkbox v-model="selectAll" />
                <span class="flex-grow-1">{{ header.text }}</span>
            </div>
        </template>

        <template v-slot:body="{ items }">
            <tbody>
                <tr v-for="item in items" :key="item.id">
                    <td v-for="(column, index) in actualColumns" :key="index" class="`text-${column.align || 'left'}`">
                        <template v-if="column.type === 'chips'">
                            <v-chip
                                v-for="(chip, index) in column.getValue(item)"
                                :key="index"
                                :color="chip.color"
                                @click="chip.onclick"
                            >
                                {{ chip.text }}
                            </v-chip>
                        </template>
                        <template v-else-if="column.type === 'message-referents'">
                            <div>
                                <div v-for="referent in column.getReferents(item)" :key="referent.id">
                                    <span>{{ referent.fullname }}</span>
                                    <v-icon
                                        v-if="!!$sendUserMessage"
                                        @click="$sendUserMessage(referent)"
                                        :title="$t('global.send-message')"
                                    >
                                        message
                                    </v-icon>
                                </div>
                            </div>
                        </template>
                        <template v-else-if="column.type === 'switch'">
                            <v-switch
                                :input-value="!!column.getValue ? column.getValue(item) : item[column.value]"
                                @change="column.setValue(item, $event)"
                            />
                        </template>
                        <template v-else-if="column.type === 'selection'">
                            <v-checkbox
                                :input-value="selection.map((i) => i.id).indexOf(item.id) !== -1"
                                @change="toggleSelection(item)"
                            />
                        </template>
                        <template v-else-if="column.type === 'select'">
                            <v-select
                                :items="column.items"
                                :value="!!column.getValue ? column.getValue(item) : item[column.value]"
                                :item-value="column.itemValue"
                                :item-text="column.itemText"
                                :multiple="!!column.multiple"
                                @input="column.setValue(item, $event)"
                            ></v-select>
                        </template>
                        <template v-else-if="column.type === 'number-input'">
                            <v-text-field
                                type="number"
                                :value="!!column.getValue ? column.getValue(item) : item[column.value]"
                                @input="column.setValue(item, $event)"
                                :disabled="!!column.getDisabled ? column.getDisabled(item) : false"
                            />
                        </template>
                        <template v-else-if="column.type === 'id'">
                            <a @click.stop.prevent="$store.dispatch('setTechnicalView', {resource: !!debugResource ? debugResource : actualUriKey, resourceId: item.id})">
                                {{ !!column.getValue ? column.getValue(item) : item[column.value] }}
                            </a>
                        </template>
                        <div v-else-if="column.type === 'html'" v-html="!!column.getValue ? column.getValue(item) : item[column.value]"></div>
                        <template v-else>{{ !!column.getValue ? column.getValue(item) : item[column.value] }}</template>
                    </td>
                    <td class="text-right table-actions-cell" v-if="inlineActions.length > 0">
                        <template v-for="(action, index) in inlineActions">
                            <template v-if="!!action.isCallable ? action.isCallable(item) : true">
                                <v-btn
                                    v-if="action.type === 'button'"
                                    :key="index"
                                    @click="action.callback(item)"
                                    :color="action.color"
                                    small
                                    class="resource-table-action-button"
                                >
                                    {{ action.text }}
                                </v-btn>
                                <v-icon
                                    v-else
                                    :key="index"
                                    @click="action.callback(item)"
                                    :color="action.color"
                                    class="resource-table-action-icon"
                                >
                                    {{ action.icon }}
                                </v-icon>
                            </template>
                        </template>
                        <template v-if="getVisibleMoreActions(item).length > 0">
                            <v-menu offset-y>
                                <template v-slot:activator="{ on }">
                                    <v-icon v-on="on">more_horiz</v-icon>
                                </template>
                                <v-list>
                                    <v-list-item
                                        v-for="(action, index) in getVisibleMoreActions(item)"
                                        :key="index"
                                        @click="action.callback(item)"
                                    >
                                        <v-list-item-title>{{ action.text }}</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </template>
                    </td>
                </tr>

                <tr v-if="items.length === 0 && !!noDataText && !loading">
                    <td :colspan="headers.length" class="text-center">
                        {{ noDataText }}
                    </td>
                </tr>
            </tbody>
        </template>
    </v-data-table>
</template>

<script>
const CancelToken = require('axios').CancelToken;

export default {
    props: {
        resourceName: {
            type: String,
            required: true,
        },
        pluralResourceName: {
            type: String,
        },
        uriKey: {
            type: String,
        },
        columns: {
            type: Array,
            default: () => [],
        },
        canAdd: {
            type: Boolean,
            default: true,
        },
        canEdit: {
            type: Boolean,
            default: true,
        },
        canDelete: {
            type: Boolean,
            default: true,
        },
        addCallback: {
            type: Function,
        },
        editCallback: {
            type: Function,
        },
        deleteCallback: {
            type: Function,
        },
        isEditable: {
            type: Function,
        },
        isDeletable: {
            type: Function,
        },
        paginated: {
            type: Boolean,
            default: false,
        },
        defaultSortBy: {
            type: String,
        },
        defaultSortDesc: {
            type: Boolean,
            default: false,
        },
        sortByParam: {
            type: String,
            default: 'sort_by',
        },
        sortDescParam: {
            type: String,
            default: 'sort_desc',
        },
        pageParam: {
            type: String,
            default: 'page',
        },
        itemsPerPageParam: {
            type: String,
            default: 'items_per_page',
        },
        additionalParams: {
            type: Object,
            default: () => ({}),
        },
        root: {
            type: String,
            default: '/',
        },
        actions: {
            type: Array,
            default: () => [],
        },
        moreActions: {
            type: Array,
            default: () => [],
        },
        noDataText: {
            type: String,
        },
        selection: {
            type: Array,
            default: () => [],
        },
        selectable: {
            type: Boolean,
            default: false,
        },
        allowDisplayAll: {
            type: Boolean,
            default: false,
        },
        debugResource: {
            type: String,
        },
    },
    data() {
        return {
            resources: [],
            totalItems: 0,
            loading: true,
            cancelLoad: null,
        };
    },
    computed: {
        actualPluralResourceName() {
            return this.pluralResourceName || this.resourceName + 's';
        },
        actualUriKey() {
            return this.uriKey || this.actualPluralResourceName;
        },
        actualColumns() {
            return [
                ...(this.selectable ? [{
                    text: this.$t('global.selection'),
                    type: 'selection',
                    value: 'selection',
                }] : []),
                ...(this.$store.state.debug ? [{
                    text: this.$t('global.id'),
                    type: 'id',
                    value: 'id',
                }] : []),
                ...this.columns,
            ];
        },
        headers() {
            const res = this.actualColumns.map((c) => {
                return {
                    ...c,
                    sortable: !!c.sortable,
                };
            });
            if (this.inlineActions.length > 0) {
                res.push({
                    text: this.$t('global.actions'),
                    align: 'right',
                    sortable: false,
                });
            }
            return res;
        },
        page: {
            get() {
                return parseInt(this.$route.query[this.pageParam], 10) || 1;
            },
            set(value) {
                if (value !== this.page) {
                    this.$router.replace({query: {...this.$route.query, [this.pageParam]: value.toString()}});
                }
            },
        },
        itemsPerPage: {
            get() {
                return parseInt(this.$route.query[this.itemsPerPageParam], 10) || 10;
            },
            set(value) {
                if (value !== this.itemsPerPage) {
                    this.$router.replace({query: {...this.$route.query, [this.itemsPerPageParam]: value.toString()}});
                }
            },
        },
        sortBy: {
            get() {
                return !!this.$route.query[this.sortByParam] ? [this.$route.query[this.sortByParam]] : (!!this.defaultSortBy ? [this.defaultSortBy] : []);
            },
            set(value) {
                if (!this._.isEqual(value, this.sortBy)) {
                    this.$router.replace({query: {...this.$route.query, [this.sortByParam]: value.length > 0 ? value[0] : null}});
                }
            },
        },
        sortDesc: {
            get() {
                return typeof this.$route.query[this.sortDescParam] === 'undefined' ? (this.defaultSortDesc ? [true] : [false]) : [this.$route.query[this.sortDescParam] === '1'];
            },
            set(value) {
                if (!this._.isEqual(value, this.sortDesc)) {
                    this.$router.replace({query: {...this.$route.query, [this.sortDescParam]: value.length > 0 && value[0] ? '1' : '0'}});
                }
            },
        },
        options: {
            get() {
                return {
                    page: this.page,
                    itemsPerPage: this.itemsPerPage,
                    sortBy: this.sortBy,
                    sortDesc: this.sortDesc,
                };
            },
            set(value) {
                Object.keys(value).forEach((key) => {
                    this[key] = value[key];
                });
            },
        },
        inlineActions() {
            const res = [];

            if (this.canEdit) {
                res.push({
                    isCallable: this.isEditable,
                    callback: this.editItem,
                    icon: 'edit',
                });
            }
            
            if (this.canDelete) {
                res.push({
                    isCallable: this.isDeletable,
                    callback: this.deleteItem,
                    icon: 'delete',
                });
            }

            return [
                ...this.actions,
                ...res,
            ];
        },
        selectAll: {
            get() {
                return this.resources.length > 0 && this.resources.length === this.selection.filter((s) => {
                    return this.resources.map((r) => r.id).indexOf(s.id) !== -1;
                }).length;
            },
            set(value) {
                if (value) {
                    this.$emit('update:selection', [...this.resources]);
                } else {
                    this.$emit('update:selection', []);
                }
            },
        },
        reallyPaginated() {
            return this.paginated && this.itemsPerPage !== -1;
        },
    },
    watch: {
        loading(value) {
            this.$emit('update:loading', value);
        },
        options: {
            handler(newValue, oldValue) {
                if (!this._.isEqual(newValue, oldValue)) {
                    this.load();
                }
            },
            deep: true,
        },
        columns() {
            this.columns.forEach((column) => {
                if (!!column.itemsPromise) {
                    column.itemsPromise.then((items) => {
                        column.items = items;
                    });
                }
            });
        },
        resources() {
            this.$emit('update:resources', this.resources);
        },
    },
    created() {
        this.load = this._.debounce(this.doLoad, 300);
        this.updatedCallback = this.$eventBus.registerCallback(`${this.resourceName}-updated`, (item) => {
            this.resources.forEach((i) => {
                if (i.id === item.id) {
                    Object.keys(item).forEach((key) => {
                        i[key] = item[key];
                    });
                }
            });
        });
        this.createdCallback = this.$eventBus.registerCallback(`${this.resourceName}-created`, (item) => {
            this.load();
        });
        this.deletedCallback = this.$eventBus.registerCallback(`${this.resourceName}-deleted`, (item) => {
            this.resources = this.resources.filter((i) => i.id !== item.id);
        });
    },
    mounted() {
        this.load();
        this.columns.forEach((column) => {
            if (!!column.itemsPromise) {
                column.itemsPromise.then((items) => {
                    column.items = items;
                });
            }
        });
    },
    destroyed() {
        this.$eventBus.unregisterCallback(this.updatedCallback);
        this.$eventBus.unregisterCallback(this.createdCallback);
        this.$eventBus.unregisterCallback(this.deletedCallback);
    },
    methods: {
        doLoad() {
            this.loading = true;
            if (!!this.cancelLoad) {
                this.cancelLoad();
                this.cancelLoad = null;
            }
            let params = {
                ...this.additionalParams,
            };
            if (this.reallyPaginated) {
                params = {
                    ...params,
                    paginate: 1,
                    page: this.options.page,
                    per_page: this.options.itemsPerPage,
                    order_by: this.options.sortBy.length > 0 ? this.options.sortBy[0] : null,
                    order_dir: this.options.sortDesc.length > 0 && this.options.sortDesc[0] ? 'desc': 'asc',
                };
            } else {
                params = {
                    ...params,
                    paginate: 0,
                    order_by: this.options.sortBy.length > 0 ? this.options.sortBy[0] : null,
                    order_dir: this.options.sortDesc.length > 0 && this.options.sortDesc[0] ? 'desc': 'asc',
                };
            }
            this.$request.get(`/api${this.root}${this.actualUriKey}`, {
                params,
                cancelToken: new CancelToken((c) => {
                    this.cancelLoad = c;
                }),
            }).then((response) => {
                this.resources = response.data.data;
                if (this.reallyPaginated) {
                    this.totalItems = response.data.meta.total;
                    this.options.page = response.data.meta.current_page;
                } else {
                    this.totalItems = this.resources.length;
                }
                this.loading = false;
            });
        },
        addItem() {
            if (!!this.addCallback) {
                this.addCallback();
            } else {
                this.$router.push({name: `create-${this.resourceName}`, query: this.$route.query});
            }
        },
        editItem(item) {
            if (!!this.editCallback) {
                this.editCallback(item);
            } else {
                this.$router.push({
                    name: `update-${this.resourceName}`,
                    query: this.$route.query,
                    params: {[this.resourceName]: item.id},
                });
            }
        },
        deleteItem(item) {
            if (!!this.deleteCallback) {
                this.deleteCallback(item);
            } else {
                this.$confirm(this.$t(`${this.actualUriKey}.confirm-delete`)).then((confirmed) => {
                    if (confirmed) {
                        this.$request.delete(`/api${this.root}${this.actualUriKey}/${item.id}`).then((response) => {
                            this.$cache.forget(this.actualPluralResourceName);
                            this.$eventBus.emit(`${this.resourceName}-deleted`, {id: item.id});
                        });
                    }
                });
            }
        },
        getVisibleMoreActions(item) {
            return this.moreActions.filter((action) => {
                return !!action.isCallable ? action.isCallable(item) : true;
            });
        },
        toggleSelection(item) {
            if (this.selection.map((i) => i.id).indexOf(item.id) === -1) {
                this.$emit('update:selection', [...this.selection, item]);
            } else {
                this.$emit('update:selection', this.selection.filter((i) => i.id !== item.id));
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.table-actions-cell {
    white-space: nowrap;
}
</style>