<template>
    <v-card class="mb-3" v-if="!loading" flat :loading="updating">
        <v-card-title>{{ main ? $t('slot-assignment.main-schedule') : schedule.title }}</v-card-title>
        <v-card-subtitle>
            {{ $moment(schedule.start_at).format($t('dates.moment.short-date-format')) }} &gt;
            {{ $moment(schedule.end_at).format($t('dates.moment.short-date-format')) }}
        </v-card-subtitle>
        <v-card-text>
            <v-expansion-panels>
                <v-expansion-panel v-for="slot in displaySlots" :key="slot.id">
                    <v-expansion-panel-header>
                        <span class="flex-grow-1">
                            {{ $t(`global.weekday-${slot.weekday}`) }} {{ slot.start_at.substring(0, 5) }} &gt; {{ slot.end_at.substring(0, 5) }}
                            <span v-if="!!slot.comment"> ({{ slot.comment }})</span>
                        </span>
                        <span class="flex-grow-0">
                            <v-chip color="primary">{{ $t('slot-assignment.unassigned-count', {count: slot.unassigned_count})}}</v-chip>
                        </span>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-simple-table class="disable-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th v-for="week in weekList" :key="week">
                                        {{ $t('slot-assignment.week') + ' ' + String.fromCharCode(65 + week) }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(assignmentIndex, index) in slot.referentSlots" :key="'referent_' + index">
                                    <td v-if="index === 0" :rowspan="slot.referentSlots.length">
                                        {{ $t('users.referents') }}
                                    </td>
                                    <td v-for="week in weekList" :key="week">
                                        <modal-resource-select
                                            resource="users"
                                            item-value="id"
                                            item-text="fullname"
                                            :additional-search-params="{is_referent: 1, accounting_team: slot.accounting ? 1 : null}"
                                            :value="!!assignments[slot.id][week]['referent_' + assignmentIndex] ? assignments[slot.id][week]['referent_' + assignmentIndex].user : null"
                                            @input="updateAssignment(slot.id, week, 'referent_' + assignmentIndex, $event)"
                                            :modal-title="$t('slot-assignment.update-assignment')"
                                            :bold-match="search"
                                        />
                                    </td>
                                </tr>
                                <tr v-for="(assignmentIndex, index) in slot.otherSlots" :key="'others_' + index">
                                    <td v-if="index === 0" :rowspan="slot.otherSlots.length">
                                        {{ $t('slot-assignment.others') }}
                                    </td>
                                    <td v-for="week in weekList" :key="week">
                                        <modal-resource-select
                                            resource="users"
                                            item-value="id"
                                            item-text="fullname"
                                            :additional-search-params="{accounting_team: slot.accounting ? 1 : null}"
                                            :value="!!assignments[slot.id][week][assignmentIndex] ? assignments[slot.id][week][assignmentIndex].user : null"
                                            @input="updateAssignment(slot.id, week, assignmentIndex, $event)"
                                            :modal-title="$t('slot-assignment.update-assignment')"
                                            :bold-match="search"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </v-simple-table>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    props: {
        schedule: {
            type: Object,
            required: true,
        },
        main: {
            type: Boolean,
            default: false,
        },
        search: {
            type: String,
        },
    },
    data() {
        return {
            loading: true,
            config: null,
            weekList: [],
            assignments: null,
            updating: false,
        };
    },
    computed: {
        displaySlots() {
            const words = this.search.split(' ').filter((w) => !!w).map((w) => w.toLowerCase());
            if (words.length > 0) {
                return this.schedule.slots.filter((s) => {
                    for (let i = 0; i < s.assignments.length; i++) {
                        let matches = true;
                        for (let j = 0; j < words.length; j++) {
                            if (s.assignments[i].user.fullname.toLowerCase().indexOf(words[j]) === -1) {
                                matches = false;
                                break;
                            }
                        }
                        if (matches) {
                            return true;
                        }
                    }
                    return false;
                });
            } else {
                return this.schedule.slots;
            }
        },
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.$cache.getConfig().then((config) => {
                this.config = config;
                this.weekList = [...Array(this.config.working_shift_frequency).keys()];

                const assignments = {};
                this.schedule.slots.forEach((slot) => {
                    slot.assignments.forEach((a) => {
                        const currentLeaves = a.user.leaves.filter((l) => {
                            return this.$moment().startOf('day').isSameOrAfter(l.start_at) &&
                                this.$moment().startOf('day').isSameOrBefore(l.end_at);
                        });
                        if (currentLeaves.length > 0) {
                            a.user.fullname = '(' + a.user.fullname + ')';
                        }
                    });
                    assignments[slot.id] = {};
                    this.weekList.forEach((week) => {
                        assignments[slot.id][week] = {};
                        slot.referentSlots = [...Array(slot.max_referents_per_slot).keys()];
                        slot.referentSlots.forEach((assignmentIndex) => {
                            assignments[slot.id][week]['referent_' + assignmentIndex] = {};
                        });
                        slot.otherSlots = [...Array(slot.max_workers_per_slot - 1).keys()];
                        slot.otherSlots.forEach((assignmentIndex) => {
                            assignments[slot.id][week][assignmentIndex] = {};
                        });
                        const slotWeekAssignments = slot.assignments.filter((a) => a.week_index === week);
                        const referentAssignments = slotWeekAssignments.filter((a) => a.referent);
                        referentAssignments.forEach((assignment, index) => {
                            assignments[slot.id][week]['referent_' + index] = assignment;
                        });
                        const otherAssignments = slotWeekAssignments.filter((a) => !a.referent);
                        otherAssignments.forEach((assignment, index) => {
                            assignments[slot.id][week][index] = assignment;
                        });
                    });
                });

                this.$set(this, 'assignments', assignments);

                this.loading = false;
            });
        },
        updateAssignment(slotId, week, assignmentKey, value) {
            if (!this._.isEqual(value, this.assignments[slotId][week][assignmentKey])) {
                this.updating = true;

                if (!!value) {
                    this.$request.get(`/api/shop-schedules/${this.schedule.id}/assignments/${value.id}`).then((response) => {
                        if (response.data.data.length > 0) {
                            const conflict = response.data.data[0];
                            const mesg = this.$t('slot-assignment.confirm-add-duplicate', {
                                conflictSlot: this.$t(`global.weekday-${conflict.slot.weekday}`) + ' ' +
                                    conflict.slot.start_at.substring(0, 5) + ' &gt; ' + conflict.slot.end_at.substring(0, 5) +
                                    ' ' + this.$t('slot-assignment.week') + ' ' +
                                    String.fromCharCode(65 + conflict.week_index),
                            });
                            this.$confirm(mesg).then((confirm) => {
                                if (confirm) {
                                    this.doUpdateAssignment(slotId, week, assignmentKey, value);
                                } else {
                                    this.updating = false;
                                }
                            });
                        } else {
                            this.doUpdateAssignment(slotId, week, assignmentKey, value);
                        }
                    });
                } else {
                    this.doUpdateAssignment(slotId, week, assignmentKey, value);
                }
            }
        },
        doUpdateAssignment(slotId, week, assignmentKey, value) {
            if (typeof assignmentKey == 'number') {
                assignmentKey = assignmentKey.toString();
            }
            this.updating = true;
            const prevValue = this.assignments[slotId][week][assignmentKey];

            let request;

            if ((!prevValue || !prevValue.id) && !!value) {
                request = this.$request.post(`/api/shop-schedules/${this.schedule.id}/slots/${slotId}/assignments`, {
                    user_id: value.id,
                    week_index: week,
                    referent: assignmentKey.substring(0, 9) === 'referent_',
                });
            }

            if (!!prevValue && !!prevValue.id && !!value) {
                request = this.$request.put(`/api/shop-schedules/${this.schedule.id}/slots/${slotId}/assignments/${prevValue.id}`, {
                    user_id: value.id,
                    week_index: week,
                    referent: assignmentKey.substring(0, 9) === 'referent_',
                });
            }

            if (!!prevValue && !!prevValue.id && !value) {
                request = this.$request.delete(`/api/shop-schedules/${this.schedule.id}/slots/${slotId}/assignments/${prevValue.id}`);
            }

            request.then((response) => {
                if (!!value) {
                    this.assignments[slotId][week][assignmentKey] = response.data.data;
                } else {
                    this.assignments[slotId][week][assignmentKey] = null;
                }
                this.updating = false;
            }).catch((error) => {
                if (!!error && !!error.response && !!error.response.data && !!error.response.data.error) {
                    this.$snackbar.show(error.response.data.error, 'error');
                }
                this.updating = false;
            });
        },
    },
}
</script>