<template>
    <resource-table
        resource-name="schedule"
        :uri-key="uriKey"
        :paginated="!parent"
        :columns="columns"
        :is-deletable="(schedule) => $moment(schedule.start_at).isAfter($moment())"
        :add-callback="addSchedule"
        :edit-callback="editSchedule"
        :delete-callback="deleteSchedule"
        :additional-params="additionalParams"
        @update:loading="$emit('update:loading', $event)"
        :root="root"
        ref="resourceTable"
        default-sort-by="start_at"
        :more-actions="allowDuplicate ? [
            {
                callback: duplicate,
                text: $t('schedule.duplicate'),
            },
        ] : []"
        debug-resource="shop-schedules"
    />
</template>

<script>
export default {
    props: {
        parent: {},
        showPassed: {
            type: Boolean,
            default: true,
        },
        allowDuplicate: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            columns: [
                {
                    text: this.$t('schedule.title'),
                    sortable: !this.parent,
                    value: 'title',
                },
                {
                    text: this.$t('schedule.start-at'),
                    sortable: !this.parent,
                    value: 'start_at',
                    getValue: (schedule) => !!schedule.start_at ? this.$moment(schedule.start_at).format(this.$t('dates.moment.short-date-format')) : '',
                },
                {
                    text: this.$t('schedule.end-at'),
                    sortable: !this.parent,
                    value: 'end_at',
                    getValue: (schedule) => !!schedule.end_at ? this.$moment(schedule.end_at).format(this.$t('dates.moment.short-date-format')) : '',
                },
            ],
        };
    },
    computed: {
        uriKey() {
            if (!!this.parent) {
                return 'overrides';
            } else {
                return 'shop-schedules';
            }
        },
        root() {
            if (!!this.parent) {
                return `/shop-schedules/${this.parent.id}/`;
            } else {
                return '/';
            }
        },
        additionalParams() {
            let res = {
                root_only: !this.parent ? 1 : 0,
                hide_passed: !this.parent ? (!this.showPassed ? 1 : 0) : 0,
            };
            if (!this.parent) {
                res.order_by = 'start_at';
            }
            return res;
        },
    },
    methods: {
        load() {
            this.$refs.resourceTable.load();
        },
        addSchedule() {
            if (!!this.parent) {
                this.$router.push({name: 'create-schedule-override', params: {schedule: this.parent.id}});
            } else {
                this.$router.push({name: 'create-schedule'});
            }
        },
        editSchedule(schedule) {
            if (!!this.parent) {
                this.$router.push({name: 'update-schedule-override', params: {schedule: this.parent.id, override: schedule.id}});
            } else {
                this.$router.push({name: 'update-schedule', params: {schedule: schedule.id}});
            }
        },
        deleteSchedule(schedule) {
            this.$confirm(this.$t(`schedule.confirm-delete${!!this.parent ? '-exception' : ''}`)).then((confirmed) => {
                if (confirmed) {
                    this.$request.delete(`/api/shop-schedules/${schedule.id}`).then(() => {
                        this.$eventBus.emit('schedule-deleted', {id: schedule.id});
                    });
                }
            });
        },
        duplicate(schedule) {
            this.$router.push({
                name: 'duplicate-schedule',
                params: {fromSchedule: schedule.id},
                query: this.$route.query,
            });
        },
    },
}
</script>