<template>
    <tr>
        <template v-if="readonly">
            <td class="text-center">{{ $t(`global.weekday-${scheduleSlot.weekday}`) }}</td>
            <td class="text-center">{{ scheduleSlot.start_at.substring(0, 5) }}</td>
            <td class="text-center">{{ scheduleSlot.end_at.substring(0, 5) }}</td>
            <td class="text-center">{{ $t(`global.${scheduleSlot.shop_open ? 'yes' : 'no'}`) }}</td>
        </template>
        <template v-else>
            <td class="text-center">
                <weekday-picker v-model="scheduleSlot.weekday" required />
            </td>
            <td class="text-center">
                <time-picker v-model="scheduleSlot.start_at" :interval="15" required />
            </td>
            <td class="text-center">
                <time-picker v-model="scheduleSlot.end_at" :interval="15" required />
            </td>
            <td class="text-center">
                <v-switch v-model="scheduleSlot.shop_open" />
            </td>
            <td class="text-right" v-if="!readonly" nowrap>
                <v-icon v-if="showAddButton" @click="$emit('add')">add</v-icon>
                <v-icon @click="showSettings = true">settings</v-icon>
                <v-icon @click="$emit('delete')">delete</v-icon>
            </td>
        </template>
        <v-dialog v-model="showSettings" :width="800">
            <v-card>
                <v-card-title>{{ $t('global.parameters') }}</v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="6" xs="4">
                            <v-text-field
                                v-model="scheduleSlot.min_workers_per_slot"
                                :label="$t('schedule.min-workers-per-slot')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4">
                            <v-text-field
                                v-model="scheduleSlot.max_workers_per_slot"
                                :label="$t('schedule.max-workers-per-slot')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4">
                            <v-text-field
                                v-model="scheduleSlot.ideal_workers_per_slot"
                                :label="$t('schedule.ideal-workers-per-slot')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4">
                            <v-text-field
                                v-model="scheduleSlot.flying_members_per_slot"
                                :label="$t('schedule.flying-members-per-slot')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4">
                            <v-text-field
                                v-model="scheduleSlot.max_referents_per_slot"
                                :label="$t('schedule.max-referents-per-slot')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4">
                            <v-text-field
                                v-model="scheduleSlot.comment"
                                :label="$t('schedule.comment')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4">
                            <v-switch
                                v-model="scheduleSlot.volunteer"
                                :label="$t('schedule.volunteer-slot')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4">
                            <v-switch
                                v-model="scheduleSlot.accounting"
                                :label="$t('schedule.accounting-slot')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4">
                            <v-switch
                                v-model="scheduleSlot.generate_key_code"
                                :label="$t('schedule.generate-key-code')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4">
                            <v-select
                                v-model="scheduleSlot.special_slot_type"
                                :label="$t('schedule.special-slot-type')"
                                :items="[
                                    {value: null, text: $t('schedule.normal-slot')},
                                    {value: 'inventory', text: $t('schedule.inventory-slot')},
                                ]"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4" v-if="scheduleSlot.special_slot_type !== null">
                            <v-text-field
                                v-model="scheduleSlot.frequency"
                                :label="$t('schedule.slot-frequency')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4" v-if="scheduleSlot.special_slot_type !== null">
                            <date-field
                                v-model="scheduleSlot.start_date"
                                :label="$t('schedule.start-date')"
                            />
                        </v-col>
                        <v-col cols="12" sm="6" xs="4" v-if="scheduleSlot.special_slot_type !== null">
                            <date-field
                                v-model="scheduleSlot.end_date"
                                :label="$t('schedule.end-date')"
                            />
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn @click="showSettings = false">{{ $t('global.ok') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </tr>
</template>

<script>
export default {
    props: {
        scheduleSlot: {
            type: Object,
            required: true,
        },
        readonly: {
            type: Boolean,
            default: false,
        },
        showAddButton: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            showSettings: false,
        };
    },
    methods: {
        validate() {
            return typeof this.scheduleSlot.weekday === 'number' && !!this.scheduleSlot.start_at && !!this.scheduleSlot.end_at;
        },
    },
}
</script>