<template>
    <v-simple-table>
        <thead>
            <tr>
                <th class="text-center">{{ $t('schedule.day') }}</th>
                <th class="text-center">{{ $t('schedule.start-time') }}</th>
                <th class="text-center">{{ $t('schedule.end-time') }}</th>
                <th class="text-center">{{ $t('schedule.shop-open') }}</th>
                <th v-if="!readonly" class="text-right">{{ $t('global.actions') }}</th>
            </tr>
        </thead>
        <tbody>
            <slot-row
                v-for="(slot, index) in value"
                :key="slot.id"
                :schedule-slot="slot"
                :readonly="readonly"
                :show-add-button="index === value.length - 1"
                @add="addSlot"
                @delete="deleteSlot(slot.id)"
                ref="slotRows"
            />

            <tr v-if="!readonly && value.length === 0">
                <td colspan="5" class="text-center">
                    <v-btn @click="addSlot" color="primary">{{ $t('global.add') }}</v-btn>
                </td>
            </tr>
        </tbody>
    </v-simple-table>
</template>

<script>
import Validatable from 'vuetify/lib/mixins/validatable';

export default {
    inject: {
        form: { default: null },
    },
    mixins: [Validatable],
    props: {
        value: {
            type: Array,
            required: true,
        },
        readonly: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            createSlotId: 0,
        };
    },
    created() {
        this.form && this.form.register(this);
    },
    beforeDestroy() {
        this.form && this.form.unregister(this);
    },
    methods: {
        addSlot() {
            this.value.push({
                id: --this.createSlotId,
                start_at: '',
                end_at: '',
                shop_open: true,
                generate_key_code: true,
                special_slot_type: null,
                frequency: null,
                start_date: null,
                end_date: null,
            });
        },
        deleteSlot(slotId) {
            this.$emit('input', this.value.filter((s) => s.id !== slotId));
        },
        validate() {
            if (!!this.$refs.slotRows) {
                return this._.reduce(this.$refs.slotRows, (prev, next) => {
                    return prev && next.validate();
                }, true);
            } else {
                return true;
            }
        },
    },
}
</script>