<template>
    <v-menu offset-y :close-on-content-click="false" v-model="show">
        <template v-slot:activator="{ on, attrs }">
            <v-text-field v-on="on" v-bind="attrs" readonly :label="label" :error-messages="errorMessages" :value="displayValue" append-icon="arrow_drop_down"></v-text-field>
        </template>

        <v-list>
            <v-list-item v-if="$vuetify.breakpoint.mdAndDown" class="d-flex align-center">
                <span class="flex-grow-1"></span>
                <v-btn fab small icon v-if="$vuetify.breakpoint.mdAndDown" @click="show = false">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-list-item>
            <v-menu v-for="slot in items" :key="slot.id" open-on-hover right offset-x :close-on-content-click="false" :ref="'slotMenu_' + slot.id">
                <template v-slot:activator="{ on, attrs }">
                    <v-list-item v-on="on" v-bind="attrs">
                        <v-checkbox
                            :label="slot.label"
                            :input-value="isSlotChecked(slot)"
                            @change="toggleSlotChecked(slot)"
                            :readonly="$vuetify.breakpoint.mdAndDown"
                            class="flex-grow-1"
                        />
                    </v-list-item>
                </template>

                <v-list>
                    <v-list-item>
                        <v-list-item-content>
                            <div class="d-flex align-center">
                                <span class="flex-grow-1">
                                    {{ slot.label }}
                                </span>
                                <v-btn fab small icon v-if="$vuetify.breakpoint.mdAndDown" @click="$refs['slotMenu_' + slot.id][0].callDeactivate()">
                                    <v-icon>close</v-icon>
                                </v-btn>
                            </div>
                        </v-list-item-content>
                    </v-list-item>
                    <hr />
                    <v-list-item>
                        <v-checkbox :label="$t('assignment-switch-offers.all-dates')" :input-value="isSlotAllDatesChecked(slot)" @change="toggleSlotAllDatesChecked(slot)" />
                    </v-list-item>
                    <hr />
                    <v-list-item v-for="(date, index) in slot.dates" :key="index">
                        <v-checkbox :label="$moment(date).format($t('dates.moment.short-date-format'))" :input-value="isSlotDateChecked(slot, date)" @change="toggleSlotDateChecked(slot, date)" />
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-list>
    </v-menu>
</template>

<script>
export default {
    props: {
        items: {
            type: Array,
            default: () => [],
        },
        value: {
            type: Object,
            required: true,
        },
        label: {
            type: String,
            required: true,
        },
        errorMessages: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            show: false,
        };
    },
    computed: {
        cleanValue() {
            const excludeKeys = Object.keys(this.value).filter((k) => !this.value[k]);
            return this._.omit(this.value, excludeKeys);
        },
        displayValue() {
            return this.items.filter((slot) => !!this.value[slot.id]).map((slot) => slot.label).join(', ');
        },
    },
    methods: {
        isSlotChecked(slot) {
            return !!this.value[slot.id];
        },
        toggleSlotChecked(slot) {
            if (this.isSlotChecked(slot)) {
                this.$emit('input', this._.omit(this.cleanValue, slot.id));
            } else {
                this.$emit('input', {...this.cleanValue, [slot.id]: {dates: slot.dates}});
            }
        },
        isSlotDateChecked(slot, date) {
            return this.isSlotChecked(slot) && this.value[slot.id].dates.indexOf(date) !== -1;
        },
        toggleSlotDateChecked(slot, date) {
            if (this.isSlotDateChecked(slot, date)) {
                this.$emit('input', {
                    ...this.cleanValue,
                    [slot.id]: {dates: this.value[slot.id].dates.filter((d) => d != date)},
                });
            } else if (this.isSlotChecked(slot)) {
                this.$emit('input', {
                    ...this.cleanValue,
                    [slot.id]: {dates: [...this.value[slot.id].dates, date]},
                });
            } else {
                this.$emit('input', {
                    ...this.cleanValue,
                    [slot.id]: {dates: [date]},
                });
            }
        },
        isSlotAllDatesChecked(slot) {
            return this.isSlotChecked(slot) && this.value[slot.id].dates.length === slot.dates.length;
        },
        toggleSlotAllDatesChecked(slot) {
            if (this.isSlotAllDatesChecked(slot)) {
                this.toggleSlotChecked(slot);
            } else {
                this.$emit('input', {
                    ...this.cleanValue,
                    [slot.id]: {dates: slot.dates},
                });
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.v-menu__content {
    max-height: 500px;
    min-width: auto !important;
}
</style>