<template>
    <v-card min-width="350px" flat>
        <v-toolbar color="primary" dark>
            <v-toolbar-title v-html="scheduleSlot.name"></v-toolbar-title>
        </v-toolbar>
        <v-card-text>
            <v-card>
                <v-card-text class="assignments-wrapper">
                    <span v-html="scheduleSlot.details"></span>
                    <div v-if="!!scheduleSlot.referents && scheduleSlot.referents.length > 0">{{ $t('slot-assignment.referents') }} :</div>
                    <ul v-if="!!scheduleSlot.referents && scheduleSlot.referents.length > 0">
                        <li v-for="assignment in scheduleSlot.referents" :key="assignment.id" style="display: flex; align-items: center;">
                            <v-checkbox v-if="!!onToggleSelect" :input-value="selection.map((i) => i.id).indexOf(assignment.user.id) !== -1" @change="onToggleSelect(assignment.user)" />
                            <span :class="{'switch-offered': !!assignment.switch_offers && assignment.switch_offers.length > 0}">
                                {{ assignment.user.fullname }}<template v-if="!!assignment.switch_offers && assignment.switch_offers.length > 0"> *</template>
                            </span>
                            <v-spacer />
                            <v-btn icon small v-if="$hasRole('admin-users')" :to="{name: 'schedule-show-user', params: {user: assignment.user.id}}">
                                <v-icon>visibility</v-icon>
                            </v-btn>
                            <v-btn icon small v-if="$hasRole('admin-users')" :to="{name: 'schedule-update-user', params: {user: assignment.user.id}}">
                                <v-icon>edit</v-icon>
                            </v-btn>
                            <v-menu v-if="(canManageReferents && !assignment.assignment) || (canAssignOthers && $moment(scheduleSlot.start).isAfter($moment()))">
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" icon small>
                                        <v-icon>more_vert</v-icon>
                                    </v-btn>
                                </template>

                                <v-list>
                                    <v-list-item
                                        v-if="canManageReferents && !assignment.assignment"
                                        @click="setAssignmentReferent(assignment.id, false)"
                                    >
                                        {{ $t('slot-assignment.remove-referent') }}
                                    </v-list-item>
                                    <v-list-item
                                        v-if="canAssignOthers && $moment(scheduleSlot.start).isAfter($moment())"
                                        @click="removeUser(scheduleSlot, assignment.user)"
                                    >
                                        {{ $t('slot-assignment.remove-user') }}
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </li>
                    </ul>
                    <div v-if="!!scheduleSlot.others && scheduleSlot.others.length > 0">{{ $t('slot-assignment.others') }} :</div>
                    <ul v-if="!!scheduleSlot.others && scheduleSlot.others.length > 0">
                        <li v-for="assignment in scheduleSlot.others" :key="assignment.id" style="display: flex; align-items: center;">
                            <v-checkbox v-if="!!onToggleSelect" :input-value="selection.map((i) => i.id).indexOf(assignment.user.id) !== -1" @change="onToggleSelect(assignment.user)" />
                            <span :class="{'switch-offered': !!assignment.switch_offers && assignment.switch_offers.length > 0}">
                                {{ assignment.user.fullname }}<template v-if="!!assignment.switch_offers && assignment.switch_offers.length > 0"> *</template>
                            </span>
                            <v-spacer />
                            <v-btn icon small v-if="$hasRole('admin-users')" :to="{name: 'schedule-show-user', params: {user: assignment.user.id}}">
                                <v-icon>visibility</v-icon>
                            </v-btn>
                            <v-btn icon small v-if="$hasRole('admin-users')" :to="{name: 'schedule-update-user', params: {user: assignment.user.id}}">
                                <v-icon>edit</v-icon>
                            </v-btn>
                            <v-menu v-if="(canManageReferents && !assignment.assignment && assignment.user.referent) || canAssignOthers">
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" icon small>
                                        <v-icon>more_vert</v-icon>
                                    </v-btn>
                                </template>

                                <v-list>
                                    <v-list-item
                                        v-if="canManageReferents && !assignment.assignment && assignment.user.referent"
                                        @click="setAssignmentReferent(assignment.id, true)"
                                    >
                                        {{ $t('slot-assignment.add-as-referent') }}
                                    </v-list-item>
                                    <v-list-item
                                        v-if="canAssignOthers"
                                        @click="removeUser(scheduleSlot, assignment.user)"
                                    >
                                        {{ $t('slot-assignment.remove-user') }}
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </li>
                    </ul>
                </v-card-text>
            </v-card>
            <div v-if="displaySwitchOffers"><b>*</b> {{ $t('slot-assignment.switch-offered-info') }}</div>
            <br v-if="canAssignOthers">
            <resource-select
                v-if="canAssignOthers"
                resource="users"
                item-value="id"
                item-text="fullname"
                :label="$t('slot-assignment.add-additional-user')"
                @input="addAdditionalUser(scheduleSlot, $event)"
                v-model="addAdditionalUserUser"
                :error-messages="addAdditionalUserErrors"
            />
        </v-card-text>
        <v-card-actions>
            <v-btn
                v-if="(canAssignFlying || scheduleSlot.volunteer) &&
                    (!scheduleSlot.accounting || $store.state.user.accounting_team) &&
                    scheduleSlot.flyingTeamCount < scheduleSlot.flying_members_per_slot &&
                    $moment(scheduleSlot.start).isAfter($moment()) &&
                    scheduleSlot.assignments.map((a) => a.user_id).indexOf($store.state.user.id) === -1"
                color="primary"
                @click="assignToSlot(scheduleSlot)"
            >
                {{ $t('slot-assignment.assign-myself-to-slot') }}
            </v-btn>
            <v-btn
                v-if="$store.state.user.active &&
                    $moment(scheduleSlot.start).isAfter($moment()) &&
                    scheduleSlot.assignments.map((a) => a.user_id).indexOf($store.state.user.id) !== -1 &&
                    !scheduleSlot.assignments.filter((a) => a.user_id === $store.state.user.id)[0].assignment_id"
                color="error"
                @click="unassignFromSlot(scheduleSlot)"
            >
                {{ $t('slot-assignment.unassign-myself-from-slot') }}
            </v-btn>
            <v-spacer />
            <v-btn color="secondary" @click="$emit('close')">
                {{ $t('global.close') }}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: {
        scheduleSlot: {
            type: Object,
            required: true,
        },
        loading: {
            type: Boolean,
            default: false,
        },
        loadingCompensations: {
            type: Boolean,
            default: false,
        },
        hasCompensations: {
            type: Boolean,
            default: false,
        },
        displaySwitchOffers: {
            type: Boolean,
            default: false,
        },
        onToggleSelect: {
            type: Function,
            default: null,
        },
        selection: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            addAdditionalUserUser: null,
            addAdditionalUserErrors: [],
        };
    },
    computed: {
        canAssignFlying() {
            return !this.loading && !this.loadingCompensations && this.$store.state.user.active &&
                (this.$store.state.user.flying_team || this.hasCompensations);
        },
        canManageReferents() {
            return this.$hasRole('admin-slot-assignment');
        },
        canAssignOthers() {
            return this.$hasRole('admin-slot-assignment');
        },
    },
    watch: {
        scheduleSlot() {
            this.addAdditionalUserUser = null;
            this.addAdditionalUserErrors = [];
        },
    },
    methods: {
        assignToSlot(event) {
            this.$confirm(this.$t('slot-assignment.confirm-assign-to-slot')).then((response) => {
                if (response) {
                    this.$request.post(`/api/shop-schedule-slots/${event.shop_schedule_slot_id}/assign-flying`, {
                        date: event.start,
                        user_id: this.$store.state.user.id,
                    }).then((response) => {
                        this.$emit('trigger-reload');
                        this.$snackbar.show(this.$t('slot-assignment.assignment-done'));
                    });
                }
            });
        },
        unassignFromSlot(event) {
            this.$confirm(this.$t('slot-assignment.confirm-unassign-from-slot')).then((response) => {
                if (response) {
                    this.$request.post(`/api/shop-schedule-slots/${event.shop_schedule_slot_id}/unassign-flying`, {
                        date: event.start,
                        user_id: this.$store.state.user.id,
                    }).then((response) => {
                        this.$emit('trigger-reload');
                        this.$snackbar.show(this.$t('slot-assignment.unassignment-done'));
                    });
                }
            });
        },
        setAssignmentReferent(assignmentId, referent) {
            this.$request.put(`/api/actual-assignments/${assignmentId}`, {referent}).then((response) => {
                this.$emit('trigger-reload');
            });
        },
        addAdditionalUser(event, user) {
            if (!!user) {
                this.addAdditionalUserErrors = [];
                this.$request.post(`/api/shop-schedule-slots/${event.shop_schedule_slot_id}/assign-flying?admin=1`, {
                    date: event.start,
                    user_id: user.id,
                }).then((response) => {
                    this.$emit('trigger-reload');
                    this.addAdditionalUserUser = null;
                }).catch((error) => {
                    this.addAdditionalUserErrors = [error.response.data.error];
                });
            }
        },
        removeUser(event, user) {
            this.$confirm(this.$t('slot-assignment.confirm-remove-user')).then((response) => {
                if (response) {
                    this.$request.post(`/api/shop-schedule-slots/${event.shop_schedule_slot_id}/unassign-flying?admin=1`, {
                        date: event.start,
                        user_id: user.id,
                    }).then((response) => {
                        this.$emit('trigger-reload');
                    });
                }
            });
        },
    },
}
</script>

<style lang="scss" scoped>
.switch-offered {
    font-weight: bold;
}
.assignments-wrapper {
    max-height: calc(100vh - 280px);
    overflow-y: auto;
}
</style>