<template>
    <base-modal :loading="loading" :value="!!technicalView" @input="$store.dispatch('setTechnicalView', null)" card-class="technical-view">
        <template slot="title">
            {{ $t('global.technical-view') }}
        </template>
        <v-list>
            <v-list-item v-for="key in keys" :key="key">
                <v-list-item-title>{{ key }}</v-list-item-title>
                <v-list-item-subtitle>{{ resource[key] }}</v-list-item-subtitle>
            </v-list-item>
        </v-list>
        <template slot="actions">
            <v-spacer />
            <v-btn @click="$store.dispatch('setTechnicalView', null)">{{ $t('global.close') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
import { mapState } from 'vuex';
export default {
    data() {
        return {
            loading: true,
            resource: {},
        };
    },
    computed: {
        ...mapState(['technicalView']),
        keys() {
            return Object.keys(this.resource);
        },
        resourceUri() {
            return !!this.technicalView ? this.technicalView.resource : null;
        },
        resourceId() {
            return !!this.technicalView ? this.technicalView.resourceId : null;
        },
    },
    watch: {
        technicalView() {
            this.load();
        },
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            if (!!this.technicalView) {
                this.$request.get(`/api/${this.resourceUri}/${this.resourceId}`).then((response) => {
                    this.resource = response.data.data;
                    this.loading = false;
                });
            } else {
                this.resource = {};
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.v-list-item__subtitle {
    white-space: normal;
}
</style>