<template>
    <div class="time-picker">
        <v-select
            v-model="selectedHours"
            :items="hours"
            :required="required"
            :rules="rules"
            size="2"
        />
        <span>h</span>
        <v-select
            v-model="selectedMinutes"
            :items="minutes"
            :required="required"
            :rules="rules"
            size="2"
        />
    </div>
</template>

<script>
export default {
    props: {
        value: String,
        interval: {
            type: Number,
            required: true,
        },
        required: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        const hours = [];
        for (let h = 0; h < 24; h++) {
            hours.push({
                text: h.toString().padStart(2, '0'),
                value: h.toString().padStart(2, '0'),
            });
        }
        const minutes = [];
        for (let m = 0; m < 60; m += this.interval) {
            minutes.push({
                text: m.toString().padStart(2, '0'),
                value: m.toString().padStart(2, '0'),
            });
        }
        return {
            hours,
            minutes,
            selectedHours: null,
            selectedMinutes: '00',
        };
    },
    computed: {
        rules() {
            let res = [];
            if (this.required) {
                res.push((v) => !!v || this.$t('validation.field-required'));
            }
            return res;
        },
    },
    mounted() {
        this.parseValue();
    },
    watch: {
        value() {
            this.parseValue();
        },
        selectedHours() {
            this.emitValue();
        },
        selectedMinutes() {
            this.emitValue();
        },
    },
    methods: {
        parseValue() {
            if (!!this.value) {
                this.selectedHours = this.value.split(':')[0];
                this.selectedMinutes = this.value.split(':')[1];
            }
        },
        emitValue() {
            if (!!this.selectedHours && !!this.selectedMinutes) {
                this.$emit('input', this.selectedHours + ':' + this.selectedMinutes + ':00');
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.time-picker {
    display: flex;
    align-items: center;
    > span {
        margin: 0 10px;
    }
    .v-input {
        width: 50px;
    }
}
</style>