<template>
    <v-select
        :value="value"
        @input="$emit('input', $event)"
        :items="weekdays"
        :required="required"
        :rules="rules"
        :label="label"
        :multiple="multiple"
        :hint="hint"
        :persistent-hint="persistentHint"
    />
</template>

<script>
export default {
    props: {
        value: Number|String|Array,
        required: {
            type: Boolean,
            default: false,
        },
        multiple: {
            type: Boolean,
            default: false,
        },
        label: String,
        dayPart: {
            type: Boolean,
            default: false,
        },
        hint: String,
        persistentHint: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            weekdays: [],
        };
    },
    computed: {
        rules() {
            let res = [];
            if (this.required) {
                res.push((v) => typeof v === 'number' || this.$t('validation.field-required'));
            }
            return res;
        },
    },
    created() {
        if (this.dayPart) {
            this.$cache.getDayParts().then((dayParts) => {
                [1, 2, 3, 4, 5, 6, 0].forEach((weekday) => {
                    dayParts.forEach((dayPart) => {
                        this.weekdays.push({
                            value: weekday + '_' + dayPart.id,
                            text: this.$t(`global.weekday-${weekday}`) + ' ' + dayPart.label,
                        });
                    });
                });
            });
        } else {
            this.weekdays = [1, 2, 3, 4, 5, 6, 0].map((d) => {
                return {
                    value: d,
                    text: this.$t(`global.weekday-${d}`),
                };
            });
        }
    },
}
</script>