<template>
    <v-card class="home-box">
        <v-card-title>
            <h2>{{ $t('menus.main.assignment-switch-offers') }}</h2>
        </v-card-title>
        <v-card-text>
            <my-switch-offers-card class="mb-3" flat title-tag="h3" />

            <available-switch-offers-card flat title-tag="h3" />
        </v-card-text>
    </v-card>
</template>