<template>
    <v-card :loading="loading" class="home-box">
        <v-card-title>
            <h2>{{ $t('home.my-assignments') }}</h2>
        </v-card-title>
        <v-card-text v-if="!loading">
            <v-card v-for="assignment in mainAssignments" :key="assignment.id" flat>
                <v-card-title>
                    <h3>{{ $t('home.assigned-slot') }}</h3>
                </v-card-title>
                <v-card-text>
                    {{ $t(`global.weekday-${assignment.slot.weekday}`) }} {{ assignment.slot.start_at.substring(0, 5) }} &gt; {{ assignment.slot.end_at.substring(0, 5) }}
                    {{ $t('slot-assignment.week') + ' ' + String.fromCharCode(65 + assignment.week_index) }}
                    {{ assignment.referent ? '(' + $t('users.referent') + ')' : '' }}<br>
                    <span v-if="assignment.referent_users.length > 0">{{ $t('users.referents') }} :</span>
                    <li v-for="referent in assignment.referent_users" :key="referent.id">
                        {{ referent.fullname }}
                        <v-icon
                            v-if="!!$sendUserMessage"
                            @click="$sendUserMessage(referent)"
                            :title="$t('global.send-message')"
                        >
                            message
                        </v-icon>
                    </li>
                    
                </v-card-text>
            </v-card>

            <v-card v-if="mainAssignments.length === 0" flat>
                <v-card-text>
                    {{ $t('home.no-assigned-slot') }}
                </v-card-text>
            </v-card>

            <v-card v-if="!!nextAssignment" flat class="next-assignment-card" dark color="primary">
                <v-card-title>
                    <h3>{{ $t('users.next-assignment') }}</h3>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col class="flex-grow-0">
                            <v-icon large>calendar_today</v-icon>
                        </v-col>
                        <v-col class="flex-grow-1 next-assignment-date">
                            {{ $moment($moment(nextAssignment.date).format('YYYY-MM-DD') + ' ' + nextAssignment.slot.start_at).format($t('dates.moment.date-time')) }}
                        </v-col>
                    </v-row>
                    <v-list color="primary" v-if="!!nextAssignment.key_codes">
                        <v-list-item>
                            <v-list-item-title>{{ $t('home.opening-key-code') }}</v-list-item-title>
                            <v-list-item-action>
                                <v-list-item-action-text>{{ nextAssignment.key_codes.opening }}</v-list-item-action-text>
                            </v-list-item-action>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title>{{ $t('home.closing-key-code') }}</v-list-item-title>
                            <v-list-item-action>
                                <v-list-item-action-text>{{ nextAssignment.key_codes.closing }}</v-list-item-action-text>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>
                </v-card-text>
            </v-card>
        </v-card-text>
        <v-card-actions>
            <v-spacer />
            <v-btn :to="{name: 'my-schedule'}">{{ $t('home.see-my-schedule') }}</v-btn>
            <v-spacer />
        </v-card-actions>
        <v-card-actions v-if="$store.state.user.flying_team">
            <v-spacer />
            <v-btn :to="{name: 'schedule'}">{{ $t('home.schedule-assignment') }}</v-btn>
            <v-spacer />
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            mainAssignments: [],
            nextAssignment: null,
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get('/api/shop-schedules/get-user-assignments').then((response) => {
                this.mainAssignments = response.data.assignments.filter((a) => a.slot.schedule.override_shop_schedule_id === null);
                this.nextAssignment = response.data.next_assignment;
                this.loading = false;
            });
        },
    },
}
</script>

<style lang="scss" scoped>
.next-assignment-card {
    div.row {
        align-items: center;
    }
    div.next-assignment-date {
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        &:first-letter {
            text-transform: uppercase;
        }
    }
}
</style>