<template>
    <v-card :loading="loading" class="home-box">
        <v-card-title>
            <h2>{{ $t('home.my-status') }}</h2>
        </v-card-title>

        <v-card-text v-if="!loading">
            <v-list>
                <v-list-item>
                    <v-list-item-title>{{ $t('users.member-status') }}</v-list-item-title>

                    <v-list-item-subtitle>
                        <v-icon :color="status.color">{{ status.icon }}</v-icon>
                        {{ status.text }}
                    </v-list-item-subtitle>
                </v-list-item>
            </v-list>

            <v-card v-if="compensations.length > 0" flat>
                <v-card-title>
                    <h3>{{ $t('users.compensations-to-perform') }}</h3>
                </v-card-title>
                <v-card-text>
                    <ul>
                        <li v-for="c in compensations" :key="c.assignment.id" v-text="getCompensationText(c)" />
                    </ul>
                </v-card-text>
            </v-card>

            <owed-assignments-card class="mb-3" flat title-tag="h3" />
        </v-card-text>

        <v-card-actions v-if="hasUnscheduledCompensations">
            <v-spacer />
            <v-btn :to="{name: 'schedule'}">{{ $t('home.schedule-compensations') }}</v-btn>
            <v-spacer />
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            userStatus: null,
            compensations: [],
        };
    },
    computed: {
        scheduledCompensations() {
            return this.compensations.map((c) => c.compensations.scheduled).reduce((a, b) => a + b, 0);
        },
        unscheduledCompensations() {
            return this.compensations.map((c) => c.compensations.unscheduled).reduce((a, b) => a + b, 0);
        },
        status() {
            switch (this.userStatus) {
                case 'up-to-date':
                    return {
                        icon: 'check',
                        color: 'success',
                        text: this.$t('users.status-up-to-date'),
                        allowedToShop: true,
                    };
                case 'alert':
                    return {
                        icon: 'warning',
                        color: 'warning',
                        text: this.$t('users.status-alert'),
                        allowedToShop: true,
                    };
                case 'suspended':
                    return {
                        icon: 'close',
                        color: 'error',
                        text: this.$t('users.status-suspended'),
                        allowedToShop: false,
                    };
                case 'blocked':
                    return {
                        icon: 'close',
                        color: 'error',
                        text: this.$t('users.status-blocked'),
                        allowedToShop: false,
                    };
                case 'inactive':
                    return {
                        icon: 'close',
                        color: 'error',
                        text: this.$t('users.status-inactive'),
                        allowedToShop: false,
                    };
            }
        },
        hasUnscheduledCompensations() {
            return this.compensations.filter((c) => c.compensations.unscheduled > 0).length > 0;
        },
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.loading = true;
            this.$request.get('/api/shop-schedules/get-user-compensations').then((response) => {
                this.userStatus = response.data.status;
                this.compensations = response.data.compensations;
                this.loading = false;
            });
        },
        getCompensationText(compensation) {
            return this.$t('users.compensation-to-perform-description', {
                total: compensation.compensations.scheduled + compensation.compensations.unscheduled,
                scheduled: compensation.compensations.scheduled,
                unscheduled: compensation.compensations.unscheduled,
                limit_date: this.$moment(compensation.limit_date).format(this.$t('dates.moment.short-date-format')),
            });
        },
    },
}
</script>