<template>
    <base-modal v-model="show" :loading="!training" :width="500">
        <template v-slot:title v-if="mode === 'create' || !!training">
            {{ $t(`trainings.${mode}-modal-title`) }}
        </template>

        <v-form v-model="valid" v-if="mode === 'create' || !!training" @submit.prevent="submit">
            <v-text-field
                v-model="training.label"
                :label="$t('trainings.label')"
                :error-messages="errors.label"
                autofocus
            />
        </v-form>

        <template v-slot:actions v-if="mode === 'create' || !!training">
            <v-spacer />
            <v-btn @click="show = false" :disabled="saving">{{ $t('global.cancel') }}</v-btn>
            <v-btn @click="submit" color="primary" :disabled="saving" :loading="saving">{{ $t('global.save') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            mode: null,
            show: true,
            training: {},
            valid: true,
            saving: false,
            errors: {
                label: [],
            },
        };
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                this.$router.push({name: 'admin-trainings', query: this.$route.query});
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.load();
        next();
    },
    methods: {
        load() {
            if (this.mode === 'update') {
                this.training = null;
                this.$request.get(`/api/trainings/${this.$route.params.training}`).then((response) => {
                    this.training = response.data.data;
                });
            } else {
                this.training = {};
            }
        },
        submit() {
            this.saving = true;
            let url, method;
            if (this.mode === 'update') {
                url = `/api/trainings/${this.training.id}`;
                method = 'put';
            } else {
                url = `/api/trainings`;
                method = 'post';
            }
            this.$request[method](url, this.training).then((response) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = [];
                });
                this.saving = false;
                this.show = false;
                this.$cache.forget('trainings');
                if (this.mode === 'update') {
                    this.$eventBus.emit('training-updated', response.data.data);
                } else {
                    this.$eventBus.emit('training-created', response.data.data);
                }
            }).catch((error) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = !!error.response && !!error.response.data && !!error.response.data.errors ?
                        (error.response.data.errors[key] || []) :
                        [];
                });
                this.saving = false;
            });
        },
    },
}
</script>