<template>
    <resource-page
        :title="$t('menus.config.trainings')"
        resource-name="training"
        :columns="columns"
    />
</template>

<script>
export default {
    data() {
        return {
            columns: [
                {
                    text: this.$t('trainings.label'),
                    value: 'label',
                },
            ],
        };
    },
}
</script>