<template>
    <base-modal v-model="show" :loading="!leave" :width="500">
        <template v-slot:title v-if="leave !== null">
            {{ $t(`leaves.${mode}-modal-title`) }}
        </template>

        <v-form v-model="valid" v-if="leave !== null" @submit.prevent="submit">
            <v-select
                v-model="leave.leave_type_id"
                :label="$t('leaves.leave-type')"
                :items="leaveTypes"
                item-text="label"
                item-value="id"
                :error-messages="errors.leave_type_id"
                :disabled="startAtDisabled && !$hasRole('admin-leaves')"
            />
            <date-field
                v-model="leave.start_at"
                :label="$t('leaves.start-at')"
                :error-messages="errors.start_at"
                :min="minDate"
                :disabled="startAtDisabled"
            />
            <date-field
                v-model="leave.end_at"
                :label="$t('leaves.end-at')"
                :error-messages="errors.end_at"
                :min="minDate"
                :disabled="endAtDisabled"
            />
            <v-textarea
                v-model="leave.comment"
                :label="$t('leaves.comment')"
                :error-messages="errors.comment"
            />
        </v-form>

        <template v-slot:actions v-if="leave !== null">
            <v-spacer />
            <v-btn @click="show = false" :disabled="saving">{{ $t('global.cancel') }}</v-btn>
            <v-btn @click="submit" color="primary" :disabled="saving" :loading="saving">{{ $t('global.save') }}</v-btn>
        </template>
    </base-modal>
</template>

<script>
export default {
    data() {
        return {
            mode: null,
            show: true,
            leaveTypes: [],
            leave: null,
            valid: true,
            saving: false,
            rules: {
                start_at: [],
                end_at: [],
                leave_type_id: [],
                comment: [],
            },
            errors: {
                start_at: [],
                end_at: [],
                leave_type_id: [],
                comment: [],
            },
            minDate: !this.$hasRole('admin-leaves') ?
                this.$moment().add(1, 'day').startOf('day').format() :
                null,
            startAtDisabled: false,
            endAtDisabled: false,
        };
    },
    computed: {
        userId() {
            return this.$route.query.user || this.$store.state.user.id;
        },
    },
    watch: {
        show(newValue, oldValue) {
            if (oldValue && !newValue) {
                this.$router.push({name: 'leaves', query: this.$route.query});
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeRouteUpdate(to, from, next) {
        this.load();
        next();
    },
    methods: {
        load() {
            this.leave = null;
            this.$cache.getLeaveTypes().then((leaveTypes) => {
                this.leaveTypes = leaveTypes;
                if (this.mode === 'update') {
                    this.$request.get(`/api/users/${this.userId}/leaves/${this.$route.params.leave}`).then((response) => {
                        this.leave = response.data.data;
                        this.startAtDisabled = this.$moment(this.leave.start_at).isSameOrBefore(this.$moment().startOf('day')) &&
                            !this.$hasRole('admin-leaves');
                        this.endAtDisabled = this.$moment(this.leave.end_at).isBefore(this.$moment().startOf('day')) &&
                            !this.$hasRole('admin-leaves');
                    });
                } else {
                    this.leave = {};
                    this.startAtDisabled = false;
                    this.endAtDisabled = false;
                }
            });
        },
        submit() {
            this.saving = true;
            let url, method;
            if (this.mode === 'update') {
                url = `/api/users/${this.userId}/leaves/${this.leave.id}`;
                method = 'put';
            } else {
                url = `/api/users/${this.userId}/leaves`;
                method = 'post';
            }
            this.$request[method](url, this.leave).then((response) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = [];
                });
                this.saving = false;
                this.show = false;
                if (this.mode === 'update') {
                    this.$eventBus.emit('leave-updated', response.data.data);
                } else {
                    this.$eventBus.emit('leave-created', response.data.data);
                }
            }).catch((error) => {
                Object.keys(this.errors).forEach((key) => {
                    this.errors[key] = !!error.response && !!error.response.data && !!error.response.data.errors ?
                        (error.response.data.errors[key] || []) :
                        [];
                });
                this.saving = false;
            });
        },
    },
}
</script>