<template>
    <resource-page
        :title="$t('menus.main.leaves') + (!!user && user.id !== $store.state.user.id ? ` (${user.fullname})` : '')"
        resource-name="leave"
        :columns="columns"
        paginated
        ref="resourcePage"
        :additional-params="{hide_passed: !showPassed ? 1 : 0}"
        default-sort-by="start_at"
        :is-deletable="isDeletable"
        :root="root"
        :is-editable="isEditable"
    >
        <template v-slot:title-right>
            <v-switch
                v-model="showPassed"
                :label="$t('leaves.show-passed')"
            />
        </template>
    </resource-page>
</template>

<script>
export default {
    data() {
        return {
            columns: [
                {
                    text: this.$t('leaves.leave-type'),
                    getValue: (leave) => leave.leave_type.label,
                },
                {
                    text: this.$t('leaves.start-at'),
                    sortable: true,
                    value: 'start_at',
                    getValue: (leave) => this.$moment(leave.start_at).format(this.$t('dates.moment.short-date-format')),
                },
                {
                    text: this.$t('leaves.end-at'),
                    sortable: true,
                    value: 'end_at',
                    getValue: (leave) => this.$moment(leave.end_at).format(this.$t('dates.moment.short-date-format')),
                },
            ],
            user: null,
        };
    },
    computed: {
        showPassed: {
            get() {
                return this.$route.query.show_passed === '1';
            },
            set(value) {
                if (value !== this.showPassed) {
                    this.$router.push({query: {...this.$route.query, show_passed: value ? '1' : '0', page: '1'}});
                }
            },
        },
        userId: {
            get() {
                return this.$route.query.user || this.$store.state.user.id;
            },
            set(userId) {
                if (userId !== this.userId) {
                    this.$router.push({query: {...this.$route.query, user: userId}});
                }
            },
        },
        root() {
            return `/users/${this.userId}/`;
        },
    },
    watch: {
        showPassed(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.$refs.resourcePage.load();
            }
        },
        userId(value) {
            this.loadUser();
        },
    },
    created() {
        this.loadUser();
    },
    methods: {
        loadUser() {
            if (!this.userId) {
                this.user = null;
            } else {
                this.$request.get(`/api/users/${this.userId}`).then((response) => {
                    this.user = response.data.data;
                });
            }
        },
        isEditable(leave) {
            return !leave.leave_type.requires_admin || this.$hasRole('admin-leaves');
        },
        isDeletable(leave) {
            return this.$hasRole('admin-leaves') ||
                this.$moment(leave.start_at).isAfter(this.$moment()) && (
                    !leave.leave_type.requires_admin || this.$hasRole('admin-leaves')
                );
        },
    },
}
</script>