<template>
    <v-card flat="flat">
        <v-card-title>
            <component :is="titleTag">
                {{ $t('assignment-switch-offers.available-offers') }}
            </component>
        </v-card-title>
        <v-card-text>
            <resource-table
                resource-name="assignmentSwitchOffer"
                uri-key="assignment-switch-offers"
                :columns="columns"
                :additional-params="{
                    with_slot: 1,
                    with_offer_user: 1,
                    switchable: 1,
                    with_current_user_replies: 1,
                    active: 1,
                }"
                :can-add="false"
                :can-edit="false"
                :can-delete="false"
                @update:loading="$emit('update:loading', $event)"
                :actions="[
                    {
                        callback: replyToOffer,
                        icon: 'reply',
                        isCallable: (o) => this.$store.state.user.active && o.current_user_replies.filter((r) => r.accepted === null).length === 0,
                    },
                    {
                        callback: cancelReplyToOffer,
                        icon: 'cancel',
                        isCallable: (o) => this.$store.state.user.active && o.current_user_replies.filter((r) => r.accepted === null).length > 0,
                    },
                ]"
                :no-data-text="$t('assignment-switch-offers.no-available-offers')"
                :paginated="$store.state.user.flying_team"
                page-param="available_switch_offers_page"
                items-per-page-param="available_switch_offers_items_per_page"
            />
        </v-card-text>
    </v-card>
</template>

<script>
import SwitchOffersCardMixin from './SwitchOffersCardMixin.vue';

export default {
    mixins: [SwitchOffersCardMixin],
    props: {
        flat: {
            type: Boolean,
            default: false,
        },
        titleTag: {
            type: String,
            default: 'div',
        },
    },
}
</script>