<template>
    <v-card flat="flat">
        <v-card-title>
            <component :is="titleTag">
                {{ $t('assignment-switch-offers.my-offers') }}
            </component>
        </v-card-title>
        <v-card-text>
            <resource-table
                resource-name="assignmentSwitchOffer"
                uri-key="assignment-switch-offers"
                :columns="columns"
                :additional-params="{
                    with_slot: 1,
                    with_offer_user: 1,
                    with_pending_replies: 1,
                    active: 1,
                    offer_user_id: $store.state.user.id,
                    paginate: 0,
                }"
                :can-edit="true"
                @update:loading="$emit('update:loading', $event)"
                :no-data-text="$t('assignment-switch-offers.no-offers-from-you')"
            />
        </v-card-text>
    </v-card>
</template>

<script>
import SwitchOffersCardMixin from './SwitchOffersCardMixin.vue';

export default {
    mixins: [SwitchOffersCardMixin],
    props: {
        flat: {
            type: Boolean,
            default: false,
        },
        titleTag: {
            type: String,
            default: 'div',
        },
    },
}
</script>