<template>
    <v-card flat="flat" v-show="hasResources">
        <v-card-title>
            <component :is="titleTag">
                {{ $t('assignment-switch-offers.owed-assignments') }}
            </component>
        </v-card-title>
        <v-card-text>
            <p v-html="$t('assignment-switch-offers.owed-assignments-explanation')"></p>
            <resource-table
                resource-name="owedAssignment"
                uri-key="owed-assignments"
                :columns="columns"
                :additional-params="{
                }"
                :can-add="false"
                :can-edit="false"
                :can-delete="false"
                @update:loading="$emit('update:loading', $event)"
                :root="`/users/${$store.state.user.id}/`"
                @update:resources="hasResources = $event.length > 0"
                :actions="[
                    {
                        type: 'button',
                        text: $t('assignment-switch-offers.schedule-switch'),
                        callback: () => $router.push('/schedule'),
                    },
                ]"
            />
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            columns: [
                {
                    text: this.$t('assignment-switch-offers.initial-assignment-date'),
                    value: 'initial_assignment_date',
                    getValue: (owedAssignment) => this.$moment(owedAssignment.initial_assignment_date).format(this.$t('dates.moment.short-date-format')),
                },
                {
                    text: this.$t('assignment-switch-offers.max-assignment-date'),
                    value: 'max_assignment_date',
                    getValue: (owedAssignment) => this.$moment(owedAssignment.max_assignment_date).format(this.$t('dates.moment.short-date-format')),
                },
            ],
            hasResources: false,
        };
    },
    props: {
        flat: {
            type: Boolean,
            default: false,
        },
        titleTag: {
            type: String,
            default: 'div',
        },
    },
}
</script>